<div [className]="_HelperService._Assets.Box.root">
    <div [className]="_HelperService._Assets.Box.bodyFilter">
        <!-- <h3> {{PosTerminalsList_Config.Title}}</h3> -->
        <!-- <div class="float-right">
                    <a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.AddPosTerminal}}" class="btn btn-outline b-warn text-warn btn-sm  mr-2">
                        {{'Common.AddNew' | translate }}</a>
                </div> -->
        <div class="form-inline">
            <div class="input-group mr-2"><input type="text" maxlength="100"
                    [(ngModel)]="PosTerminalsList_Config.SearchParameter" class="form-control"
                    placeholder="{{ 'Common.Search' | translate }}">
                <div class="input-group-append"><button class="btn btn-white" type="button"
                        (click)="PosTerminalsList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)">{{
                            'Common.Go' | translate }}</button></div>
            </div>
            <!-- <input type="text" [value]="PosTerminalsList_Config.SearchParameter" maxlength="256" class="form-control mr-2"
                                                                placeholder="{{ 'Common.Search' | translate }}" (keyup)="PosTerminalsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Search)"> -->
            <input type="text" class="form-control  mr-2" name="daterangeInput" daterangepicker
                [options]="_HelperService.AppConfig.DateRangeOptions"
                (selected)="PosTerminalsList_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" />
            <select2 class=" mr-2" [options]="_HelperService.Select2Options_Multiple"
                [data]="PosTerminalsList_Config.SortExpressionOption"
                (valueChanged)="PosTerminalsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Sort)">
            </select2>
            <select2 class=" mr-2" [options]="_DataHelperService.S2_Status_Option"
                (valueChanged)="PosTerminalsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)">
            </select2>
            <ul class="nav nav-xs">
                <!-- <li title="{{ 'Common.FilterT' | translate }}" class="nav-item" (click)="PosTerminalsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.ToggleFilter)"><a
                                class="nav-link"><i class=" {{ 'Common.FilterI' | translate }}"></i></a></li> -->
                <li title="{{ 'Common.DownloadT' | translate }}" class="nav-item"
                    (click)="PosTerminalsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Csv)"><a
                        class="nav-link"><i class="{{ 'Common.DownloadI' | translate }}"></i></a></li>
                <li title="{{ 'Common.RefreshT' | translate }}" class="nav-item" (click)="PosTerminalsList_GetData()"><a
                        class="nav-link"><i class="{{ 'Common.RefreshI' | translate }}"></i></a></li>
            </ul>
        </div>
        <div *ngIf="PosTerminalsList_Config.ToggleFilter">
            <div class="form-inline pt-3">
                <div class="input-group ">
                    <div class="input-group-prepend">
                        <select2 [options]="_HelperService.Select2Options_SearchColumn"
                            [data]="PosTerminalsList_Config.VisiblityOptions"
                            [value]="PosTerminalsList_Config.SearchColumns"
                            (valueChanged)="PosTerminalsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.SearchColumnChange)">
                        </select2>
                    </div>
                    <input type="text" [(ngModel)]="PosTerminalsList_Config.ColumnSearchParameter" maxlength="256"
                        class="form-control" placeholder="{{ 'Common.ValueToSearch' | translate }}">
                    <div class="input-group-append mr-2"><button class="btn white" type="button"
                            (click)="PosTerminalsList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)">{{
                                'Common.Go' | translate }}</button>
                    </div>
                </div>
            </div>
            <div class="form-inline pt-3">
                <select2 class="m-r-5" [options]="_HelperService.Select2Options_Multiple"
                    [data]="PosTerminalsList_Config.VisiblityOptions" [value]="PosTerminalsList_Config.Visiblity"
                    (valueChanged)="PosTerminalsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Visiblity)">
                </select2>
            </div>
        </div>
    </div>

    <div class="box-body p-0">
        <table class="{{_HelperService.AppConfig.TablesConfig.DefaultClass}}">
            <thead>
                <tr>
                    <th class="td-status">
                        <i class="{{ 'Common.StatusI' | translate }}"></i>
                    </th>
                    <th *ngFor="let TItem of PosTerminalsList_Config.VisibleHeaders" class="{{TItem.Class}}">
                        {{TItem.DisplayName}}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr
                    *ngFor="let TItem of PosTerminalsList_Config.Data
                                                                            | paginate: { id: 'PosTerminalsList',itemsPerPage: PosTerminalsList_Config.PageRecordLimit, currentPage: PosTerminalsList_Config.ActivePage,
                                                                            totalItems: PosTerminalsList_Config.TotalRecords }">
                    <td class="td-status">
                        <i class="{{TItem.StatusI }}"></i>
                    </td>
                    <td *ngFor="let HTItem of PosTerminalsList_Config.VisibleHeaders" class="{{TItem.Class}}"
                        class="{{TItem.Class}}" title="{{TItem[HTItem.SystemName]}}">
                        <span *ngIf="HTItem.NavigateLink != undefined">
                            <span *ngIf="HTItem.NavigateLink != undefined && HTItem.NavigateField == undefined">
                                <a routerLink="{{HTItem.NavigateLink}}"> {{TItem[HTItem.SystemName] || "--"}}</a>
                            </span>
                            <span *ngIf="HTItem.NavigateField != undefined">
                                <a routerLink="{{HTItem.NavigateLink}}/{{TItem[HTItem.NavigateField]}}">
                                    <span *ngIf="HTItem.DataType == _HelperService.AppConfig.DataType.Text">
                                        <span *ngIf="TItem[HTItem.SystemName] != undefined">
                                            {{ (TItem[HTItem.SystemName].length>30)? (TItem[HTItem.SystemName] |
                                                slice:0:30)+'..':(TItem[HTItem.SystemName]) }}
                                        </span>
                                        <span *ngIf="TItem[HTItem.SystemName] == undefined">
                                            --
                                        </span>
                                    </span>
                                    <span *ngIf="HTItem.DataType == _HelperService.AppConfig.DataType.Number">
                                        {{TItem[HTItem.SystemName]|| "0"}}
                                    </span>
                                    <span *ngIf="HTItem.DataType == _HelperService.AppConfig.DataType.Decimal">
                                        {{TItem[HTItem.SystemName] | number:'1.2-2' || "--"}}
                                    </span>
                                    <span *ngIf="HTItem.DataType == _HelperService.AppConfig.DataType.Date">
                                        {{TItem[HTItem.SystemName] || "--"}}
                                    </span></a>
                            </span>
                        </span>
                        <span *ngIf="HTItem.NavigateLink == undefined">
                            <span *ngIf="HTItem.DataType == _HelperService.AppConfig.DataType.Text">
                                <span *ngIf="TItem[HTItem.SystemName] != undefined">
                                    {{ (TItem[HTItem.SystemName].length>30)? (TItem[HTItem.SystemName] |
                                        slice:0:30)+'..':(TItem[HTItem.SystemName]) }}
                                </span>
                                <span *ngIf="TItem[HTItem.SystemName] == undefined">
                                    --
                                </span>
                            </span>
                            <span *ngIf="HTItem.DataType == _HelperService.AppConfig.DataType.Number">
                                {{TItem[HTItem.SystemName]|| "0"}}
                            </span>
                            <span *ngIf="HTItem.DataType == _HelperService.AppConfig.DataType.Decimal">
                                {{TItem[HTItem.SystemName] | number:'1.2-2' || "--"}}
                            </span>
                            <span *ngIf="HTItem.DataType == _HelperService.AppConfig.DataType.Date">
                                {{TItem[HTItem.SystemName] || "--"}}
                            </span>
                        </span>
                    </td>
                    <!-- <td class="td-btn-info" (click)="PosTerminalsList_RowSelected(TItem)">
                                                    <i class="{{ 'Common.InfoI' | translate }}"></i>
                                                </td> -->
                </tr>
            </tbody>
        </table>

        <div class="  p-4">
            <span class="mr-1">
                {{ 'Common.Showing' | translate }}
                <span class="bold">{{PosTerminalsList_Config.ShowingStart}} {{ 'Common.To' | translate }}
                    {{PosTerminalsList_Config.ShowingEnd}}
                </span> {{ 'Common.Of' | translate }} {{PosTerminalsList_Config.TotalRecords}}
            </span>
            |
            <span class="ml-1">
                {{ 'Common.Show' | translate }}
                <select class=" w-64 " [(ngModel)]="PosTerminalsList_Config.PageRecordLimit"
                    (ngModelChange)="PosTerminalsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
                    <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
                        {{TItem}}
                    </option>
                </select> {{ 'Common.Entries' | translate }}
            </span>
            <span class="float-right">
                <pagination-controls id="PosTerminalsList"
                    (pageChange)="PosTerminalsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
                    nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
                </pagination-controls>
            </span>
        </div>
    </div>
</div>