<div class="card bd-t-0">
  <!-- <div class="card-header pt-0">   
    <div class="pd-y-10 px-2  no-gutters">
        <div class="d-flex justify-content-between">
            <div class=" media">
              <div class="wd-40 wd-md-50 ht-40 ht-md-50 bg-primary tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
                <i data-feather="shopping-cart"></i>
              </div>
              <div class="media-body bd-pink">
                <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold tx-nowrap mg-b-5 mg-md-b-8">Transactions</h6>
                <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">$1,958,104</h4>
              </div>
            </div>
            <div class=" media">
              <div class="wd-40 wd-md-50 ht-40 ht-md-50 bg-success tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded ">
                <span class="tx-20">  <i class="fas fa-money-bill-alt"></i></span>
              </div>
              <div class="media-body">
                <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">Sale Amount</h6>
                <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">$234,769<small>.50</small></h4>
              </div>
            </div>
            <div class=" media">
              <div class="wd-40 wd-md-50 ht-40 ht-md-50 bg-verve tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
                <span class="tx-20">  <i class="fas fa-money-bill-alt"></i></span>
              </div>
              <div class="media-body">
                <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">Rewards given</h6>
                <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">$1,608,469<small>.50</small></h4>
              </div>
            </div>
            <div class=" media">
                <div class="wd-40 wd-md-50 ht-40 ht-md-50 bg-teal tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
                  <span class="tx-20">  <i class="fas fa-money-bill-alt"></i></span>
                </div>
                <div class="media-body">
                  <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">Total Budget</h6>
                  <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">$1,608,469<small>.50</small></h4>
                </div>
              </div>
          </div>
   
   </div>
</div> -->
   <div class="box-header px-3 pb-3 d-flex align-items-center justify-content-between">
     <div class="form-inline ">
       <div class="input-group input-group-sm mr-3">
         <input type="text" class="form-control" [value]="TUTr_Config.SearchParameter" maxlength="100"
           class="form-control" placeholder="{{ 'Common.Search' | translate }}"
           (keyup)="TUTr_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Search)">
         <div class="input-group-append">
           <button class="btn btn-outline-light" type="button"
             (click)="TUTr_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Search)"><i
               data-feather="search"></i> </button>
         </div>
       </div>
       <span class="badge badge-pill badge-primary"
         *ngFor="let TItem of TUTr_Config.Filters">{{TItem.Title}}</span>
     </div>
     <nav class="nav nav-with-icon tx-20">
       <div class="dropdown dropleft">
         <a href="" class="nav-link mr-2" id="TUTr_sdropdown" data-toggle="dropdown" aria-haspopup="true"
           aria-expanded="false"> <i data-feather="align-left" class="tx-20"></i> </a>
         <div class="dropdown-menu tx-13">
           <form class="wd-250 pd-15">
             <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Sort
               <div class="float-right tx-20" *ngIf="TUTr_Config.Sort.SortOrder == 'desc'"
                 (click)="TUTr_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                 <i class="fas fa-sort-alpha-down-alt"></i>
               </div>
               <div class="float-right tx-20" *ngIf="TUTr_Config.Sort.SortOrder == 'asc'"
                 (click)="TUTr_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                 <i class="fas fa-sort-alpha-up-alt"></i>
               </div>
             </h6>
             <a class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} " *ngFor="let TItem of TUTr_Config.Sort.SortOptions"
             (click)="TUTr_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
             {{TItem.Name}}
           </a>

             <!-- <button type="button" class="btn btn-light btn-sm mr-2 mg-t-20"
             (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
             Reset</button>
           <button type="button" class="btn btn-primary btn-sm mg-t-20"
             (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Sort')">Apply</button> -->
           </form>
         </div>
       </div>
       <div class="dropdown dropleft">
         <a href="" class="nav-link" id="TUTr_fdropdown" data-toggle="dropdown" aria-haspopup="true" (click)="_HelperService.StopClickPropogation()"
           aria-expanded="false"> <i data-feather="filter"></i> </a>
           <div class="dropdown-menu pd-0 tx-13">
            <form class="wd-300 ">
              <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse  pd-15 pd-b-20 pd-l-0 pd-t-0 bd bd-b-1">Filters
              </h6>
              <div class="pd-25" style="overflow: auto; height: 80vh;">
              <div>
                <div class="form-group">
                  <label>Added On</label>
                  <input type="text" class="form-control  form-daterangepicker" name="daterangeInput" daterangepicker
                    [options]="_HelperService.AppConfig.DateRangeOptions"
                    (selected)="TUTr_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" />
                </div>
              </div>
              <div>
                <div class="form-group">
                  <label>Status</label>
                  <select2 [options]="_DataHelperService.S2_Status_Option" class="wd-100p"
                    [data]="TUTr_Config.StatusOptions" [value]="TUTr_Config.Status"
                    (valueChanged)="TUTr_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)">
                  </select2>
                </div>
              </div>
              <div>
               <div class="form-group">
                 <label>Merchant</label>
                 <div class="form-group">
                  <select2 class="full-width" [options]="TUTr_Filter_Merchant_Option"
                    (valueChanged)="TUTr_Filter_Merchants_Change($event)">
                  </select2>
                </div>
               </div>
             </div>  
              <div>
                <div class="form-group">
                  <label>Store</label>
                  <div class="form-group">
                   <select2 class="full-width" [options]="TUTr_Filter_Store_Option"
                     (valueChanged)="TUTr_Filter_Stores_Change($event)">
                   </select2>
                 </div>
                </div>
              </div>
              <div>
               <div class="form-group">
                 <label>Card Bank</label>
                 <select2 class="full-width" [options]="TUTr_Filter_CardBank_Option"
                   (valueChanged)="TUTr_Filter_CardBanks_Change($event)">
                 </select2>
               </div>
              </div>
              <div>
               <div class="form-group">
                 <label>Transaction Type</label>
                 <select2 class="full-width" [options]="TUTr_Filter_TransactionType_Option"
                   (valueChanged)="TUTr_Filter_TransactionTypes_Change($event)">
                 </select2>
               </div>    
              </div>     
              <div class="mg-b-70">
               <div class="form-group">
                 <label>Card Brand</label>
                 <select2 class="full-width" [options]="TUTr_Filter_CardBrand_Option"
                   (valueChanged)="TUTr_Filter_CardBrands_Change($event)">
                 </select2>
               </div>
              </div>
              <!--       <div class="mg-b-70">
               <div class="form-group">
                 <label for=""> Provider</label>
                 <select2 class="full-width" [options]="TUTr_Filter_Provider_Option"
                   (valueChanged)="T   UTr_Filter_Providers_Change($event)">
                 </select2>
               </div>
              </div>      -->
 </div>  
 
              <div class="aside-log  bg-white bd wd-100p pd-15 mg-0" style="position: fixed; bottom:0%; margin-top: -2.5em ;"> 
              <button type="button" class="btn btn-light btn-sm mr-2"
                (click)="TUTr_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                Reset</button>
              <button type="button" class="btn btn-primary btn-sm "
                (click)="TUTr_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter)">Apply</button>
               </div>
            </form>
          </div>
       </div>
       <a class="nav-link ml-2 RefreshColor RefreshColorOne cursor-pointer"
         (click)="TUTr_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Refresh)"> <i
           data-feather="refresh-cw"></i> </a>
     </nav>
   </div>
   <div class="card-body p-0">
     <table class="{{ _HelperService.AppConfig.TablesConfig.DefaultClass }}">
       <thead>
         <tr>
           <th class="">Status</th>
           <th class="td-date">Date</th>
           <th>  Customer</th>
           <th>Card Details</th>
           <th class="td-number">Ref Id</th>
           <th class="text-right">Sale and Reward</th>

           <th class="td-amount text-right">Amount</th>
           <th class="">Merchant</th>
           <th>POS</th>
         </tr>
       </thead>
       <tbody>
         <tr *ngFor="
               let TItem of (TUTr_Config.Data
                 | paginate
                   : {
                       id: 'TUTr_Paginator',
                       itemsPerPage: TUTr_Config.PageRecordLimit,
                       currentPage: TUTr_Config.ActivePage,
                       totalItems: TUTr_Config.TotalRecords
                     })
             ">
 <td>
   <div class="">
     <span class="text-lowercase" [ngClass]="TItem.StatusBadge">{{ TItem.StatusName || "--" }}</span>
   </div>
 </td>
 
           <td class="td-date">
             <div>{{ TItem.TransactionDateD || "--" }}
               <span class="">{{ TItem.TransactionDateT || "--" }}</span>
             </div>
            
           </td>
           <td>
             <div class="">
               {{ TItem.UserDisplayName || "--" }}
             </div>
             <div class="tx-12 text-muted">
               {{ TItem.UserMobileNumber || "--" }}
             </div>
           </td>
           <td>
             <div class="tx-14 text-uppercase" *ngIf="TItem.TypeName != 'Cash '">
              {{ TItem.CardBrandName || "--" }}
               <span *ngIf="TItem.CardBrandName != undefined">
                 <i *ngIf="TItem.CardBrandName.toLowerCase() == 'visa'"
                   class="fab fa-cc-visa tx-teal text-sm "></i>
                 <i *ngIf="TItem.CardBrandName.toLowerCase() == 'mastercard'"
                   class="fab fa-cc-mastercard tx-MasterCard text-sm  "></i>
                 <i *ngIf="TItem.CardBrandName.toLowerCase() == 'verve'"
                   class="fas fa-credit-card tx-verve text-sm  "></i>
               </span>
             </div>
             <div class="  text-uppercase" *ngIf="TItem.TypeName == 'Cash '">
               Cash Payment
 
               <i class="fab fas fa-money-bill-alt text-cash  tx-primary"></i>
             </div>
             <div class="tx-12 text-muted">
             <span class="">  {{ TItem.AccountNumber  }}</span>
             </div>
           </td>
           <td>
             <div class="text-muted">
               {{ TItem.ReferenceId  }}
             </div>
           </td>
           <td>
              <div class="tx-14"> {{TItem.Name || "--"}}</div>
              <div class="tx-12 text-teal"> N9000 </div>
          </td>
           <td class="text-right">
             <div>
               <span [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
               {{ TItem.InvoiceAmount | number: "1.2-2" || "--" }}
             </div>
           </td>
 
           <td class="">
             <div>{{ TItem.ParentDisplayName || "--" }}</div>
             <div class="tx-12 text-muted">
               {{ TItem.SubParentDisplayName || "--" }}
             </div>
           </td>
 
           <td>
             <div class="tx-bold">{{ TItem.CreatedByDisplayName || "--" }}
             </div>
             <div class="tx-12 text-muted">
               {{ TItem.AcquirerDisplayName || "--" }}
               <span>- {{ TItem.ProviderDisplayName || "--" }}</span>
             </div>
           </td>
         </tr>
       </tbody>
     </table>
   </div>
   <div class="card-footer pd-20">
     <span class="mr-3">
       {{ 'Common.Showing' | translate }}
       <span class="bold">{{TUTr_Config.ShowingStart}} {{ 'Common.To' | translate }}
         {{TUTr_Config.ShowingEnd}}
       </span> {{ 'Common.Of' | translate }} {{TUTr_Config.TotalRecords}}
     </span>
     <span>
       {{ 'Common.Show' | translate }}
       <select class="wd-40 " [(ngModel)]="TUTr_Config.PageRecordLimit"
         (ngModelChange)="TUTr_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
         <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
           {{TItem}}
         </option>
       </select>
     </span>
     <span class="float-right">
       <pagination-controls id="TUTr_Paginator" class="pagination pagination-space"
         (pageChange)="TUTr_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
         nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
       </pagination-controls>
     </span>
   </div>
 </div>