<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
        <form [formGroup]="Form_UpdateUser" (ngSubmit)="Form_UpdateUser_Process(Form_UpdateUser.value)" role="form">
            <div class="box">
                <div class="box-header b-b b-2x">
                    <h3 class="text-warn">POS Terminal Details</h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Terminal Id<span class="text-danger">*</span>
                                </label>
                                <div class="controls">
                                    <input type="text" name="UserName" maxlength="256" class="form-control"
                                        [formControl]="Form_UpdateUser.controls['UserName']"
                                        [(ngModel)]="_HelperService._UserAccount.UserName"
                                        [ngClass]="{'is-invalid':!Form_UpdateUser.controls['UserName'].valid && Form_UpdateUser.controls['UserName'].touched}">
                                </div>
                                <label class="text-danger" for="UserName"
                                    *ngIf="Form_UpdateUser.controls['UserName'].hasError('required') && Form_UpdateUser.controls['UserName'].touched">
                                    Enter terminal id</label>

                                <label class="text-danger" for="UserName"
                                    *ngIf="Form_UpdateUser.controls['UserName'].hasError('minlength') || Form_UpdateUser.controls['UserName'].hasError('maxlength')">Enter
                                    valid terinal id</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-header b-b b-2x b-t">
                    <h3 class="text-danger">Terminal Account Status</h3>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div> <label>{{ 'System.AddAcquirer.AccountStatus' | translate }}<span
                                    class="text-danger">*</span>
                            </label>
                        </div>
                        <div class="radio float-left mr-3">
                            <label class="ui-check"><input type="radio" name="statusoptions"
                                    [value]="_HelperService.AppConfig.Status.Active"
                                    [(ngModel)]="_HelperService._UserAccount.StatusCode"
                                    [formControl]="Form_UpdateUser.controls['StatusCode']">
                                <i class="dark-white"></i>
                                {{ 'Common.Active' | translate }}</label>
                        </div>
                        <div class="radio  float-left mr-3"><label class="ui-check"><input type="radio"
                                    name="statusoptions" [value]="_HelperService.AppConfig.Status.Suspended"
                                    [(ngModel)]="_HelperService._UserAccount.StatusCode"
                                    [formControl]="Form_UpdateUser.controls['StatusCode']">
                                <i class="dark-white"></i>
                                {{ 'Common.Suspend' | translate }}</label></div>


                        <div class="radio  mr-3"><label class="ui-check"><input type="radio" name="statusoptions"
                                    [value]="_HelperService.AppConfig.Status.Blocked"
                                    [(ngModel)]="_HelperService._UserAccount.StatusCode"
                                    [formControl]="Form_UpdateUser.controls['StatusCode']">
                                <i class="dark-white"></i>
                                {{ 'Common.Block' | translate }}</label></div>
                    </div>
                </div>
                <div class="light p-3 text-right b-b b-t">
                    <button type="submit" class="btn btn-fw warn warn mr-2"
                        (click)="Form_UpdateUser.value.OperationType='new'"
                        [disabled]="!Form_UpdateUser.valid || _HelperService.IsFormProcessing">
                        <span *ngIf="!_HelperService.IsFormProcessing">
                            {{ 'Common.Update' | translate }}
                        </span>
                        <span *ngIf="_HelperService.IsFormProcessing">
                            <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{ 'Common.PleaseWait' | translate
                                    }}...
                        </span>
                    </button>
                </div>
            </div>
        </form>

    </div>
    <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12 hidden-xs ">

    </div>
</div>




<div class="modal " id="_Icon_Cropper_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="row no-gutters">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <div class="m-3">
                            <image-cropper [imageChangedEvent]="_HelperService._Icon_Cropper_ChangedEvent"
                                [aspectRatio]="1/1" format="_HelperService.AppConfig.Icon_Cropper_Options.Format"
                                [maintainAspectRatio]="_HelperService.AppConfig.Icon_Cropper_Options.MaintainAspectRatio"
                                [cropperMinWidth]="_HelperService.AppConfig.Icon_Cropper_Options.MinimumWidth"
                                [cropperMinHeight]="_HelperService.AppConfig.Icon_Cropper_Options.MinimumHeight"
                                [resizeToWidth]="_HelperService.AppConfig.Icon_Cropper_Options.ResizeToWidth"
                                (imageCropped)="_HelperService.Icon_Cropped($event)"
                                (imageLoaded)="_HelperService.Icon_Crop_Loaded()"
                                (loadImageFailed)="_HelperService.Icon_Crop_Failed()">
                            </image-cropper>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 bg-light">
                        <div class="p-3">
                            <div class="mb-2">
                                Change Picture
                            </div>
                            <div class="mb-3">
                                <input type="file" (change)="_HelperService.Icon_Change($event)" />
                            </div>
                            <div class="mb-2">
                                Image Preview
                            </div>
                            <div class="mb-2">
                                <img [src]="_HelperService._Icon_Cropper_Image" class="b-a b-2x img-responsive" />
                            </div>
                            <div>

                                <button type="button" class="btn btn-success " data-dismiss="modal">{{ 'Common.PictureDone' |
                                                    translate }}</button>
                                <button type="button" class="btn btn-warning "
                                    (click)="_HelperService.Icon_Crop_Clear()">{{ 'Common.PictureClearAndClose' |
                                                            translate }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>