<div class="content content-fixed content-auth">
    <div class="container">
        <div class="media align-items-stretch justify-content-center ht-100p pos-relative">
            <div class="media-body align-items-center d-none d-lg-flex">
                <div class="mx-wd-600" style="transform: scale(-1,1);">
                    <img src="../../../assets/img/Merchant.svg" class="img-fluid" alt="">
                </div>
            </div>
            <div class="sign-wrapper mg-lg-l-50 mg-xl-l-60">
                <div class="wd-100p">
                    <!-- <img src="../../../assets/img/logoinverse.png" class="wd-200 mb-4"> -->
                    <img src="../../../assets/img/thankucashimg.svg" class="wd-200 mb-4">
                    <h3 class="tx-color-01 mg-b-5">Sign In</h3>
                    <p class="tx-color-03 tx-16 mg-b-40">Welcome back! Please sign in to continue.</p>
                    <form [formGroup]="_Form_Login" (ngSubmit)="_Form_Login_Process(_Form_Login.value)" role="form">
                        <div class="form-group"
                            [ngClass]="{'text-danger':!_Form_Login.controls['username'].valid && _Form_Login.controls['username'].touched}">
                            <label>{{ 'Login.UserName' | translate }}</label>
                            <input type="text" name="username" maxlength="256" class="form-control border-radius: 0.25rem"
                                [formControl]="_Form_Login.controls['username']">
                            <!-- <label class="block text-xs _600 text-danger" for="username"
                                *ngIf="_Form_Login.controls['username'].hasError('required') && _Form_Login.controls['username'].touched">{{
                                        'Login.UserName_ER_Required' | translate }}</label> -->
                        </div>
                        <div class="form-group"
                            [ngClass]="{'text-danger':!_Form_Login.controls['password'].valid && _Form_Login.controls['password'].touched}">
                            <div class="d-flex justify-content-between mg-b-5">
                                <label class="mg-b-0-f">{{ 'Login.Password' | translate }}</label>
                                <!-- <a tabindex="4" class="tx-13"
                                    routerLink="{{_HelperService.AppConfig.Pages.System.ForgotPassword}}">
                                    Forgot Password?
                                </a> -->
                            </div>

                            <!-- <show-hide-password size="lg" btnStyle="primary" [btnOutline]="false">
                            </show-hide-password> -->
                            <div class="row">
                                <div class="col-md-10 pd-r-0">
                                    <input *ngIf="ShowPassword" tabindex="2" type="password" name="password"
                                        maxlength="50" class="form-control"
                                        [formControl]="_Form_Login.controls['password']">

                                    <input *ngIf="!ShowPassword" tabindex="2" type="text" name="password" maxlength="50"
                                        class="form-control" [formControl]="_Form_Login.controls['password']">
                                </div>
                                <div class="col-md-2 px-0 input-group-append">
                                    <a *ngIf="!ShowPassword" class="btn  btn-outline-light d-flex align-items-center cursor-pointer" > <i
                                            class="fa fa-eye fa-1x" aria-hidden="true"
                                            (click)="ToogleShowHidePassword()"></i></a>

                                    <a *ngIf="ShowPassword" class="btn btn btn-outline-light d-flex align-items-center cursor-pointer"> <i
                                            class="fa fa-eye-slash fa-1x" aria-hidden="true"
                                            (click)="ToogleShowHidePassword()"></i></a>
                                </div>
                            </div>

                        </div>
                        
                        <div>
                            <!-- <label class="text-danger text-xs _600" for="password"
                                *ngIf="_Form_Login.controls['password'].hasError('required') && _Form_Login.controls['password'].touched">{{
                                    'Login.Password_ER_Required' | translate }}</label> -->
                        </div>
                        <button type="submit" class="btn btn-brand-02 btn-block"
                            [disabled]="!_Form_Login.valid || _Form_Login_Processing">
                            <span *ngIf="!_Form_Login_Processing">
                                {{ 'Login.LoginBtn' | translate }}
                            </span>
                            <span *ngIf="_Form_Login_Processing">
                                <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                                {{ 'Common.PleaseWait' | translate }}...
                            </span>
                        </button>
                        <div class="row">
                            <div class=" text-center col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-5 text-muted">
                                © Copyright <a target="_blank" class="text-primary"
                                    href="http://connectedanalytics.xyz">Connected
                                    Analytics Inc.</a> 2020 |
                                All Right
                                Reserved
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>