<!-- <div [className]="_HelperService._Assets.Box.root">
  <div [className]="_HelperService._Assets.Box.header">
    <div [className]="_HelperService._Assets.Box.headerTitle">
      <h3> {{ TUTr_Config.Title }}</h3> 
    </div>
    <div [className]="_HelperService._Assets.Box.headerTitleRight">
      <ul class="nav nav-xs">
        <li title="{{ 'Common.FilterT' | translate }}" class="nav-item"
          (click)="TUTr_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.ToggleFilter)"><a
          [className]="_HelperService._Assets.Box.headerTitleRightItem"
            class="nav-link"><i class=" {{ 'Common.FilterI' | translate }}"></i></a></li>
        <li title="{{ 'Common.DownloadT' | translate }}" class="nav-item"
          (click)="TUTr_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.Csv)">
          <a [className]="_HelperService._Assets.Box.headerTitleRightItem" class="nav-link"><i class="{{ 'Common.DownloadI' | translate }}"></i></a>
        </li>
        <li title="{{ 'Common.RefreshT' | translate }}" class="nav-item"
          (click)="TUTr_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.Refresh)">
          <a [className]="_HelperService._Assets.Box.headerTitleRightItem" class="nav-link"><i class="{{ 'Common.RefreshI' | translate }}"></i></a>
        </li>
      </ul>
    </div>    
  </div>
  <div [className]="_HelperService._Assets.Box.bodyFilter">
    <div class="row no-gutters">
      <div class="col-md-2">
        <div class="form-group mr-2 mb-2">
          <select2 class="full-width" [options]="TUTr_Filter_UserAccount_Option"
            (valueChanged)="TUTr_Filter_UserAccounts_Change($event)">
          </select2>
        </div>
      </div>
      <div class="col-md-2 ">
        <div class="form-group  mr-2 mb-2">
          <select2 class="full-width" [options]="TUTr_Filter_TransactionType_Option"
            (valueChanged)="TUTr_Filter_TransactionTypes_Change($event)">
          </select2>
        </div>
      </div>
  
      <div class="col-md-2">
        <div class="form-group mr-2 mb-2">
          <select2 class="full-width" [options]="TUTr_Filter_Store_Option"
            (valueChanged)="TUTr_Filter_Stores_Change($event)">
          </select2>
        </div>
      </div>
      <div class="col-md-2 ">
        <div class="form-group mr-2 mb-2">
          <input type="text" class="form-control full-width" name="daterangeInput" daterangepicker
            [options]="_HelperService.AppConfig.DateRangeOptions"
            (selected)="TUTr_ToggleOption_Date($event,_HelperService.AppConfig.ListToggleOption.Date)" />
        </div>
      </div>
      <div class="col-md-2 ">
        <div class="form-group mr-2 mb-2">
          <select2 class="full-width" [options]="_HelperService.S2_Sort_Option"
            [data]="TUTr_Config.SortExpressionOption" [value]="TUTr_Config.SortExpression"
            (valueChanged)="TUTr_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Sort)">
          </select2>
        </div>
      </div>
      <div class="col-md-2 ">
        <div class="form-group  mr-2 mb-2">
          <select2 class="full-width" [options]="_DataHelperService.S2_Status_Option" [data]="TUTr_Config.StatusOptions"
            [value]="TUTr_Config.Status"
            (valueChanged)="TUTr_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)">
          </select2>
        </div>
      </div>
    </div>
    <div class="mt-2" *ngIf="TUTr_Config.ToggleFilter">
      <div class="row no-gutters">
        <div class="col-md-2">
          <div class="form-group mr-2 mb-2">
            <select2 class="full-width" [options]="TUTr_Filter_CardBrand_Option"
              (valueChanged)="TUTr_Filter_CardBrands_Change($event)">
            </select2>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group mr-2 mb-2">
            <select2 class="full-width" [options]="TUTr_Filter_CardBank_Option"
              (valueChanged)="TUTr_Filter_CardBanks_Change($event)">
            </select2>
          </div>
        </div>

        <div class="col-md-2">
          <div class="form-group mr-2 mb-2">
            <select2 class="full-width" [options]="TUTr_Filter_Provider_Option"
              (valueChanged)="TUTr_Filter_Providers_Change($event)">
            </select2>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group mr-2 mb-2" *ngIf="!_HelperService.ToggleField">
            <select2 class="full-width" [options]="TUTr_Filter_Issuer_Option"
              (valueChanged)="TUTr_Filter_Issuers_Change($event)">
            </select2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="mb-2">
            <ng5-slider [value]="TUTr_InvoiceRangeMinAmount" [highValue]="TUTr_InvoiceRangeMaxAmount"
              [options]="_HelperService.AppConfig.RangeInvoiceAmountOptions"
              (userChangeEnd)="TUTr_InvoiceRange_OnChange($event)">
            </ng5-slider>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div [className]="_HelperService._Assets.Box.bodyContent">
    <table class="{{ _HelperService.AppConfig.TablesConfig.DefaultClass }}">
      <thead>
        <tr>
          <th class="td-date">Date</th>
          <th>
            User
          </th>
          <th>Type</th>
          <th class="td-number">Bank</th>
          <th class="td-amount">Sale</th>
          <th>Merchant</th>
          <th>Done By</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="
              let TItem of (TUTr_Config.Data
                | paginate
                  : {
                      id: 'TUTr_Paginator',
                      itemsPerPage: TUTr_Config.PageRecordLimit,
                      currentPage: TUTr_Config.ActivePage,
                      totalItems: TUTr_Config.TotalRecords
                    })
            ">
          <td class="td-date">
            <div>{{ TItem.TransactionDateD || "--" }}
              <span class="text-xxs _600 w-60">{{ TItem.TransactionDateT || "--" }}</span>
            </div>
            <div class="text-xs _500 ">
              <span class="text-lowercase" [ngClass]="TItem.StatusBadge">{{ TItem.StatusName || "--" }}</span>
            </div>
          </td>
          <td>
            <div class="text-warn _500">
              {{ TItem.UserDisplayName || "--" }}
            </div>
            <div class="text-xs _500 text-muted">
              {{ TItem.UserMobileNumber || "--" }}
            </div>
          </td>
          <td>
            <div class="text-xs _500 text-uppercase" *ngIf="TItem.TypeName != 'Cash '">
              <span *ngIf="TItem.CardBrandName != undefined">
                <i *ngIf="TItem.CardBrandName.toLowerCase() == 'visa'"
                  class="fab fa-cc-visa text-visa-card text-sm float-right"></i>
                <i *ngIf="TItem.CardBrandName.toLowerCase() == 'mastercard'"
                  class="fab fa-cc-mastercard text-mastercard text-sm  float-right"></i>
                <i *ngIf="TItem.CardBrandName.toLowerCase() == 'verve'"
                  class="fas fa-credit-card text-verve-card text-sm  float-right"></i>
              </span>
              {{ TItem.CardBrandName }}
            </div>
            <div class="text-xs _500 text-uppercase" *ngIf="TItem.TypeName == 'Cash '">
              <i class="fab fas fa-money-bill-alt text-cash   float-right"></i>
              Cash Payment
            </div>
            <div class="text-xs _500 text-muted">
              {{ TItem.TypeName  }}
            </div>
          </td>
          <td>
            <div class="text-ellipses">{{ TItem.CardBankName || "--" }}</div>
            <div class="text-xs _500 text-muted">
              {{ TItem.AccountNumber  }}
            </div>
          </td>
          <td class="td-amount _600 text-warning">
            <div>
              <span [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
              {{ TItem.InvoiceAmount | number: "1.2-2" || "--" }}
            </div>
          </td>

          <td>
            <div>{{ TItem.ParentDisplayName || "--" }}</div>
            <div class="text-xs _500 text-muted">
              {{ TItem.SubParentDisplayName || "--" }}
            </div>
          </td>

          <td>
            <div>{{ TItem.CreatedByDisplayName || "--" }}
            </div>
            <div class="text-xs _500 text-muted">
              {{ TItem.AcquirerDisplayName || "--" }}
              <span>- {{ TItem.ProviderDisplayName || "--" }}</span>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="  p-4">
      <span class="mr-1">
        {{ "Common.Showing" | translate }}
        <span class="bold">{{ TUTr_Config.ShowingStart }}
          {{ "Common.To" | translate }}
          {{ TUTr_Config.ShowingEnd }}
        </span>
        {{ "Common.Of" | translate }} {{ TUTr_Config.TotalRecords }}
      </span>
      |
      <span class="ml-1">
        {{ "Common.Show" | translate }}
        <select class=" w-64 " [(ngModel)]="TUTr_Config.PageRecordLimit" (ngModelChange)="
              TUTr_ToggleOption(
                $event,
                _HelperService.AppConfig.ListToggleOption.Limit
              )
            ">
          <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
            {{ TItem }}
          </option>
        </select>
        {{ "Common.Entries" | translate }}
      </span>
      <span class="float-right">
        <pagination-controls id="TUTr_Paginator" (pageChange)="
              TUTr_ToggleOption(
                $event,
                _HelperService.AppConfig.ListToggleOption.Page
              )
            " nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
        </pagination-controls>
      </span>
    </div>
  </div>
</div> -->
<!-- acquirer--merchant--sales -->
<div class="card">
  <div class="card-header">
    <div class=" d-sm-flex">
      <div class=" media">
        <div
          class="wd-40 wd-md-50 ht-40 ht-md-50 bg-primary tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded">
          <i data-feather="shopping-cart"></i>
        </div>
        <div class="media-body bd-pink">
          <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold tx-nowrap mg-b-5 mg-md-b-8">
            Transactions</h6>
          <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">{{_AccountOverview.TotalTransactions}}</h4>
        </div>
      </div>
      <div class="media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40">
        <div
          class="wd-40 wd-md-50 ht-40 ht-md-50 bg-success tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded ">
          <span class="tx-20"> <i class="fas fa-money-bill-alt"></i></span>
        </div>
        <div class="media-body">
          <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8">Amount</h6>
          <h4 class="tx-20 tx-sm-18 tx-md-20 tx-normal tx-rubik mg-b-0">
            <span class=" text-sm mg-r-2" [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_AccountOverview.TotalSale | number: "1.2-2" }}</h4>
        </div>
      </div>

    </div>
  </div>
  <div class="box-header px-3 pd-t-15 pd-b-10 d-flex align-items-center justify-content-between">
    <div class="form-inline ">
      <div class="input-group input-group-sm mr-3">
        <input type="text" class="form-control" [value]="TUTr_Config.SearchParameter" maxlength="100"
          class="form-control" placeholder="{{ 'Common.Search' | translate }}"
          (keyup)="TUTr_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Search)">
        <div class="input-group-append">
          <button class="btn btn-outline-light" type="button"
            (click)="TUTr_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)"><i
              data-feather="search"></i> </button>
        </div>
      </div>


    </div>

    <!-- <div class="d-flex ml-auto">
      <button type="button" class="btn  tx-12 rounded-0 bd-gray-200 bd-r-0  btn-outline-danger btn-icon"
        (click)="Delete_Filter()">
        <i data-feather="minus-circle"></i> </button>

      <div class="form-group my-auto shadow-none ml-auto " *ngIf="_HelperService._RefreshUI">
        <select2 name="itemId0" [options]="_DataHelperService.S2_NewSavedFilters_Option" class="wd-30 select2"
          [data]="_HelperService.Active_FilterOptions" [value]="_HelperService.Active_FilterOptions[0]"
          (valueChanged)="Active_FilterValueChanged( $event )">
        </select2>
      </div>
      <button type="button" class=" btn btn-outline-success tx-12 bd-l-0 mr-3 rounded-0 bd-gray-200 btn-icon"
        (click)="Save_NewFilter()"> <i data-feather="plus-circle"></i> </button>

    </div> -->

    <div class="d-flex ml-auto">
      <button [disabled]='(_HelperService.FilterSnap.id == -1)' type="button"
        class="btn  tx-12 rounded-0 bd-gray-200 bd-r-0  btn-outline-danger btn-icon" (click)="Delete_Filter()">
        <i data-feather="minus-circle"></i>
      </button>

      <div class="form-group my-auto shadow-none ml-auto " *ngIf="_HelperService._RefreshUI">
        <select2 name="itemId0" [options]="_DataHelperService.S2_NewSavedFilters_Option" class="wd-30 select2"
          [data]="_HelperService.Active_FilterOptions" [value]="_HelperService.Active_FilterOptions[0]"
          (valueChanged)="Active_FilterValueChanged( $event )">
        </select2>
      </div>
      <button [disabled]='_HelperService.FilterState == this._HelperService.AppConfig.FilterStates.Default || 
      _HelperService.FilterState == this._HelperService.AppConfig.FilterStates.NoChange' type="button"
        class=" btn btn-outline-success tx-12 bd-l-0 mr-3 rounded-0 bd-gray-200 btn-icon" (click)="Save_NewFilter()"> <i
          data-feather="plus-circle"></i> </button>

    </div>
    <nav class="nav nav-with-icon tx-20">
      <div class="dropdown dropleft">
        <a href="" class="nav-link mr-2" id="TUTr_sdropdown" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false"> <i data-feather="align-left" class="tx-20"></i> </a>
        <div class="dropdown-menu tx-13">
          <form class="wd-250 pd-15">
            <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Sort
              <div class="float-right tx-20" *ngIf="TUTr_Config.Sort.SortOrder == 'desc'"
                (click)="TUTr_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                <i class="fas fa-sort-alpha-down-alt"></i>
              </div>
              <div class="float-right tx-20" *ngIf="TUTr_Config.Sort.SortOrder == 'asc'"
                (click)="TUTr_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                <i class="fas fa-sort-alpha-up-alt"></i>
              </div>
            </h6>
            <a class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} " *ngFor="let TItem of TUTr_Config.Sort.SortOptions"
              (click)="TUTr_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
              {{TItem.Name}}
            </a>

            <!-- <div *ngFor="let TItem of TUTr_Config.SortExpressionOption"
                           (click)="TUTr_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
                           {{TItem.Name}}
                       </div> -->
            <!-- <div class="mt-2">
                           <button type="button" class="btn btn-primary btn-sm mr-2"
                               (click)="TUTr_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.SortApply)">Apply</button>
 
                           <button type="button" class="btn btn-light btn-sm "
                               (click)="TUTr_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortReset)">
                               Reset</button>
                       </div> -->
            <button type="button" class="btn btn-light btn-sm mr-2 mg-t-20"
              (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
              Reset</button>
            <button type="button" class="btn btn-primary btn-sm mg-t-20"
              (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Sort')">Apply</button>
          </form>
        </div>
      </div>
      <div class="dropdown dropleft">
        <a href="" class="nav-link" id="TUTr_fdropdown" data-toggle="dropdown" aria-haspopup="true" (click)="_HelperService.StopClickPropogation()"
          aria-expanded="false"> <i data-feather="filter"></i> </a>
        <div class="dropdown-menu pd-0 tx-13">
          <form class="wd-300 ">
            <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse  pd-15 pd-b-20 pd-l-0 pd-t-0 bd bd-b-1">
              Filters
            </h6>
            <div class="pd-25" style="overflow: auto; height: 80vh;" *ngIf="ResetFilterControls">
              <div>
                <div class="form-group">
                  <label>Added On</label>
                  <input type="text" class="form-control  form-daterangepicker" name="daterangeInput" daterangepicker
                    [options]="_HelperService.AppConfig.DateRangeOptions"
                    (selected)="TUTr_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" />
                </div>
              </div>
              <div>
                <div class="form-group">
                  <label>Status</label>
                  <select2 [options]="_DataHelperService.S2_Status_Option" class="wd-100p"
                    [data]="TUTr_Config.StatusOptions"
                    (valueChanged)="TUTr_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)">
                  </select2>
                </div>
              </div>
              <!-- <div>
                <div class="form-group">
                  <label>Merchant</label>
                  <div class="form-group">
                    <select2 class="full-width" [options]="TUTr_Filter_Merchant_Option"
                      (valueChanged)="TUTr_Filter_Merchants_Change($event)">
                    </select2>
                  </div>
                </div>
              </div> -->
              <div>
                <div class="form-group">
                  <label>Store</label>
                  <div class="form-group">
                    <select2 class="full-width" [options]="TUTr_Filter_Store_Option"
                      (valueChanged)="TUTr_Filter_Stores_Change($event)">
                    </select2>
                  </div>
                </div>
              </div>
              <div>
                <div class="form-group">
                  <label>Card Bank</label>
                  <select2 class="full-width" [options]="TUTr_Filter_CardBank_Option"
                    (valueChanged)="TUTr_Filter_CardBanks_Change($event)">
                  </select2>
                </div>
              </div>
              <div>
                <div class="form-group">
                  <label>Transaction Type</label>
                  <select2 class="full-width" [options]="TUTr_Filter_TransactionType_Option"
                    (valueChanged)="TUTr_Filter_TransactionTypes_Change($event)">
                  </select2>
                </div>
              </div>
              <div class="mg-b-70">
                <div class="form-group">
                  <label>Card Brand</label>
                  <select2 class="full-width" [options]="TUTr_Filter_CardBrand_Option"
                    (valueChanged)="TUTr_Filter_CardBrands_Change($event)">
                  </select2>
                </div>
              </div>
              <!-- <div class="mg-b-70">
                <div class="form-group">
                  <label for=""> Provider</label>
                  <select2 class="full-width" [options]="TUTr_Filter_Provider_Option"
                    (valueChanged)="TUTr_Filter_Providers_Change($event)">
                  </select2>
                </div>
              </div> -->
            </div>

            <div class="aside-logo  bg-white bd wd-100p pd-15 mg-0"
              style="position: fixed; bottom:0%; margin-top: -2.5em ;">
              <button type="button" class="btn btn-light btn-sm mr-2"
                (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                Reset</button>
              <button type="button" class="btn btn-primary btn-sm "
                (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Other')">Apply</button>
            </div>
          </form>
        </div>
      </div>
      <a class="nav-link ml-2 RefreshColor RefreshColorOne cursor-pointer"
        (click)="TUTr_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Refresh)"> <i
          data-feather="refresh-cw"></i> </a>
    </nav>
  </div>
  <div class="pt-0 pd-l-15 pd-b-15">
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03 mg-t-5"
      [hidden]="(!_HelperService.FilterSnap.Status) || (_HelperService.FilterSnap.Status==0)"
      (click)="RemoveFilterComponent('Status')">
      {{_HelperService.FilterSnap.StatusName}}
      <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03 mg-t-5"
      [hidden]="!_HelperService.FilterSnap.Sort.SortColumn || (_HelperService.FilterSnap.Sort.SortColumn=='TransactionDate' && _HelperService.FilterSnap.Sort.SortOrder=='')"
      (click)="RemoveFilterComponent('Sort')">
      <span> {{_HelperService.FilterSnap.Sort.SortColumn + "--" + _HelperService.FilterSnap.Sort.SortOrder}}</span>
      <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03 mg-t-5"
      [hidden]="!_HelperService.FilterSnap.StartTime" (click)="RemoveFilterComponent('Time')">
      {{_HelperService.GetDateS(_HelperService.FilterSnap.StartTime) + "--" + _HelperService.GetDateS(_HelperService.FilterSnap.EndTime)}}
      <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03 mg-t-5"
      *ngFor="let TItem of _HelperService.FilterSnap.OtherFilters; let i = index"
      (click)="RemoveFilterComponent('Other',i)">
      {{TItem.data[0].DisplayName?TItem.data[0].DisplayName:TItem.data[0].Name}}
      <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>

    <span class="badge badge-pill badge-primary mg-t-5" *ngFor="let TItem of TUTr_Config.Filters">{{TItem.Title}}</span>
  </div>

  <div class="card-body p-0">
    <table class="{{ _HelperService.AppConfig.TablesConfig.DefaultClass }}">
      <thead>
        <tr>
          <th class="">Status</th>
          <th class="td-date">Date</th>
          <th> Customer</th>
          <th>Card Details</th>
          <th class="td-number">Ref Id</th>
          <th class="td-amount text-right">Amount</th>
          <!-- <th class="">Merchant</th> -->
          <th>POS</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="
               let TItem of (TUTr_Config.Data
                 | paginate
                   : {
                       id: 'TUTr_Paginator',
                       itemsPerPage: TUTr_Config.PageRecordLimit,
                       currentPage: TUTr_Config.ActivePage,
                       totalItems: TUTr_Config.TotalRecords
                     })
             ">
          <td>
            <div class="">
              <span class="text-lowercase" [ngClass]="TItem.StatusBadge">{{ TItem.StatusName || "--" }}</span>
            </div>
          </td>

          <td class="td-date">
            <div>{{ TItem.TransactionDateD || "--" }}
              <span class="">{{ TItem.TransactionDateT || "--" }}</span>
            </div>

          </td>
          <td>
            <div class="">
              {{ TItem.UserDisplayName || "--" }}
            </div>
            <div class="tx-12 text-muted">
              {{ TItem.UserMobileNumber || "--" }}
            </div>
          </td>
          <td>
            <div class="tx-14 text-uppercase" *ngIf="TItem.TypeName != 'Cash '">
              {{ TItem.CardBankName || "--" }}
              <span *ngIf="TItem.CardBrandName != undefined">
                <i *ngIf="TItem.CardBrandName.toLowerCase() == 'visa'" class="fab fa-cc-visa tx-teal text-sm "></i>
                <i *ngIf="TItem.CardBrandName.toLowerCase() == 'mastercard'"
                  class="fab fa-cc-mastercard tx-MasterCard text-sm"></i>
                <i *ngIf="TItem.CardBrandName.toLowerCase() == 'verve'"
                  class="fas fa-credit-card tx-verve text-sm  "></i>
              </span>
            </div>
            <div class="  text-uppercase" *ngIf="TItem.TypeName == 'Cash '">
              Cash Payment

              <i class="fab fas fa-money-bill-alt text-cash  tx-primary"></i>
            </div>
            <div class="tx-12 text-muted">
              <span class=""> {{ TItem.AccountNumber  }}</span>
            </div>
          </td>
          <td>
            <div class="text-xs _500 text-muted">
              {{ TItem.ReferenceId  }}
            </div>
          </td>
          <td class="text-right">
            <div>
              <span [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
              {{ TItem.InvoiceAmount | number: "1.2-2" || "0" }}
            </div>
          </td>

          <!-- <td class="">
            <div>{{ TItem.ParentDisplayName || "--" }}</div>
            <div class="tx-12 text-muted">
              {{ TItem.SubParentDisplayName || "--" }}
            </div>
          </td> -->

          <td>
            <div class="tx-bold">{{ TItem.CreatedByDisplayName || "--" }}
            </div>
            <div class="tx-12 text-muted">
              {{ TItem.AcquirerDisplayName || "--" }}
            
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer pd-20">
    <span class="mr-3">
      {{ 'Common.Showing' | translate }}
      <span class="bold">{{TUTr_Config.ShowingStart}} {{ 'Common.To' | translate }}
        {{TUTr_Config.ShowingEnd}}
      </span> {{ 'Common.Of' | translate }} {{TUTr_Config.TotalRecords}}
    </span>
    <span>
      {{ 'Common.Show' | translate }}
      <select class="wd-40 " [(ngModel)]="TUTr_Config.PageRecordLimit"
        (ngModelChange)="TUTr_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
        <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
          {{TItem}}
        </option>
      </select>
    </span>
    <span class="float-right">
      <pagination-controls id="TUTr_Paginator" class="pagination pagination-space"
        (pageChange)="TUTr_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
        nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
      </pagination-controls>
    </span>
  </div>
</div>