<div style="border:1px solid #ccc;">
    <agm-map [zoom]="12" [latitude]="_HelperService._UserAccount.Latitude"
        [longitude]="_HelperService._UserAccount.Longitude" (mapClick)="Form_UpdateUser_PlaceMarkerClick($event)">
        <agm-marker [latitude]="_HelperService._UserAccount.Latitude"
            [longitude]="_HelperService._UserAccount.Longitude">
        </agm-marker>
    </agm-map>
</div>
<div class="padding white">

    <form [formGroup]="Form_UpdateUser" (ngSubmit)="Form_UpdateUser_Process(Form_UpdateUser.value)" role="form">
        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    <label>{{'System.Users.DisplayName' | translate }}<span class="text-danger">*</span>
                    </label>
                    <div class="controls">
                        <input type="text" name="DisplayName" maxlength="25"
                            [(ngModel)]="_HelperService._UserAccount.DisplayName" class="form-control"
                            [formControl]="Form_UpdateUser.controls['DisplayName']"
                            [ngClass]="{'is-invalid':!Form_UpdateUser.controls['DisplayName'].valid && Form_UpdateUser.controls['DisplayName'].touched}">
                    </div>
                    <label class="text-danger" for="DisplayName"
                        *ngIf="Form_UpdateUser.controls['DisplayName'].hasError('required') && Form_UpdateUser.controls['DisplayName'].touched">{{
                        'System.Users.DisplayName_ER_Required' | translate }}</label>
                    <label class="text-danger" for="DisplayName"
                        *ngIf="Form_UpdateUser.controls['DisplayName'].hasError('minlength') || Form_UpdateUser.controls['DisplayName'].hasError('maxlength')">{{
                        'System.Users.DisplayName_ER_Length' | translate }}</label>
                </div>
            </div>
            <div class="col-md-7">
                <div class="form-group">
                    <label>{{ 'System.Users.Name' | translate }}<span class="text-danger">*</span> </label>
                    <div class="controls">
                        <input type="text" name="Name" maxlength="256" class="form-control"
                            [(ngModel)]="_HelperService._UserAccount.Name"
                            [formControl]="Form_UpdateUser.controls['Name']"
                            [ngClass]="{'is-invalid':!Form_UpdateUser.controls['Name'].valid && Form_UpdateUser.controls['Name'].touched}">
                    </div>
                    <label class="text-danger" for="Name"
                        *ngIf="Form_UpdateUser.controls['Name'].hasError('required') && Form_UpdateUser.controls['Name'].touched">{{
                        'System.Users.Name_ER_Required' | translate }}</label>
                    <label class="text-danger" for="DisplayName"
                        *ngIf="Form_UpdateUser.controls['Name'].hasError('minlength') || Form_UpdateUser.controls['Name'].hasError('maxlength')">{{
                        'System.Users.Name_ER_Length' | translate }}</label>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label>{{'System.Users.MobileNumber' | translate }}<span class="text-danger">*</span>
                    </label>
                    <div class="controls">
                        <input type="text" name="MobileNumber" minlength="10" maxlength="14" class="form-control"
                            (keypress)="_HelperService.PreventText($event)"
                            [(ngModel)]="_HelperService._UserAccount.MobileNumber"
                            [formControl]="Form_UpdateUser.controls['MobileNumber']"
                            [ngClass]="{'is-invalid':!Form_UpdateUser.controls['MobileNumber'].valid && Form_UpdateUser.controls['MobileNumber'].touched}">
                    </div>
                    <label class="text-danger" for="MobileNumber"
                        *ngIf="Form_UpdateUser.controls['MobileNumber'].hasError('required') && Form_UpdateUser.controls['MobileNumber'].touched">{{
                            'System.Users.MobileNumber_ER_Required' | translate }}</label>
                    <label class="text-danger" for="MobileNumber"
                        *ngIf="Form_UpdateUser.controls['MobileNumber'].hasError('minlength') || Form_UpdateUser.controls['MobileNumber'].hasError('maxlength')">{{
                            'System.Users.MobileNumber_ER_Length' | translate }}</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>{{'System.Users.ContactNumber' | translate }}<span class="text-danger">*</span>
                    </label>
                    <div class="controls">
                        <input type="text" name="ContactNumber" minlength="10" maxlength="18" class="form-control"
                            (keypress)="_HelperService.PreventText($event)"
                            [(ngModel)]="_HelperService._UserAccount.ContactNumber"
                            [formControl]="Form_UpdateUser.controls['ContactNumber']"
                            [ngClass]="{'is-invalid':!Form_UpdateUser.controls['ContactNumber'].valid && Form_UpdateUser.controls['ContactNumber'].touched}">
                    </div>
                    <label class="text-danger" for="ContactNumber"
                        *ngIf="Form_UpdateUser.controls['ContactNumber'].hasError('required') && Form_UpdateUser.controls['ContactNumber'].touched">{{
                                'System.Users.ContactNumber_ER_Required' | translate }}</label>
                    <label class="text-danger" for="ContactNumber"
                        *ngIf="Form_UpdateUser.controls['ContactNumber'].hasError('minlength') || Form_UpdateUser.controls['ContactNumber'].hasError('maxlength')">{{
                                'System.Users.ContactNumber_ER_Length' | translate }}</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>{{ 'System.Users.EmailAddress' | translate }}<span class="text-danger">*</span>
                    </label>
                    <div class="controls">
                        <input type="text" name="EmailAddress" maxlength="256" class="form-control"
                            [(ngModel)]="_HelperService._UserAccount.EmailAddress"
                            [formControl]="Form_UpdateUser.controls['EmailAddress']"
                            [ngClass]="{'is-invalid':!Form_UpdateUser.controls['EmailAddress'].valid && Form_UpdateUser.controls['EmailAddress'].touched}">
                    </div>
                    <label class="text-danger" for="EmailAddress"
                        *ngIf="Form_UpdateUser.controls['EmailAddress'].hasError('required') && Form_UpdateUser.controls['EmailAddress'].touched">{{
                                    'System.Users.EmailAddress_ER_Required' | translate }}</label>

                    <label class="text-danger" for="EmailAddress"
                        *ngIf="Form_UpdateUser.controls['EmailAddress'].hasError('email') && Form_UpdateUser.controls['EmailAddress'].touched">{{
                                    'System.Users.EmailAddress_ER_Invalid' | translate }}</label>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label>{{'System.Users.LocateAddress' | translate }}<span class="text-danger">*</span>
                    </label>
                    <div class="controls">
                        <input type="text" name="GAddress" maxlength="256" class="form-control"
                            ngx-google-places-autocomplete #places="ngx-places"
                            (onAddressChange)="Form_UpdateUser_AddressChange($event)">
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="form-group">
                    <label>{{'System.Users.Address' | translate }}<span class="text-danger">*</span>
                    </label>
                    <div class="controls">
                        <input type="text" name="Address" maxlength="128" class="form-control"
                            [(ngModel)]="_HelperService._UserAccount.Address"
                            [formControl]="Form_UpdateUser.controls['Address']"
                            [ngClass]="{'is-invalid':!Form_UpdateUser.controls['Address'].valid && Form_UpdateUser.controls['Address'].touched}">
                    </div>
                    <label class="text-danger" for="Address"
                        *ngIf="Form_UpdateUser.controls['Address'].hasError('required') && Form_UpdateUser.controls['Address'].touched">{{
                                        'System.Users.Address_ER_Required' | translate }}</label>
                    <label class="text-danger" for="Address"
                        *ngIf="Form_UpdateUser.controls['Address'].hasError('minlength') || Form_UpdateUser.controls['Address'].hasError('maxlength')">{{
                                        'System.Users.Address_ER_Length' | translate }}</label>
                </div>
            </div>




            <div class="form-group" style="display:none">
                <label>{{ 'System.Users.Latitude' | translate }}<span class="text-danger">*</span>
                </label>
                <div class="controls">
                    <input type="text" name="Latitude" maxlength="20" class="form-control"
                        [(ngModel)]="_HelperService._UserAccount.Latitude"
                        [formControl]="Form_UpdateUser.controls['Latitude']"
                        [ngClass]="{'is-invalid':!Form_UpdateUser.controls['Latitude'].valid && Form_UpdateUser.controls['Latitude'].touched}">
                </div>
                <label class="text-danger" for="Latitude"
                    *ngIf="Form_UpdateUser.controls['Latitude'].hasError('required') && Form_UpdateUser.controls['Latitude'].touched">{{
                                'System.Users.Latitude_ER_Required' | translate }}</label>
            </div>
            <div class="form-group" style="display:none">
                <label>{{ 'System.Users.Longitude' | translate }}<span class="text-danger">*</span>
                </label>
                <div class="controls">
                    <input type="text" name="Longitude" maxlength="20" class="form-control"
                        [(ngModel)]="_HelperService._UserAccount.Longitude"
                        [formControl]="Form_UpdateUser.controls['Longitude']"
                        [ngClass]="{'is-invalid':!Form_UpdateUser.controls['Longitude'].valid && Form_UpdateUser.controls['Longitude'].touched}">
                </div>
                <label class="text-danger" for="Longitude"
                    *ngIf="Form_UpdateUser.controls['Longitude'].hasError('required') && Form_UpdateUser.controls['Longitude'].touched">{{
                                'System.Users.Longitude_ER_Required' | translate }}</label>
            </div>


            <div class="col-md-12">
                <div class="form-group">
                    <div> <label>{{ 'System.Users.AccountStatus' | translate }}<span class="text-danger">*</span>
                        </label></div>

                    <div class="radio float-left mr-3">
                        <label class="ui-check"><input type="radio" name="statusoptions"
                                [(ngModel)]="_HelperService._UserAccount.StatusCode"
                                [value]="_HelperService.AppConfig.Status.Active"
                                [formControl]="Form_UpdateUser.controls['StatusCode']">
                            <i class="dark-white"></i>
                            {{ 'Common.Active' | translate }}</label>
                    </div>
                    <div class="radio  mr-3"><label class="ui-check"><input type="radio" name="statusoptions"
                                [(ngModel)]="_HelperService._UserAccount.StatusCode"
                                [value]="_HelperService.AppConfig.Status.Inactive"
                                [formControl]="Form_UpdateUser.controls['StatusCode']">
                            <i class="dark-white"></i>
                            {{ 'Common.Inactive' | translate }}</label></div>
                </div>

            </div>

            <div class="col-md-12">
                <div class="light text-right b-b b-t">
                    <button type="submit" class="btn btn-fw warn btn-block  mr-2"
                        (click)="Form_UpdateUser.value.OperationType='new'"
                        [disabled]="!Form_UpdateUser.valid || _HelperService.IsFormProcessing">
                        <span *ngIf="!_HelperService.IsFormProcessing">
                            {{ 'Common.Update' | translate }}
                        </span>
                        <span *ngIf="_HelperService.IsFormProcessing">
                            <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{ 'Common.PleaseWait' |
                                            translate
                                            }}...
                        </span>
                    </button>


                </div>
            </div>







        </div>

    </form>

</div>