<div class="text-right mb-3">

    <div class="float-left">
        #{{_CampaignDetails.ReferenceId || "--"}}
    </div>
    <button type="button" *ngIf="_CampaignDetails.StatusCode == _HelperService.AppConfig.Status.Campaign.Creating"
        class="btn btn-success btn-sm mr-2"
        (click)="UpdateCampaignStatus(_HelperService.AppConfig.Status.Campaign.Published)">Publish </button>
    <button type="button"
        *ngIf="_CampaignDetails.StatusCode == _HelperService.AppConfig.Status.Campaign.Paused || _CampaignDetails.StatusCode == _HelperService.AppConfig.Status.Campaign.LowBalance"
        class="btn btn-success btn-sm mr-2"
        (click)="UpdateCampaignStatus(_HelperService.AppConfig.Status.Campaign.Published)">Resume </button>
    <button type="button" *ngIf="_CampaignDetails.StatusCode == _HelperService.AppConfig.Status.Campaign.Published"
        class="btn btn-warning btn-sm mr-2"
        (click)="UpdateCampaignStatus(_HelperService.AppConfig.Status.Campaign.Paused)">Pause</button>
    <button type="button" *ngIf="_CampaignDetails.StatusCode == _HelperService.AppConfig.Status.Campaign.Published  
        || _CampaignDetails.StatusCode == _HelperService.AppConfig.Status.Campaign.Paused 
        ||  _CampaignDetails.StatusCode == _HelperService.AppConfig.Status.Campaign.LowBalance "
        class="btn btn-danger btn-sm mr-2"
        (click)="UpdateCampaignStatus(_HelperService.AppConfig.Status.Campaign.Expired)">Expire </button>
    <button type="button" class="btn btn-primary mr-2 btn-sm " (click)="DuplicateCampaign()"
        *ngIf="_CampaignDetails.StatusCode != _HelperService.AppConfig.Status.Campaign.Creating">
        Duplicate
    </button>
    <button type="button" class="btn btn-danger btn-sm " (click)="DeleteCampaign()">Delete
    </button>

</div>
<div [className]="_HelperService._Assets.Box.root">

        <div class="card-header b-b">
            <h5>{{_CampaignDetails.Name || "--"}}
    
                <span class="float-right ">
                    <span class="{{_CampaignDetails.StatusB}}">{{ _CampaignDetails.StatusName || "--" }}</span>
                </span>
            </h5>
        </div>
 
  
    <div class="box-body p-0">
        <div class="row no-gutters">
            <div class="col-lg-12 col-md-6 col-sm-6 col-xs-12 ">
                <div class="row no-gutters">
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="p-3">
                            <div class="mb-2" title="{{_CampaignDetails.SubTypeName}}">
                                <small class="text-muted">Campaign Type</small>
                                <div class="_500 text-ellipses">{{ _CampaignDetails.TypeName || "0" }}
                                </div>
                            </div>
                            <div title="{{_CampaignDetails.SubTypeValue}}"
                                *ngIf="_CampaignDetails.SubTypeCode=='fixedamount'">
                                <small class="text-muted">Reward Amount</small>
                                <div class="_700 text-warn text-ellipses"> <span
                                        [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                                    {{ _CampaignDetails.SubTypeValue || "0" }}
                                </div>
                            </div>
                            <div title="{{_CampaignDetails.SubTypeValue}}"
                                *ngIf="_CampaignDetails.SubTypeCode=='amountpercentage'">
                                <small class="text-muted ">Reward Percentage</small>
                                <div class="_700 text-warn text-ellipses">{{ _CampaignDetails.SubTypeValue || "0" }}%
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="p-3">
                            <div class="mb-2" title="{{_CampaignDetails.MinimumInvoiceAmount}}">
                                <small class="text-muted">Minimum Invoice Amount</small>
                                <div class="_500 text-ellipses"> <span
                                        [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{ _CampaignDetails.MinimumInvoiceAmount || "0" }}
                                </div>
                            </div>
                            <div title="{{_CampaignDetails.MaximumRewardAmount}}">
                                <small class="text-muted">Maximum Reward Amount</small>
                                <div class="_500 text-ellipses"> <span
                                        [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{ _CampaignDetails.MaximumRewardAmount || "0" }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="p-3">
                            <div class="mb-2" title="{{ _CampaignDetails.StartDateS  }} -
                            {{ _CampaignDetails.EndDateS ">
                                <small class="text-muted">Schedule</small>
                                <div class="_500 text-ellipses">{{ _CampaignDetails.StartDateS || "--" }} -
                                    {{ _CampaignDetails.EndDateS || "--" }} </div>
                            </div>
                            <!-- <div title=" {{ _HelperService._UserAccount.MobileNumber }}">
                                <small class="text-muted">{{"System.Users.ContactNumber" | translate  }}</small>
                                <div class="_500 text-ellipses">{{ _HelperService._UserAccount.MobileNumber || "--" }}
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12  light lt  b-r">
                        <div class="p-3">
                            <div class="mb-2" title="{{ _CampaignDetails.CreatedByDisplayName}}">
                                <small class="text-muted">{{ "Common.CreateDate" | translate  }}
                                    <!-- <span class="text-xxs"> :
                                        #{{ _CampaignDetails.ReferenceId || "--" }}</span> -->
                                </small>
                                <div class="text-sm _500 text-ellipses">
                                    {{ _CampaignDetails.CreateDateS || "--" }}
                                    <span class="text-xxs ">{{ _CampaignDetails.CreatedByDisplayName || "--" }}</span>
                                </div>
                            </div>
                            <div title="{{ _CampaignDetails.ModifyByDisplayName}}">
                                <small class="text-muted">{{ "Common.ModifyDate" | translate  }} </small>
                                <div class="text-sm _500 text-ellipses">
                                    {{ _CampaignDetails.ModifyDateS || "--" }}
                                    <span class="text-xxs ">{{ _CampaignDetails.ModifyByDisplayName  }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="media-body mg-t-10">
    <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link active" href="#" data-toggle="tab"
                data-target="#tabTransactions">Rewards History</a>
        </li>
        <li class="nav-item" *ngIf="_CampaignDetails.StatusCode  == _HelperService.AppConfig.Status.Campaign.Creating ">
            <a class="nav-link" href="#" data-toggle="tab" data-target="#tabManageCampaign">Manage
                Campaign</a></li>
    </ul>
</div>
<div class="tab-content bg-white bd bd-gray-300 bd-t-0">
    <div class="tab-pane fade show active" id="tabTransactions">
        <div class="card bd-0"  *ngIf="TUTr_Config != undefined">
            <div [className]="_HelperService._Assets.Box.header">

         
            <div [className]="_HelperService._Assets.Box.headerTitle">
               {{ TUTr_Config.Title }}
            </div>
            <div [className]="_HelperService._Assets.Box.headerTitleRight">
                <ul class="nav nav-xs">
                    <li title="{{ 'Common.FilterT' | translate }}" class="nav-item"
                        (click)="TUTr_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.ToggleFilter)"><a [className]="_HelperService._Assets.Box.headerTitleRightItem"
                            ><i class=" {{ 'Common.FilterI' | translate }}"></i></a></li>
                    <li title="{{ 'Common.DownloadT' | translate }}" class="nav-item"
                        (click)="TUTr_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.Csv)">
                        <a [className]="_HelperService._Assets.Box.headerTitleRightItem" ><i class="{{ 'Common.DownloadI' | translate }}"></i></a>
                    </li>
                    <li title="{{ 'Common.RefreshT' | translate }}" class="nav-item"
                        (click)="TUTr_ToggleOption($event,_HelperService.AppConfig.ListToggleOption.Refresh)">
                        <a  [className]="_HelperService._Assets.Box.headerTitleRightItem" ><i class="{{ 'Common.RefreshI' | translate }}"></i></a>
                    </li>
                </ul>
            </div>
        </div>
            <div [className]="_HelperService._Assets.Box.bodyFilter">
                <div class="row no-gutters" >
                    <div class="col-md-2">
                        <div class="form-group mr-2 mb-2">
                            <select2 class="full-width" [options]="TUTr_Filter_UserAccount_Option"
                                (valueChanged)="TUTr_Filter_UserAccounts_Change($event)">
                            </select2>
                        </div>
                    </div>
                    <div class="col-md-2 ">
                        <div class="form-group  mr-2 mb-2">
                            <select2 class="full-width" [options]="TUTr_Filter_TransactionType_Option"
                                (valueChanged)="TUTr_Filter_TransactionTypes_Change($event)">
                            </select2>
                        </div>
                    </div>

                    <!-- <div class="col-md-2 ">
                            <div class="input-group  mr-2">
                              <input type="text" maxlength="100" [(ngModel)]="TUTr_Config.SearchParameter" class="form-control" (keyup)="
                                  TUTr_ToggleOption(
                                    null,
                                    _HelperService.AppConfig.ListToggleOption.Search
                                  )
                                " placeholder="{{ 'Common.Search' | translate }}" />
                              <div class="input-group-append">
                                <button class="btn white" type="button" (click)="
                                        TUTr_ToggleOption(
                                          null,
                                          _HelperService.AppConfig.ListToggleOption.Search
                                        )
                                      ">
                                  {{ "Common.Go" | translate }}
                                </button>
                              </div>
                            </div>
                          </div> -->
                    <div class="col-md-2">
                        <div class="form-group mr-2 mb-2">
                            <select2 class="full-width" [options]="TUTr_Filter_Merchant_Option"
                                (valueChanged)="TUTr_Filter_Merchants_Change($event)">
                            </select2>
                        </div>
                    </div>
                    <div class="col-md-2 ">
                        <div class="form-group mr-2 mb-2">
                            <input type="text" class="form-control full-width" name="daterangeInput" daterangepicker
                                [options]="_HelperService.AppConfig.DateRangeOptions"
                                (selected)="TUTr_ToggleOption_Date($event,_HelperService.AppConfig.ListToggleOption.Date)" />
                        </div>
                    </div>
                    <div class="col-md-2 ">
                        <div class="form-group mr-2 mb-2">
                            <select2 class="full-width" [options]="_HelperService.S2_Sort_Option"
                                [data]="TUTr_Config.SortExpressionOption" [value]="TUTr_Config.SortExpression"
                                (valueChanged)="TUTr_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Sort)">
                            </select2>
                        </div>
                    </div>
                    <div class="col-md-2 ">
                        <div class="form-group  mr-2 mb-2">
                            <select2 class="full-width" [options]="_DataHelperService.S2_Status_Option"
                                [data]="TUTr_Config.StatusOptions" [value]="TUTr_Config.Status"
                                (valueChanged)="TUTr_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)">
                            </select2>
                        </div>
                    </div>
                </div>
                <div class="mt-2" *ngIf="TUTr_Config.ToggleFilter">
                    <div class="row no-gutters">
                        <div class="col-md-2">
                            <div class="form-group mr-2 mb-2">
                                <select2 class="full-width" [options]="TUTr_Filter_CardBrand_Option"
                                    (valueChanged)="TUTr_Filter_CardBrands_Change($event)">
                                </select2>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group mr-2 mb-2">
                                <select2 class="full-width" [options]="TUTr_Filter_CardBank_Option"
                                    (valueChanged)="TUTr_Filter_CardBanks_Change($event)">
                                </select2>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group mr-2 mb-2" *ngIf="!TUTr_Filter_Store_Toggle">
                                <select2 class="full-width" [options]="TUTr_Filter_Store_Option"
                                    (valueChanged)="TUTr_Filter_Stores_Change($event)">
                                </select2>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group mr-2 mb-2">
                                <select2 class="full-width" [options]="TUTr_Filter_Provider_Option"
                                    (valueChanged)="TUTr_Filter_Providers_Change($event)">
                                </select2>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group mr-2 mb-2" *ngIf="!_HelperService.ToggleField">
                                <select2 class="full-width" [options]="TUTr_Filter_Issuer_Option"
                                    (valueChanged)="TUTr_Filter_Issuers_Change($event)">
                                </select2>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-6">
                            <div class="mb-2">
                                <ng5-slider [value]="TUTr_InvoiceRangeMinAmount"
                                    [highValue]="TUTr_InvoiceRangeMaxAmount"
                                    [options]="_HelperService.AppConfig.RangeInvoiceAmountOptions"
                                    (userChangeEnd)="TUTr_InvoiceRange_OnChange($event)">
                                </ng5-slider>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div>
                                <ng5-slider [value]="TUTr_RewardRangeMinAmount" [highValue]="TUTr_RewardRangeMaxAmount"
                                    [options]="_HelperService.AppConfig.RangeRewardAmountOptions"
                                    (userChangeEnd)="TUTr_RewardRange_OnChange($event)">
                                </ng5-slider>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="form-group">
                        <div class="radio float-left mr-3">
                            <label class="ui-check"><input type="radio" name="sourceoption" checked [value]="0"
                                    (change)="TUTr_Filter_TransactionSources_Change(0)">
                                <i class="dark-white"></i> All Transactions </label>
                        </div>
                        <div class="radio float-left mr-3"><label class="ui-check"><input type="radio"
                                    name="sourceoption" [value]="167"
                                    (change)="TUTr_Filter_TransactionSources_Change(167)">
                                <i class="dark-white"></i>
                                <span class="ml-2 _600  text-deep-orange"> ThankUCash </span>
                            </label></div>
                        <div class="radio  mr-3"><label class="ui-check"><input type="radio" name="sourceoption"
                                    [value]="244" (change)="TUTr_Filter_TransactionSources_Change(244)">
                                <i class="dark-white"></i>
                                <span class="ml-2 _600  text-deep-purple"> ThankUCash+ </span>
                            </label></div>
                    </div> -->
                </div>
            </div>
            <div class="box-body p-0">
                <table class="{{ _HelperService.AppConfig.TablesConfig.DefaultClass }}">
                    <thead>
                        <tr>
                            <th class="td-date">Date</th>
                            <th>
                                User
                            </th>
                            <th>Type</th>
                            <th class="td-number">Bank</th>
                            <th class="td-amount">Sale</th>
                            <th class="td-amount">Reward</th>
                            <th>Merchant</th>
                            <th>Done By</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="
                                let TItem of (TUTr_Config.Data
                                  | paginate
                                    : {
                                        id: 'TUTr_Paginator',
                                        itemsPerPage: TUTr_Config.PageRecordLimit,
                                        currentPage: TUTr_Config.ActivePage,
                                        totalItems: TUTr_Config.TotalRecords
                                      })
                              ">
                            <td class="td-date">
                                <div>{{ TItem.TransactionDateD || "--" }}
                                    <span class="text-xxs _600 w-60">{{ TItem.TransactionDateT || "--" }}</span>
                                </div>
                                <div class="text-xs _500 ">
                                    <span class="text-lowercase mr-1 "
                                        [ngClass]="TItem.StatusBadge">{{ TItem.StatusName || "--" }}</span>
                                    <!-- <span class="text-lowercase  badge deep-purple "
                                        *ngIf="TItem.SourceId == 244">TUC+</span>
                                    <span class="text-lowercase  badge deep-orange "
                                        *ngIf="TItem.SourceId == 167">TUC</span> -->
                                </div>
                            </td>
                            <td>
                                <div class="text-warn _500">
                                    {{ TItem.UserDisplayName || "--" }}
                                </div>
                                <div class="text-xs _500 text-muted">
                                    {{ TItem.UserMobileNumber || "--" }}
                                </div>
                            </td>
                            <td>
                                <div class="text-xs _500 text-uppercase" *ngIf="TItem.TypeName != 'Cash '">
                                    <span *ngIf="TItem.CardBrandName != undefined">
                                        <i *ngIf="TItem.CardBrandName.toLowerCase() == 'visa'"
                                            class="fab fa-cc-visa text-visa-card text-sm float-right"></i>
                                        <i *ngIf="TItem.CardBrandName.toLowerCase() == 'mastercard'"
                                            class="fab fa-cc-mastercard text-mastercard text-sm  float-right"></i>
                                        <i *ngIf="TItem.CardBrandName.toLowerCase() == 'verve'"
                                            class="fas fa-credit-card text-verve-card text-sm  float-right"></i>
                                    </span>
                                    {{ TItem.CardBrandName }}
                                </div>
                                <div class="text-xs _500 text-uppercase" *ngIf="TItem.TypeName == 'Cash '">
                                    <i class="fab fas fa-money-bill-alt text-cash   float-right"></i>
                                    Cash Payment
                                </div>
                                <div class="text-xs _500 text-muted">
                                    {{ TItem.TypeName  }}
                                </div>
                            </td>
                            <td>
                                <div class="text-ellipses">{{ TItem.CardBankName || "--" }}</div>
                                <div class="text-xs _500 text-muted">
                                    {{ TItem.AccountNumber  }}
                                </div>
                            </td>
                            <td class="td-amount _600 text-warning">
                                <div>
                                    <span [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                                    {{ TItem.InvoiceAmount | number: "1.2-2" || "--" }}
                                </div>
                                <!-- <div class="text-xs _500 text-success">
                                    {{TItem.CommissionAmount | number:'1.2-2' || "--"}}
                                    <span class="text-xxs ">COM</span>
                                </div> -->
                            </td>
                            <td class="td-amount _600 ">
                                <div>{{ TItem.RewardAmount | number: "1.2-2" || "--" }}</div>
                                <div class="text-xs _500 text-success"> {{TItem.UserAmount | number:'1.2-2' || "--"}}
                                    <span class="text-xxs ">USER</span>
                                </div>
                            </td>

                            <td>
                                <div>{{ TItem.ParentDisplayName || "--" }}</div>
                                <div class="text-xs _500 text-muted">
                                    {{ TItem.SubParentDisplayName || "--" }}
                                </div>
                            </td>

                            <td>
                                <div>{{ TItem.CreatedByDisplayName || "--" }}
                                </div>
                                <div class="text-xs _500 text-muted">
                                    {{ TItem.ProviderDisplayName || "--" }}
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="  p-4">
                    <span class="mr-1">
                        {{ "Common.Showing" | translate }}
                        <span class="bold">{{ TUTr_Config.ShowingStart }}
                            {{ "Common.To" | translate }}
                            {{ TUTr_Config.ShowingEnd }}
                        </span>
                        {{ "Common.Of" | translate }} {{ TUTr_Config.TotalRecords }}
                    </span>
                    |
                    <span class="ml-1">
                        {{ "Common.Show" | translate }}
                        <select class=" w-64 " [(ngModel)]="TUTr_Config.PageRecordLimit" (ngModelChange)="
                                TUTr_ToggleOption(
                                  $event,
                                  _HelperService.AppConfig.ListToggleOption.Limit
                                )
                              ">
                            <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
                                {{ TItem }}
                            </option>
                        </select>
                        {{ "Common.Entries" | translate }}
                    </span>
                    <span class="float-right">
                        <pagination-controls id="TUTr_Paginator" (pageChange)="
                                TUTr_ToggleOption(
                                  $event,
                                  _HelperService.AppConfig.ListToggleOption.Page
                                )
                              " nextLabel="{{ 'Common.Next' | translate }}"
                            previousLabel="{{ 'Common.Previous' | translate }}">
                        </pagination-controls>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="tabManageCampaign"
        *ngIf="_CampaignDetails.StatusCode == _HelperService.AppConfig.Status.Campaign.Creating ">
        <form [formGroup]="Form_AddUser" (ngSubmit)="Form_AddUser_Process(Form_AddUser.value)" role="form">
            <div class="card bd-0">
                <div class="pt-3 pb-3">
                <div class="card-header b-b b-2x">
                    <h6 class="text-primary">Reward Campaign Information</h6>
                    <small class="text-secondary"> Campaign information setup </small>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label> Name <span class="text-danger">*</span>
                                        </label>
                                        <div class="controls">
                                            <input type="text" name="Name" maxlength="128" class="form-control"
                                                [formControl]="Form_AddUser.controls['Name']" [ngClass]="{
                                                                        'is-invalid':
                                                                          !Form_AddUser.controls['Name'].valid &&
                                                                          Form_AddUser.controls['Name'].touched
                                                                      }" />
                                        </div>
                                        <label class="text-danger" for="Name"
                                            *ngIf=" Form_AddUser.controls['Name'].hasError('required') && Form_AddUser.controls['Name'].touched">
                                            enter campaign name</label>
                                        <label class="text-danger" for="Name"
                                            *ngIf="Form_AddUser.controls['Name'].hasError(  'minlength' ) || Form_AddUser.controls['Name'].hasError('maxlength')">
                                            campaign name must be between 4 to 128 characters
                                        </label>
                                    </div>
                                </div>
                                <!-- <div class="col-md-12">
                                        <div class="form-group">
                                            <label> Campaign Type <span class="text-danger">*</span>
                                            </label>
                                            <div class="controls">
                                                <select class="form-control" [formControl]="Form_AddUser.controls['TypeCode']">
                                                    <option *ngFor="let TItem of CampaignType" value="{{TItem.TypeCode}}"
                                                        [value]="TItem.TypeCode"> {{TItem.Name}}</option>
                                                </select>
                                            </div>
                                            <label class="text-danger" for="TypeCode"
                                                *ngIf=" Form_AddUser.controls['TypeCode'].hasError('required') && Form_AddUser.controls['TypeCode'].touched">
                                                select campaign type</label>
                                        </div>
                                    </div> -->
                                <div class="col-lg-12 mb-3">
                                    <div class="row">
                                        <div class="col-12">
                                            <label> Campaign Type <span class="text-danger">*</span>
                                            </label>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="b-a p-3 r-1x text-center cursor-pointer"
                                                [ngClass]="{'bg-success tx-white': Form_AddUser.value.TypeCode == 'owncardcustomers','bg-white tx-dark': Form_AddUser.value.TypeCode != 'owncardcustomers' }"
                                                (click)="SetCampaignType('owncardcustomers')">
                                                <div class="pb-1">
                                                    All <span
                                                        class="tx-bold">{{_HelperService.AppConfig.ActiveOwnerDisplayName}}
                                                    </span> Bank Customers
                                                </div>
                                                <div  [ngClass]="{'bg-success tx-white ': Form_AddUser.value.TypeCode == 'owncardcustomers','bg-white tx-dark': Form_AddUser.value.TypeCode != 'owncardcustomers' }"
                                                >
                                                    Reward users who use <span
                                                        class="tx-bold">{{_HelperService.AppConfig.ActiveOwnerDisplayName}}
                                                    </span>
                                                    bank card for puchase
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="b-a p-3 r-1x text-center cursor-pointer"
                                                [ngClass]="{'bg-success tx-white': Form_AddUser.value.TypeCode == 'othercardcustomers', 'bg-white tx-dark': Form_AddUser.value.TypeCode != 'othercardcustomers' }"
                                                (click)="SetCampaignType('othercardcustomers')">
                                                <div class="pb-1">
                                                    Non <span
                                                        class="tx-bold">{{_HelperService.AppConfig.ActiveOwnerDisplayName}}
                                                    </span> Bank
                                                    Customers
                                                </div>
                                                <div [ngClass]="{'bg-success tx-white tx-sm': Form_AddUser.value.TypeCode == 'othercardcustomers', 'bg-white tx-dark': Form_AddUser.value.TypeCode != 'othercardcustomers' }"
                                                >
                                                    Reward other bank users who use <span
                                                        class="tx-bold">{{_HelperService.AppConfig.ActiveOwnerDisplayName}}
                                                    </span>
                                                    pos
                                                    terminals
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label> Schedule <span class="text-danger">*</span>
                                        </label>
                                        <div class="controls">
                                            <input type="text" class="form-control " name="daterangeInput"
                                                daterangepicker readonly
                                                [options]="_HelperService.AppConfig.DateRangeFutureOptions"
                                                [formControl]="Form_AddUser.controls['TStartDate']"
                                                (selected)="ScheduleDateRangeChange($event)" />
                                        </div>
                                        <label class="text-danger" for="TStartDate"
                                            *ngIf=" Form_AddUser.controls['TStartDate'].hasError('required') && Form_AddUser.controls['TStartDate'].touched">
                                            select campaign Schedule</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label> Reward Type <span class="text-danger">*</span>
                                        </label>
                                        <div class="controls">
                                            <select class="form-control"
                                                [formControl]="Form_AddUser.controls['SubTypeCode']"
                                                (change)="RewardTypeChange()">
                                                <option *ngFor="let TItem of CampaignRewardType"
                                                    value="{{TItem.TypeCode}}" [value]="TItem.TypeCode"> {{TItem.Name}}
                                                </option>
                                            </select>
                                        </div>
                                        <label class="text-danger" for="SubTypeCode"
                                            *ngIf=" Form_AddUser.controls['SubTypeCode'].hasError('required') && Form_AddUser.controls['SubTypeCode'].touched">
                                            select campaign type</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label
                                            *ngIf="Form_AddUser.value.SubTypeCode != 'fixedamount' && Form_AddUser.value.SubTypeCode != 'amountpercentage'">Reward
                                            Amount / Percentage<span class="text-danger">*</span>
                                        </label>
                                        <label *ngIf="Form_AddUser.value.SubTypeCode == 'fixedamount'">Reward
                                            Amount<span class="text-danger">*</span>
                                        </label>
                                        <label *ngIf="Form_AddUser.value.SubTypeCode == 'amountpercentage'">Reward
                                            Percentage<span class="text-danger">*</span>
                                        </label>
                                        <div class="controls">
                                            <input type="text" name="SubTypeValue" minlength="0" maxlength="100000000"
                                                class="form-control" (keypress)="_HelperService.PreventText($event)"
                                                [formControl]="Form_AddUser.controls['SubTypeValue']" [ngClass]="{
                                                                                        'is-invalid':
                                                                                          !Form_AddUser.controls['SubTypeValue'].valid &&
                                                                                          Form_AddUser.controls['SubTypeValue'].touched
                                                                                      }" />
                                        </div>
                                        <label class="text-danger" for="SubTypeValue" *ngIf="
                                                                                      Form_AddUser.controls['SubTypeValue'].hasError(
                                                                                        'required'
                                                                                      ) && Form_AddUser.controls['SubTypeValue'].touched
                                                                                    "> Enter reward amount /
                                            percentage</label>
                                        <label class="text-danger" for="SubTypeValue" *ngIf="
                                                                                      Form_AddUser.controls['SubTypeValue'].hasError(
                                                                                        'minlength'
                                                                                      ) ||
                                                                                      Form_AddUser.controls['SubTypeValue'].hasError(
                                                                                        'maxlength'
                                                                                      )
                                                                                    ">Enter valid reward amount /
                                            percentage</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Minimum purchase amount<span class="text-danger">*</span>
                                        </label>
                                        <div class="controls">
                                            <input type="text" name="MinimumInvoiceAmount" minlength="0"
                                                maxlength="100000000" class="form-control"
                                                (keypress)="_HelperService.PreventText($event)"
                                                [formControl]="Form_AddUser.controls['MinimumInvoiceAmount']" [ngClass]="{
                                                                                            'is-invalid':
                                                                                              !Form_AddUser.controls['MinimumInvoiceAmount'].valid &&
                                                                                              Form_AddUser.controls['MinimumInvoiceAmount'].touched
                                                                                          }" />

                                        </div>
                                        <label class="text-danger" for="MinimumInvoiceAmount" *ngIf="
                                                                                          Form_AddUser.controls['MinimumInvoiceAmount'].hasError(
                                                                                            'required'
                                                                                          ) && Form_AddUser.controls['MinimumInvoiceAmount'].touched
                                                                                        "> Enter minimum invoice
                                            amount</label>
                                        <label class="text-danger" for="MinimumInvoiceAmount" *ngIf="
                                                                                          Form_AddUser.controls['MinimumInvoiceAmount'].hasError(
                                                                                            'minlength'
                                                                                          ) ||
                                                                                          Form_AddUser.controls['MinimumInvoiceAmount'].hasError(
                                                                                            'maxlength'
                                                                                          )
                                                                                        ">Enter valid invoice
                                            amount</label>
                                    </div>
                                </div>

                                <div class="col-md-6" *ngIf="Form_AddUser.value.SubTypeCode != 'fixedamount'">
                                    <div class="form-group">
                                        <label>Maximum reward amount<span class="text-danger">*</span>
                                        </label>
                                        <div class="controls">
                                            <input type="text" name="MaximumRewardAmount" minlength="0"
                                                maxlength="100000000" class="form-control"
                                                (keypress)="_HelperService.PreventText($event)"
                                                [formControl]="Form_AddUser.controls['MaximumRewardAmount']" [ngClass]="{
                                                                                                'is-invalid':
                                                                                                  !Form_AddUser.controls['MaximumRewardAmount'].valid &&
                                                                                                  Form_AddUser.controls['MaximumRewardAmount'].touched
                                                                                              }" />
                                        </div>
                                        <label class="text-danger" for="MaximumRewardAmount" *ngIf="
                                                                                              Form_AddUser.controls['MaximumRewardAmount'].hasError(
                                                                                                'required'
                                                                                              ) && Form_AddUser.controls['MaximumRewardAmount'].touched
                                                                                            "> Enter maximum reward
                                            amount</label>
                                        <label class="text-danger" for="MaximumRewardAmount" *ngIf="
                                                                                              Form_AddUser.controls['MaximumRewardAmount'].hasError(
                                                                                                'minlength'
                                                                                              ) ||
                                                                                              Form_AddUser.controls['MaximumRewardAmount'].hasError(
                                                                                                'maxlength'
                                                                                              )
                                                                                            ">Enter valid maximum
                                            reward
                                            amount</label>
                                    </div>
                                </div>

                                <!-- <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label> About
                                                                </label>
                                                                <div class="controls">
                                                                    <input type="text" name="Description" maxlength="128" class="form-control"
                                                                        [formControl]="Form_AddUser.controls['Description']" [ngClass]="{
                                                                            'is-invalid':
                                                                              !Form_AddUser.controls['Description'].valid &&
                                                                              Form_AddUser.controls['Description'].touched
                                                                          }" />
                                                                </div>
                                                            </div>
                                                        </div> -->
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12 hidden-xs ">
                        </div>
                    </div>

                </div>
            </div>
                <div class="light p-3  b-b b-t">
                    <button type="submit" class="btn btn-primary"
                        (click)="Form_AddUser.value.OperationType = 'new'"
                        [disabled]="!Form_AddUser.valid || _HelperService.IsFormProcessing">
                        <span *ngIf="!_HelperService.IsFormProcessing">
                            Update
                        </span>
                        <span *ngIf="_HelperService.IsFormProcessing">
                            <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                            {{ "Common.PleaseWait" | translate }}...
                        </span>
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>