<div class="card bd-t-0 px-3 pb-3 pt-0">


  <!-- <div class="row row-xs">
    <div class="col-lg-8 col-xl-8 col-sm-12 col-md-12">
      <div class="card ht-100p">
        <div class="card-header pd-t-20 d-sm-flex align-items-start justify-content-between">
          <div>
            <h6 class="mg-b-5 tx-bold">Sales Report</h6>
            <p class="tx-13 tx-color-03 mg-b-0">Sales report of this campaign compared with same day of last month</p>
          </div>

          <ul class="list-inline d-flex mg-t-20 mg-sm-t-10 mg-md-t-0 mg-b-0">
            <li class="list-inline-item d-flex align-items-center">
              <span class="d-block wd-10 ht-10 bg-teal rounded mg-r-5"></span>
              <span class="tx-sans  tx-10 tx-medium tx-color-03">Today</span>
            </li>
            <li class="list-inline-item d-flex align-items-center mg-l-5">
              <span class="d-block wd-10 ht-10 bg-MasterCard rounded mg-r-5"></span>
              <span class="tx-sans  tx-10 tx-medium tx-color-03">Same day Of Last Month</span>
            </li>

          </ul>
        </div>
        <div class="card-body pd-lg-25">

          <div class="row align-items-sm-end">

            <canvas height="75" baseChart #DataPlot="base-chart" [datasets]="barChartData" [labels]="barChartLabels"
              [options]="Options" [plugins]="Plugins" [chartType]="_HelperService.ChartConfig.LineChart.Type">
            </canvas>

          </div>
        </div>


      </div>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 mg-t-15  mg-lg-t-0">
      <div class="card ht-100p">
        <div class="card-header d-flex align-items-center justify-content-between bd-b-0">
          <h5 class="mg-b-5 tx-14 tx-bold">Budget Status
          </h5>
          <div class="d-flex align-items-center tx-18 text-primary">
            <h5 class="mg-b-5 tx-14 text-primary tx-bold">N200000
            </h5>
          </div>
        </div>

        <ul class="list-group list-group-flush tx-13">

          <li class="list-group-item d-flex pd-sm-x-20">
            <div class="pd-l-10">
              <p class="tx-bold tx-16 mg-b-5">N200 200</p>
              <div class="progress ht-4 mg-b-5 ">
                <div class="progress-bar bg-primary wd-65p" role="progressbar" aria-valuenow="65" aria-valuemin="0"
                  aria-valuemax="100"></div>
              </div>
              <p class="tx-12 tx-color-03 mg-b-0">Total number of Transactions done under this campaign</p>

            </div>

          </li>


          <li class="list-group-item d-flex pd-sm-x-20">
            <div class="pd-l-10">
              <p class="tx-bold tx-16 tx-verve mg-b-5">N200 200</p>
              <p class="tx-10 tx-uppercase tx-semibold link-01 tx-spacing-1 mg-b-5">Total Sale amount</p>

              <p class="tx-12 tx-color-03 mg-b-0">Amount of budget reached to this in 23 Hrs</p>

            </div>

          </li>

          <li class="list-group-item d-flex pd-sm-x-20">
            <div class="pd-l-10">
              <p class="tx-bold tx-16 tx-teal mg-b-5">N200 200</p>
              <p class="tx-10 tx-uppercase tx-semibold link-01 tx-spacing-1 mg-b-5">Total Transactions</p>

              <p class="tx-12 tx-color-03 mg-b-0">Sales amount achieved under this Campaign</p>

            </div>

          </li>



        </ul>
      </div>

    </div>

 
  </div> -->

  <div class="row row-xs">
    <div class="col-lg-12 col-xl-12 col-sm-12 col-md-12">
      <div class="card ht-100p">
        <div class="card-header pd-t-20 d-sm-flex align-items-start justify-content-between">
          <div>
            <h6 class="mg-b-5 tx-bold">Sales Report</h6>
            <p class="tx-13 tx-color-03 mg-b-0">Sales report of this campaign compared with same day of last month</p>
          </div>

          <ul class="list-inline d-flex mg-t-20 mg-sm-t-10 mg-md-t-0 mg-b-0">
            <li class="list-inline-item d-flex align-items-center">
              <span class="d-block wd-10 ht-10 bg-teal rounded mg-r-5"></span>
              <span class="tx-sans  tx-10 tx-medium tx-color-03">Today</span>
            </li>
            <li class="list-inline-item d-flex align-items-center mg-l-5">
              <span class="d-block wd-10 ht-10 bg-MasterCard rounded mg-r-5"></span>
              <span class="tx-sans  tx-10 tx-medium tx-color-03">Same day Of Last Month</span>
            </li>

          </ul>
        </div><!-- card-header -->
        <div class="card-body pd-lg-25">
          <div class="row align-items-sm-end">
            <div class="col-lg-9 col-xl-9 col-md-12 p-0">
              <!-- <div class="chart-six">
              <div #flotChart2 style="height: 300px;"></div>
            </div> -->
              <!-- <canvas height="75" baseChart #DataPlot="base-chart"
              *ngIf="_OSalesHistory.TransactionStatusDataSet.length > 0"
              [chartType]="_HelperService.ChartConfig.BarChart.Type"
              [options]="_HelperService.ChartConfig.BarChart.Options"
              [colors]="_OSalesHistory.TransactionStatusDataSetColors" [labels]="_OSalesHistory.Labels"
              [datasets]="_OSalesHistory.TransactionStatusDataSet"></canvas> -->
              <canvas class="chart-six"   baseChart #DataPlot="base-chart" [datasets]="barChartData" [labels]="barChartLabels"
              [options]="Options" [plugins]="Options.Plugins" [chartType]="_HelperService.ChartConfig.LineChart.Type">
            </canvas>
            </div>

            <div class="col-md-12 col-lg-3 col-xl-3 mg-t-30 mg-lg-t-0">
              <div class="row">
                <div class="col-sm-6 col-lg-12">
                  <div class="d-flex align-items-end justify-content-between mg-b-20">
                    <h5 class="mg-b-5 tx-14 tx-bold">Budget Status
                    </h5>
                    <div class="d-flex align-items-center tx-18 text-primary">
                      <h5 class="mg-b-5 tx-14 text-primary tx-bold">N200000
                      </h5>
                    </div>
                  </div>
                  <div class="d-flex align-items-center justify-content-between mg-b-5">

                    <div class="wd-100p">
                      <p class="tx-bold tx-16 mg-b-5">N200 200</p>
                      <div class="progress ht-4 mg-b-5 ">
                        <div class="progress-bar bg-primary wd-65p" role="progressbar" aria-valuenow="65"
                          aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <p class="tx-12 tx-color-03 mg-b-0">Total number of Transactions done under this campaign</p>

                    </div>
                  </div>


                </div>
                <div class="col-sm-6 col-lg-12 mg-t-30 mg-sm-t-0 mg-lg-t-30">
                  <div class="d-flex justify-content-between mg-b-5">
                    <div class="wd-100p">
                      <p class="tx-bold tx-16 tx-verve mg-b-5">N200 200</p>
                      <p class="tx-10 tx-uppercase tx-semibold link-01 tx-spacing-1 mg-b-5">Total Sale amount</p>

                      <p class="tx-12 tx-color-03 mg-b-0">Amount of budget reached to this in 23 Hrs</p>

                    </div>


                  </div>


                </div>
                <div class="col-sm-6  col-lg-12 mg-t-30">
                  <div class="d-flex justify-content-between mg-b-5">
                    <div class="wd-100p">
                      <p class="tx-bold tx-16 tx-teal mg-b-5">N200 200</p>
                      <p class="tx-10 tx-uppercase tx-semibold link-01 tx-spacing-1 mg-b-5">Total Transactions</p>

                      <p class="tx-12 tx-color-03 mg-b-0">Sales amount achieved under this Campaign</p>

                    </div>


                  </div>

                </div>

              </div><!-- row -->

            </div>
          </div>
        </div><!-- card-body -->
      </div><!-- card -->
    </div>
  </div>

</div>