<!-- acquirer--campaign--addnew -->

<!-- <form [formGroup]="Form_AddUser" (ngSubmit)="Form_AddUser_Process(Form_AddUser.value)" role="form">
    <div  [className]="_HelperService._Assets.Box.root">
        
        <div class="card-header">
            <h6 class="text-primary">Reward Campaign Information</h6>
            <small class="text-secondary"> Campaign information setup </small>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label> Name <span class="text-danger">*</span>
                                </label>
                                <div class="controls">
                                    <input type="text" name="Name" maxlength="128" class="form-control"
                                        [formControl]="Form_AddUser.controls['Name']" [ngClass]="{
                                                            'is-invalid':
                                                              !Form_AddUser.controls['Name'].valid &&
                                                              Form_AddUser.controls['Name'].touched
                                                          }" />
                                </div>
                                <label class="text-danger" for="Name"
                                    *ngIf=" Form_AddUser.controls['Name'].hasError('required') && Form_AddUser.controls['Name'].touched">
                                    enter campaign name</label>
                                <label class="text-danger" for="Name"
                                    *ngIf="Form_AddUser.controls['Name'].hasError(  'minlength' ) || Form_AddUser.controls['Name'].hasError('maxlength')">
                                    campaign name must be between 4 to 128 characters
                                </label>
                            </div>
                        </div>
            
                            <div class="row mb-3 no-gutters">
                                <div class="col-12">
                                    <label> Campaign Type <span class="text-danger">*</span>
                                    </label>
                                </div>
                                <div class="col-md-6">
                                    <div class="bd p-3 r-1x text-center cursor-pointer"
                                        [ngClass]="{'bg-success tx-white': Form_AddUser.value.TypeCode == 'owncardcustomers', 'bg-white tx-dark': Form_AddUser.value.TypeCode != 'owncardcustomers' }"
                                        (click)="SetCampaignType('owncardcustomers')">
                                        <div class="pb-1">
                                            All <span class="tx-bold">{{_HelperService.AppConfig.ActiveOwnerDisplayName}}
                                            </span> Bank
                                            Customers
                                        </div>
                                        <div  [ngClass]="{'bg-success tx-white': Form_AddUser.value.TypeCode == 'owncardcustomers', 'bg-white tx-dark': Form_AddUser.value.TypeCode != 'owncardcustomers' }">
                                            Reward users who use <span
                                                class="tx-bold">{{_HelperService.AppConfig.ActiveOwnerDisplayName}} </span>
                                            bank card
                                            for puchase
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="bd p-3 r-1x text-center cursor-pointer"
                                        [ngClass]="{'bg-success tx-white': Form_AddUser.value.TypeCode == 'othercardcustomers', 'bg-white tx-dark': Form_AddUser.value.TypeCode != 'othercardcustomers' }"
                                        (click)="SetCampaignType('othercardcustomers')">
                                        <div class="pb-1">
                                            Non <span class="tx-bold">{{_HelperService.AppConfig.ActiveOwnerDisplayName}}
                                            </span> Bank
                                            Customers
                                        </div>
                                        <div  [ngClass]="{'bg-success tx-white': Form_AddUser.value.TypeCode == 'othercardcustomers', 'bg-white tx-dark': Form_AddUser.value.TypeCode != 'othercardcustomers' }"
                                        >
                                            Reward other bank users who use <span
                                                class="tx-bold">{{_HelperService.AppConfig.ActiveOwnerDisplayName}} </span>
                                            pos
                                            terminals
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label> Schedule <span class="text-danger">*</span>
                                </label>
                                <div class="controls">
                                    <input type="text" class="form-control " name="daterangeInput" daterangepicker
                                        readonly [options]="_HelperService.AppConfig.DateRangeFutureOptions"
                                        [formControl]="Form_AddUser.controls['TStartDate']"
                                        (selected)="ScheduleDateRangeChange($event)" />
                                </div>
                                <label class="text-danger" for="TStartDate"
                                    *ngIf=" Form_AddUser.controls['TStartDate'].hasError('required') && Form_AddUser.controls['TStartDate'].touched">
                                    select campaign Schedule</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label> Reward Type <span class="text-danger">*</span>
                                </label>
                                <div class="controls">
                                    <select class="form-control" [formControl]="Form_AddUser.controls['SubTypeCode']"
                                        (change)="RewardTypeChange()">
                                        <option *ngFor="let TItem of CampaignRewardType" value="{{TItem.TypeCode}}"
                                            [value]="TItem.TypeCode"> {{TItem.Name}}</option>
                                    </select>
                                </div>
                                <label class="text-danger" for="SubTypeCode"
                                    *ngIf=" Form_AddUser.controls['SubTypeCode'].hasError('required') && Form_AddUser.controls['SubTypeCode'].touched">
                                    select campaign type</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label
                                    *ngIf="Form_AddUser.value.SubTypeCode != 'fixedamount' && Form_AddUser.value.SubTypeCode != 'amountpercentage'">Reward
                                    Amount / Percentage<span class="text-danger">*</span>
                                </label>
                                <label *ngIf="Form_AddUser.value.SubTypeCode == 'fixedamount'">Reward Amount<span
                                        class="text-danger">*</span>
                                </label>
                                <label *ngIf="Form_AddUser.value.SubTypeCode == 'amountpercentage'">Reward
                                    Percentage<span class="text-danger">*</span>
                                </label>
                                <div class="controls">
                                    <input type="text" name="SubTypeValue" minlength="0" maxlength="10"
                                        class="form-control" (keypress)="_HelperService.PreventText($event)"
                                        [formControl]="Form_AddUser.controls['SubTypeValue']" [ngClass]="{
                                                                            'is-invalid':
                                                                              !Form_AddUser.controls['SubTypeValue'].valid &&
                                                                              Form_AddUser.controls['SubTypeValue'].touched
                                                                          }" />
                                </div>
                                <label class="text-danger" for="SubTypeValue" *ngIf="
                                                                          Form_AddUser.controls['SubTypeValue'].hasError(
                                                                            'required'
                                                                          ) && Form_AddUser.controls['SubTypeValue'].touched
                                                                        "> Enter reward amount / percentage</label>
                                <label class="text-danger" for="SubTypeValue" *ngIf="
                                                                          Form_AddUser.controls['SubTypeValue'].hasError(
                                                                            'minlength'
                                                                          ) ||
                                                                          Form_AddUser.controls['SubTypeValue'].hasError(
                                                                            'maxlength'
                                                                          )
                                                                        ">Enter valid reward amount /
                                    percentage</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Minimum purchase amount<span class="text-danger">*</span>
                                </label>
                                <div class="controls">
                                    <input type="text" name="MinimumInvoiceAmount" minlength="0" maxlength="10"
                                        class="form-control" (keypress)="_HelperService.PreventText($event)"
                                        [formControl]="Form_AddUser.controls['MinimumInvoiceAmount']" [ngClass]="{
                                                                                'is-invalid':
                                                                                  !Form_AddUser.controls['MinimumInvoiceAmount'].valid &&
                                                                                  Form_AddUser.controls['MinimumInvoiceAmount'].touched
                                                                              }" />

                                </div>
                                <label class="text-danger" for="MinimumInvoiceAmount" *ngIf="
                                                                              Form_AddUser.controls['MinimumInvoiceAmount'].hasError(
                                                                                'required'
                                                                              ) && Form_AddUser.controls['MinimumInvoiceAmount'].touched
                                                                            "> Enter minimum invoice amount</label>
                                <label class="text-danger" for="MinimumInvoiceAmount" *ngIf="
                                                                              Form_AddUser.controls['MinimumInvoiceAmount'].hasError(
                                                                                'minlength'
                                                                              ) ||
                                                                              Form_AddUser.controls['MinimumInvoiceAmount'].hasError(
                                                                                'maxlength'
                                                                              )
                                                                            ">Enter valid invoice amount</label>
                            </div>
                        </div>

                        <div class="col-md-6" *ngIf="Form_AddUser.value.SubTypeCode != 'fixedamount'">
                            <div class="form-group">
                                <label>Maximum reward amount<span class="text-danger">*</span>
                                </label>
                                <div class="controls">
                                    <input type="text" name="MaximumRewardAmount" minlength="0" maxlength="10"
                                        class="form-control" (keypress)="_HelperService.PreventText($event)"
                                        [formControl]="Form_AddUser.controls['MaximumRewardAmount']" [ngClass]="{
                                                                                    'is-invalid':
                                                                                      !Form_AddUser.controls['MaximumRewardAmount'].valid &&
                                                                                      Form_AddUser.controls['MaximumRewardAmount'].touched
                                                                                  }" />
                                </div>
                                <label class="text-danger" for="MaximumRewardAmount" *ngIf="
                                                                                  Form_AddUser.controls['MaximumRewardAmount'].hasError(
                                                                                    'required'
                                                                                  ) && Form_AddUser.controls['MaximumRewardAmount'].touched
                                                                                "> Enter maximum reward amount</label>
                                <label class="text-danger" for="MaximumRewardAmount" *ngIf="
                                                                                  Form_AddUser.controls['MaximumRewardAmount'].hasError(
                                                                                    'minlength'
                                                                                  ) ||
                                                                                  Form_AddUser.controls['MaximumRewardAmount'].hasError(
                                                                                    'maxlength'
                                                                                  )
                                                                                ">Enter valid maximum reward
                                    amount</label>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12 hidden-xs ">
                </div>
            </div>

        </div>
        <div class="light p-3  b-b b-t">
            <button type="submit" class="btn btn-primary mr-2" (click)="Form_AddUser.value.OperationType = 'new'"
                [disabled]="!Form_AddUser.valid || _HelperService.IsFormProcessing">
                <span *ngIf="!_HelperService.IsFormProcessing">
                    Save
                </span>
                <span *ngIf="_HelperService.IsFormProcessing">
                    <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                    {{ "Common.PleaseWait" | translate }}...
                </span>
            </button>
            <button type="submit" class="btn btn-outline-warning mr-2"
                (click)="Form_AddUser.value.OperationType = 'close'"
                [disabled]="!Form_AddUser.valid || _HelperService.IsFormProcessing">
                <span *ngIf="!_HelperService.IsFormProcessing">
                    Save & Close
                </span>
                <span *ngIf="_HelperService.IsFormProcessing">
                    <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                    {{ "Common.PleaseWait" | translate }}...
                </span>
            </button>

            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" (click)="Form_AddUser_Close()">
                {{ "Common.Close" | translate }}
            </button>
        </div>
    </div>

</form>  -->

<form [formGroup]="Form_AddUser" (ngSubmit)="Form_AddUser_Process(Form_AddUser.value)" role="form">

    <div class="card">
        <div class="card-header">
            <span class="tx-semibold"> Add Campaign </span>
        </div>

        <div class="card-body">

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label> Name <span class="text-danger">*</span>
                        </label>
                        <div class="controls">
                            <input type="text" name="Name" maxlength="50" class="form-control"
                                [formControl]="Form_AddUser.controls['Name']" [ngClass]="{
                                                'is-invalid':
                                                  !Form_AddUser.controls['Name'].valid &&
                                                  Form_AddUser.controls['Name'].touched
                                              }" />
                        </div>
                        <label class="text-danger" for="Name"
                            *ngIf=" Form_AddUser.controls['Name'].hasError('required') && Form_AddUser.controls['Name'].touched">
                            enter campaign name</label>
                        <label class="text-danger" for="Name"
                            *ngIf="Form_AddUser.controls['Name'].hasError('minlength') || Form_AddUser.controls['Name'].hasError('maxlength')">
                            campaign name must be between 4 to 50 characters
                        </label>
                    </div>

                </div>
                <div class="col-md-6 d-flex align-items-center text-muted">
                    <span> Name your campaign in Max 50 words</span>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-12">
                            <label> Campaign Type <span class="text-danger">*</span>
                            </label>
                        </div>
                        <div class="col-md-6">
                            <div class="bd p-3 r-1x text-center cursor-pointer"
                                [ngClass]="{'bg-success tx-white': Form_AddUser.value.TypeCode == 'owncardcustomers', 'bg-white tx-dark': Form_AddUser.value.TypeCode != 'owncardcustomers' }"
                                (click)="SetCampaignType('owncardcustomers')">
                                <div class="pb-1">
                                    All <span class="tx-bold">{{_HelperService.AppConfig.ActiveOwnerDisplayName}}
                                    </span> Bank
                                    Customers
                                </div>
                                <div
                                    [ngClass]="{'bg-success tx-white': Form_AddUser.value.TypeCode == 'owncardcustomers', 'bg-white tx-dark': Form_AddUser.value.TypeCode != 'owncardcustomers' }">
                                    Reward users who use <span
                                        class="tx-bold">{{_HelperService.AppConfig.ActiveOwnerDisplayName}} </span>
                                    bank card
                                    for puchase
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="bd p-3 r-1x text-center cursor-pointer"
                                [ngClass]="{'bg-success tx-white': Form_AddUser.value.TypeCode == 'othercardcustomers', 'bg-white tx-dark': Form_AddUser.value.TypeCode != 'othercardcustomers' }"
                                (click)="SetCampaignType('othercardcustomers')">
                                <div class="pb-1">
                                    Non <span class="tx-bold">{{_HelperService.AppConfig.ActiveOwnerDisplayName}}
                                    </span> Bank
                                    Customers
                                </div>
                                <div
                                    [ngClass]="{'bg-success tx-white': Form_AddUser.value.TypeCode == 'othercardcustomers', 'bg-white tx-dark': Form_AddUser.value.TypeCode != 'othercardcustomers' }">
                                    Reward other bank users who use <span
                                        class="tx-bold">{{_HelperService.AppConfig.ActiveOwnerDisplayName}} </span>
                                    pos
                                    terminals
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-center text-muted">
                    <span> You can run campaign based on your bank card user or any users who swap their cards on your
                        bank’s POS</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label> Reward Type <span class="text-danger">*</span>
                        </label>
                        <div class="controls">
                            <select class="form-control" [formControl]="Form_AddUser.controls['SubTypeCode']"
                                (change)="RewardTypeChange()">
                                <option *ngFor="let TItem of CampaignRewardType" value="{{TItem.TypeCode}}"
                                    [value]="TItem.TypeCode"> {{TItem.Name}}</option>
                            </select>
                        </div>
                        <label class="text-danger" for="SubTypeCode"
                            *ngIf=" Form_AddUser.controls['SubTypeCode'].hasError('required') && Form_AddUser.controls['SubTypeCode'].touched">
                            select campaign type</label>
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-center text-muted">
                    <span> Select Rewards type to run this campaign</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label
                            *ngIf="Form_AddUser.value.SubTypeCode != 'fixedamount' && Form_AddUser.value.SubTypeCode != 'amountpercentage'">
                            Reward Amount <span class="text-danger">*</span>
                        </label>
                        <label *ngIf="Form_AddUser.value.SubTypeCode == 'fixedamount'">Reward Amount<span
                                class="text-danger">*</span>
                        </label>
                        <label *ngIf="Form_AddUser.value.SubTypeCode == 'amountpercentage'">Reward
                            Percentage<span class="text-danger">*</span>
                        </label>
                        <div class="controls">
                            <input type="text" name="SubTypeValue" minlength="0" maxlength="10" class="form-control"
                                (keypress)="_HelperService.PreventText($event)"
                                [formControl]="Form_AddUser.controls['SubTypeValue']" [ngClass]="{
                                                                'is-invalid':
                                                                  !Form_AddUser.controls['SubTypeValue'].valid &&
                                                                  Form_AddUser.controls['SubTypeValue'].touched
                                                              }" />
                        </div>
                        <label class="text-danger" for="SubTypeValue" *ngIf="
                                                              Form_AddUser.controls['SubTypeValue'].hasError(
                                                                'required'
                                                              ) && Form_AddUser.controls['SubTypeValue'].touched
                                                            "> Enter reward amount / percentage</label>
                        <label class="text-danger" for="SubTypeValue" *ngIf="
                                                              Form_AddUser.controls['SubTypeValue'].hasError(
                                                                'minlength'
                                                              ) ||
                                                              Form_AddUser.controls['SubTypeValue'].hasError(
                                                                'maxlength'
                                                              )
                                                            ">Enter valid reward amount /
                            percentage</label>
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-center text-muted">
                    <span>Set Reward Amount, that user will get</span>
                </div>
            </div>



            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Max. Budget Amount <span class="text-danger">*</span>
                        </label>
                        <div class="controls">
                            <input type="text" name="MaximumRewardAmount" minlength="0" maxlength="10"
                                class="form-control" (keypress)="_HelperService.PreventText($event)"
                                [formControl]="Form_AddUser.controls['MaximumRewardAmount']" [ngClass]="{
                                                                        'is-invalid':
                                                                          !Form_AddUser.controls['MaximumRewardAmount'].valid &&
                                                                          Form_AddUser.controls['MaximumRewardAmount'].touched
                                                                      }" />
                        </div>
                        <label class="text-danger" for="MaximumRewardAmount" *ngIf="
                                                                      Form_AddUser.controls['MaximumRewardAmount'].hasError(
                                                                        'required'
                                                                      ) && Form_AddUser.controls['MaximumRewardAmount'].touched
                                                                    "> Enter maximum reward amount</label>
                        <label class="text-danger" for="MaximumRewardAmount" *ngIf="
                                                                      Form_AddUser.controls['MaximumRewardAmount'].hasError(
                                                                        'minlength'
                                                                      ) ||
                                                                      Form_AddUser.controls['MaximumRewardAmount'].hasError(
                                                                        'maxlength'
                                                                      )
                                                                    ">Enter valid maximum reward
                            amount</label>
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-center text-muted">
                    <span> Campaign will get automatically expired, after reaching this amount</span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">

                    <div class="form-group">
                        <label> Schedule <span class="text-danger">*</span>
                        </label>
                        <div class="controls">
                            <input type="text" class="form-control " name="daterangeInput" daterangepicker readonly
                                [options]="_HelperService.AppConfig.DateRangeFutureOptions"
                                [formControl]="Form_AddUser.controls['TStartDate']"
                                (selected)="ScheduleDateRangeChange($event)" />
                        </div>
                        <label class="text-danger" for="TStartDate"
                            *ngIf=" Form_AddUser.controls['TStartDate'].hasError('required') && Form_AddUser.controls['TStartDate'].touched">
                            select campaign Schedule</label>
                    </div>

                </div>
                <div class="col-md-6 d-flex align-items-center text-muted">
                    <span> Duration of campaign</span>
                </div>
            </div>

        </div>
        <div class="card-footer float-right">
            <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal" (click)="Form_AddUser_Close()">
                {{ "Common.Close" | translate }}
            </button>
            <button type="submit" class="btn btn-primary " (click)="Form_AddUser.value.OperationType = 'new'"
                [disabled]="!Form_AddUser.valid || _HelperService.IsFormProcessing">
                <span *ngIf="!_HelperService.IsFormProcessing">
                    Save and Publish
                </span>
                <span *ngIf="_HelperService.IsFormProcessing">
                    <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                    {{ "Common.PleaseWait" | translate }}...
                </span>
            </button>
            <!-- <button type="submit" class="btn btn-outline-warning mr-2"
        (click)="Form_AddUser.value.OperationType = 'close'"
        [disabled]="!Form_AddUser.valid || _HelperService.IsFormProcessing">
        <span *ngIf="!_HelperService.IsFormProcessing">
            Save & Close
        </span>
        <span *ngIf="_HelperService.IsFormProcessing">
            <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
            {{ "Common.PleaseWait" | translate }}...
        </span>
    </button> -->


        </div>
    </div>
</form>