<div class="box mb-0">
  <div class="box-header light lt">
    <div class="float-right">
      <button (click)="Form_AddUser_Show()" class="btn btn-outline b-warn text-warn btn-sm  mr-2">
        {{ "Common.AddNew" | translate }}
      </button>
    </div>
    <div class="form-inline">
      <div class="input-group mr-2">
        <input type="text" maxlength="100" [(ngModel)]="UserAccounts_Config.SearchParameter" class="form-control"
          placeholder="{{ 'Common.Search' | translate }}" />
        <div class="input-group-append">
          <button class="btn white" type="button" (click)="
              UserAccounts_ToggleOption(
                null,
                _HelperService.AppConfig.ListToggleOption.Search
              )
            ">
            {{ "Common.Go" | translate }}
          </button>
        </div>
      </div>
      <input type="text" class="form-control  mr-2" name="daterangeInput" daterangepicker
        [options]="_HelperService.AppConfig.DateRangeOptions" (selected)="
          UserAccounts_ToggleOption(
            $event,
            _HelperService.AppConfig.ListToggleOption.Date
          )
        " />
      <select2 class=" mr-2" [options]="_HelperService.Select2Options_Multiple"
        [data]="UserAccounts_Config.SortExpressionOption" (valueChanged)="
          UserAccounts_ToggleOption(
            $event,
            _HelperService.AppConfig.ListToggleOption.Sort
          )
        ">
      </select2>
      <select2 class=" mr-2" [options]="_DataHelperService.S2_Status_Option" (valueChanged)="
          UserAccounts_ToggleOption(
            $event,
            _HelperService.AppConfig.ListToggleOption.Status
          )
        ">
      </select2>
      <ul class="nav nav-xs">
        <li title="{{ 'Common.DownloadT' | translate }}" class="nav-item" (click)="
            UserAccounts_ToggleOption(
              $event,
              _HelperService.AppConfig.ListToggleOption.Csv
            )
          ">
          <a class="nav-link"><i class="{{ 'Common.DownloadI' | translate }}"></i></a>
        </li>
        <li title="{{ 'Common.RefreshT' | translate }}" class="nav-item" (click)="UserAccounts_GetData()">
          <a class="nav-link"><i class="{{ 'Common.RefreshI' | translate }}"></i></a>
        </li>
      </ul>
    </div>
    <div *ngIf="UserAccounts_Config.ToggleFilter">
      <div class="form-inline pt-3">
        <div class="input-group ">
          <div class="input-group-prepend">
            <select2 [options]="_HelperService.Select2Options_SearchColumn"
              [data]="UserAccounts_Config.VisiblityOptions" [value]="UserAccounts_Config.SearchColumns" (valueChanged)="
                UserAccounts_ToggleOption(
                  $event,
                  _HelperService.AppConfig.ListToggleOption.SearchColumnChange
                )
              ">
            </select2>
          </div>
          <input type="text" [(ngModel)]="UserAccounts_Config.ColumnSearchParameter" maxlength="256"
            class="form-control" placeholder="{{ 'Common.ValueToSearch' | translate }}" />
          <div class="input-group-append mr-2">
            <button class="btn white" type="button" (click)="
                UserAccounts_ToggleOption(
                  null,
                  _HelperService.AppConfig.ListToggleOption.Search
                )
              ">
              {{ "Common.Go" | translate }}
            </button>
          </div>
        </div>
      </div>
      <div class="form-inline pt-3">
        <select2 class="m-r-5" [options]="_HelperService.Select2Options_Multiple"
          [data]="UserAccounts_Config.VisiblityOptions" [value]="UserAccounts_Config.Visiblity" (valueChanged)="
            UserAccounts_ToggleOption(
              $event,
              _HelperService.AppConfig.ListToggleOption.Visiblity
            )
          ">
        </select2>
      </div>
    </div>
  </div>

  <div class="box-body p-0">
    <table class="{{ _HelperService.AppConfig.TablesConfig.DefaultClass }}">
      <thead>
        <tr>
          <th class="td-status">
            <i class="{{ 'Common.StatusI' | translate }}"></i>
          </th>
          <th *ngFor="let TItem of UserAccounts_Config.VisibleHeaders" class="{{ TItem.Class }}">
            {{ TItem.DisplayName }}
          </th>
          <!-- <th class="td-btn-info">
                    </th> -->
        </tr>
      </thead>
      <tbody>
        <tr class="cursor-pointer" *ngFor="
            let TItem of (UserAccounts_Config.Data
              | paginate
                : {
                    id: 'List',
                    itemsPerPage: UserAccounts_Config.PageRecordLimit,
                    currentPage: UserAccounts_Config.ActivePage,
                    totalItems: UserAccounts_Config.TotalRecords
                  })
          ">
          <td class="td-status">
            <i class="{{ TItem.StatusI || '' }}"></i>
          </td>
          <td *ngFor="let HTItem of UserAccounts_Config.VisibleHeaders" class="{{ TItem.Class }}"
            class="{{ TItem.Class }}" title="{{ TItem[HTItem.SystemName] }}">
            <span *ngIf="HTItem.NavigateLink != undefined" (click)="UserAccounts_RowSelected(TItem)">
              <span *ngIf="
                  HTItem.NavigateLink != undefined &&
                  HTItem.NavigateField == undefined
                ">
                <a routerLink="{{ HTItem.NavigateLink }}">
                  {{ TItem[HTItem.SystemName] || "--" }}</a>
              </span>
              <span *ngIf="HTItem.NavigateField != undefined">
                <a routerLink="{{ HTItem.NavigateLink }}/{{
                    TItem[HTItem.NavigateField]
                  }}">
                  {{ TItem[HTItem.SystemName] || "--" }}</a>
              </span>
            </span>
            <span *ngIf="HTItem.NavigateLink == undefined" (click)="UserAccounts_RowSelected(TItem)">
              <span *ngIf="
                  HTItem.DataType == _HelperService.AppConfig.DataType.Text
                ">
                {{ TItem[HTItem.SystemName] || "--" }}
              </span>
              <span *ngIf="
                  HTItem.DataType == _HelperService.AppConfig.DataType.Number
                ">
                {{ TItem[HTItem.SystemName] || "--" }}
              </span>
              <span *ngIf="
                  HTItem.DataType == _HelperService.AppConfig.DataType.Decimal
                ">
                {{ TItem[HTItem.SystemName] | number: "1.2-2" || "--" }}
              </span>
              <span *ngIf="
                  HTItem.DataType == _HelperService.AppConfig.DataType.Date
                ">
                {{ TItem[HTItem.SystemName] || "--" }}
              </span>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="  p-4">
      <span class="mr-1">
        {{ "Common.Showing" | translate }}
        <span class="bold">{{ UserAccounts_Config.ShowingStart }} {{ "Common.To" | translate }}
          {{ UserAccounts_Config.ShowingEnd }}
        </span>
        {{ "Common.Of" | translate }} {{ UserAccounts_Config.TotalRecords }}
      </span>
      |
      <span class="ml-1">
        {{ "Common.Show" | translate }}
        <select class=" w-64 " [(ngModel)]="UserAccounts_Config.PageRecordLimit" (ngModelChange)="
            UserAccounts_ToggleOption(
              $event,
              _HelperService.AppConfig.ListToggleOption.Limit
            )
          ">
          <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
            {{ TItem }}
          </option>
        </select>
        {{ "Common.Entries" | translate }}
      </span>
      <span class="float-right">
        <pagination-controls id="List" (pageChange)="
            UserAccounts_ToggleOption(
              $event,
              _HelperService.AppConfig.ListToggleOption.Page
            )
          " nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
        </pagination-controls>
      </span>
    </div>
  </div>
</div>

<div id="Form_AddUser_Content" class="modal" data-backdrop="true" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form [formGroup]="Form_AddUser" (ngSubmit)="Form_AddUser_Process(Form_AddUser.value)" role="form">
        <div class="modal-header">
          <h5 class="modal-title">Add Subaccount</h5>
        </div>
        <div class="modal-body  p-lg">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>{{ "System.Users.FirstName" | translate
                    }}<span class="text-danger">*</span>
                  </label>
                  <div class="controls">
                    <input type="text" name="FirstName" maxlength="128" class="form-control"
                      [formControl]="Form_AddUser.controls['FirstName']" [ngClass]="{
                        'is-invalid':
                          !Form_AddUser.controls['FirstName'].valid &&
                          Form_AddUser.controls['FirstName'].touched
                      }" />
                  </div>
                  <label class="text-danger" for="FirstName" *ngIf="
                      Form_AddUser.controls['FirstName'].hasError('required') &&
                      Form_AddUser.controls['FirstName'].touched
                    ">{{
                      "System.Users.FirstName_ER_Required" | translate
                    }}</label>
                  <label class="text-danger" for="FirstName" *ngIf="
                      Form_AddUser.controls['FirstName'].hasError(
                        'minlength'
                      ) ||
                      Form_AddUser.controls['FirstName'].hasError('maxlength')
                    ">{{ "System.Users.FirstName_ER_Length" | translate }}</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>{{ "System.Users.LastName" | translate
                    }}<span class="text-danger">*</span>
                  </label>
                  <div class="controls">
                    <input type="text" name="LastName" maxlength="128" class="form-control"
                      [formControl]="Form_AddUser.controls['LastName']" [ngClass]="{
                        'is-invalid':
                          !Form_AddUser.controls['LastName'].valid &&
                          Form_AddUser.controls['LastName'].touched
                      }" />
                  </div>
                  <label class="text-danger" for="LastName" *ngIf="
                      Form_AddUser.controls['LastName'].hasError('required') &&
                      Form_AddUser.controls['LastName'].touched
                    ">{{
                      "System.Users.LastName_ER_Required" | translate
                    }}</label>
                  <label class="text-danger" for="LastName" *ngIf="
                      Form_AddUser.controls['LastName'].hasError('minlength') ||
                      Form_AddUser.controls['LastName'].hasError('maxlength')
                    ">{{ "System.Users.LastName_ER_Length" | translate }}</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>{{ "System.Users.MobileNumber" | translate
                    }}<span class="text-danger">*</span>
                  </label>
                  <div class="controls">
                    <input type="text" name="MobileNumber" minlength="10" maxlength="14" class="form-control"
                      (keypress)="_HelperService.PreventText($event)"
                      [formControl]="Form_AddUser.controls['MobileNumber']" [ngClass]="{
                        'is-invalid':
                          !Form_AddUser.controls['MobileNumber'].valid &&
                          Form_AddUser.controls['MobileNumber'].touched
                      }" />
                  </div>
                  <label class="text-danger" for="MobileNumber" *ngIf="
                      Form_AddUser.controls['MobileNumber'].hasError(
                        'required'
                      ) && Form_AddUser.controls['MobileNumber'].touched
                    ">{{
                      "System.Users.MobileNumber_ER_Required" | translate
                    }}</label>
                  <label class="text-danger" for="MobileNumber" *ngIf="
                      Form_AddUser.controls['MobileNumber'].hasError(
                        'minlength'
                      ) ||
                      Form_AddUser.controls['MobileNumber'].hasError(
                        'maxlength'
                      )
                    ">{{
                      "System.Users.MobileNumber_ER_Length" | translate
                    }}</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>{{ "System.Users.EmailAddress" | translate
                    }}<span class="text-danger">*</span>
                  </label>
                  <div class="controls">
                    <input type="text" name="EmailAddress" maxlength="256" class="form-control"
                      [formControl]="Form_AddUser.controls['EmailAddress']" [ngClass]="{
                        'is-invalid':
                          !Form_AddUser.controls['EmailAddress'].valid &&
                          Form_AddUser.controls['EmailAddress'].touched
                      }" />
                  </div>
                  <label class="text-danger" for="EmailAddress" *ngIf="
                      Form_AddUser.controls['EmailAddress'].hasError(
                        'required'
                      ) && Form_AddUser.controls['EmailAddress'].touched
                    ">{{
                      "System.Users.EmailAddress_ER_Required" | translate
                    }}</label>

                  <label class="text-danger" for="EmailAddress" *ngIf="
                      Form_AddUser.controls['EmailAddress'].hasError('email') &&
                      Form_AddUser.controls['EmailAddress'].touched
                    ">{{
                      "System.Users.EmailAddress_ER_Invalid" | translate
                    }}</label>
                </div>
              </div>
            </div>
            <!-- <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>{{'System.Users.Address' | translate }}<span class="text-danger">*</span>
                                    </label>
                                    <div class="controls">
                                        <input type="text" name="Address" maxlength="128" class="form-control"
                                            [formControl]="Form_AddUser.controls['Address']"
                                            [ngClass]="{'is-invalid':!Form_AddUser.controls['Address'].valid && Form_AddUser.controls['Address'].touched}">
                                    </div>
                                    <label class="text-danger" for="Address"
                                        *ngIf="Form_AddUser.controls['Address'].hasError('required') && Form_AddUser.controls['Address'].touched">{{
                                                    'System.Users.Address_ER_Required' | translate }}</label>
                                    <label class="text-danger" for="Address"
                                        *ngIf="Form_AddUser.controls['Address'].hasError('minlength') || Form_AddUser.controls['Address'].hasError('maxlength')">{{
                                                    'System.Users.Address_ER_Length' | translate }}</label>
                                </div>
                            </div>

                        </div> -->
            <div class="form-group">
              <div>
                <label>{{ "System.Users.Gender" | translate
                  }}<span class="text-danger">*</span>
                </label>
              </div>
              <div class="radio float-left mr-3">
                <label class="ui-check"><input type="radio" name="gender" [value]="_HelperService.AppConfig.Gender.Male"
                    [formControl]="Form_AddUser.controls['GenderCode']" />
                  <i class="dark-white"></i>
                  {{ "System.Users.Male" | translate }}</label>
              </div>
              <div class="radio  mr-3">
                <label class="ui-check"><input type="radio" name="gender"
                    [value]="_HelperService.AppConfig.Gender.Female"
                    [formControl]="Form_AddUser.controls['GenderCode']" />
                  <i class="dark-white"></i>
                  {{ "System.Users.Female" | translate }}</label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>{{ "System.Users.UserName" | translate
                    }}<span class="text-danger">*</span>
                  </label>
                  <div class="controls">
                    <input type="text" name="UserName" maxlength="256" class="form-control"
                      [formControl]="Form_AddUser.controls['UserName']" [ngClass]="{
                        'is-invalid':
                          !Form_AddUser.controls['UserName'].valid &&
                          Form_AddUser.controls['UserName'].touched
                      }" />
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>{{ "System.Users.Password" | translate
                    }}<span class="text-danger">*</span>
                  </label>
                  <div class="input-group">
                    <input type="text" name="Password" maxlength="20" [(ngModel)]="_HelperService.RandomPassword"
                      class="form-control" [formControl]="Form_AddUser.controls['Password']" [ngClass]="{
                        'is-invalid':
                          !Form_AddUser.controls['Password'].valid &&
                          Form_AddUser.controls['Password'].touched
                      }" />

                    <div class="input-group-append">
                      <button class="btn white" type="button" (click)="_HelperService.GeneratePassoword()">
                        <i class="{{ 'Common.RefreshI' | translate }}"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <label class="text-danger" for="UserName" *ngIf="
                    Form_AddUser.controls['UserName'].hasError('required') &&
                    Form_AddUser.controls['UserName'].touched
                  ">{{ "System.Users.UserName_ER_Required" | translate }}</label>

                <label class="text-danger" for="UserName" *ngIf="
                    Form_AddUser.controls['UserName'].hasError('minlength') ||
                    Form_AddUser.controls['UserName'].hasError('maxlength')
                  ">{{ "System.Users.UserName_ER_Length" | translate }}</label>
                <label class="text-danger" for="Password" *ngIf="
                    Form_AddUser.controls['Password'].hasError('required') &&
                    Form_AddUser.controls['Password'].touched
                  ">{{ "System.Users.Password_ER_Required" | translate }}</label>
                <label class="text-danger" for="Password" *ngIf="
                    Form_AddUser.controls['Password'].hasError('pattern') ||
                    Form_AddUser.controls['Password'].hasError('minlength') ||
                    Form_AddUser.controls['Password'].hasError('maxlength')
                  ">{{ "System.Users.Password_ER_Length" | translate }}</label>
              </div>
            </div>

            <div class="form-group">
              <div>
                <label>Role<span class="text-danger">*</span> </label>
              </div>
              <div class="radio float-left mr-3">
                <label class="ui-check"><input type="radio" name="roleoptions" [value]="'7'"
                    [formControl]="Form_AddUser.controls['RoleKey']" />
                  <i class="dark-white"></i> Admin</label>
              </div>
              <div class="radio  mr-3">
                <label class="ui-check"><input type="radio" name="roleoptions" [value]="'8'"
                    [formControl]="Form_AddUser.controls['RoleKey']" />
                  <i class="dark-white"></i> RM (Relationship Manager)</label>
              </div>
            </div>

            <div class="form-group">
              <div>
                <label>{{ "System.Users.AccountStatus" | translate
                  }}<span class="text-danger">*</span>
                </label>
              </div>
              <div class="radio float-left mr-3">
                <label class="ui-check"><input type="radio" name="statusoptions"
                    [value]="_HelperService.AppConfig.Status.Active"
                    [formControl]="Form_AddUser.controls['StatusCode']" />
                  <i class="dark-white"></i>
                  {{ "Common.Active" | translate }}</label>
              </div>
              <div class="radio  mr-3">
                <label class="ui-check"><input type="radio" name="statusoptions"
                    [value]="_HelperService.AppConfig.Status.Inactive"
                    [formControl]="Form_AddUser.controls['StatusCode']" />
                  <i class="dark-white"></i>
                  {{ "Common.Inactive" | translate }}</label>
              </div>
            </div>
            <div class="text-sm text-muted">
              Password must be at least 8 characters in length and include at
              least one uppercase, one lowercase, one number and one special
              character.
            </div>
            <!-- <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <label>{{ 'System.Users.Icon' | translate }}

                                    <span class="small muted">
                                        -
                                        {{_HelperService._FileSelect_Icon_Data.Width}}x{{_HelperService._FileSelect_Icon_Data.Height}}
                                    </span>
                                </label>
                                <ng2-file-input [id]="_HelperService._FileSelect_Icon" [multiple]="false"
                                    (onAdded)="_HelperService._FileSelect_Icon_onAdded($event)"
                                    extensions="[ 'image/jpeg', 'image/jpg', 'image/png', 'image/gif'] "
                                    [browse-text]="'Show file picker'" [removable]="false"></ng2-file-input>
                            </div>
                        </div> -->
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-fw warn warn mr-2" (click)="Form_AddUser.value.OperationType = 'new'"
            [disabled]="!Form_AddUser.valid || _HelperService.IsFormProcessing">
            <span *ngIf="!_HelperService.IsFormProcessing">
              {{ "Common.Save" | translate }}
            </span>
            <span *ngIf="_HelperService.IsFormProcessing">
              <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
              {{ "Common.PleaseWait" | translate }}...
            </span>
          </button>
          <button type="submit" class="btn btn-outline b-warn text-warn mr-2"
            (click)="Form_AddUser.value.OperationType = 'close'"
            [disabled]="!Form_AddUser.valid || _HelperService.IsFormProcessing">
            <span *ngIf="!_HelperService.IsFormProcessing">
              {{ "Common.SaveAndClose" | translate }}
            </span>
            <span *ngIf="_HelperService.IsFormProcessing">
              <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
              {{ "Common.PleaseWait" | translate }}...
            </span>
          </button>
          <!-- <button type="submit" class="btn btn-outline b-warn text-warn mr-2"
                        (click)="Form_AddUser.value.OperationType='edit'"
                        [disabled]="!Form_AddUser.valid || _HelperService.IsFormProcessing">
                        <span *ngIf="!_HelperService.IsFormProcessing">
                            {{ 'Common.SaveAndEdit' | translate }}
                        </span>
                        <span *ngIf="_HelperService.IsFormProcessing">
                            <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{ 'Common.PleaseWait' | translate
                                }}...
                        </span>
                    </button> -->
          <button type="button" class="btn btn-outline   b-warning  text-warning mr-2" (click)="Form_AddUser_Clear()">
            {{ "Common.Clear" | translate }}
          </button>

          <button type="button" class="btn btn-default" data-dismiss="modal" (click)="Form_AddUser_Close()">
            {{ "Common.Close" | translate }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div id="Form_UpdateUser_Content" class="modal" data-backdrop="true" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form [formGroup]="Form_UpdateUser" (ngSubmit)="Form_UpdateUser_Process(Form_UpdateUser.value)" role="form">
        <div class="modal-header">
          <h5 class="modal-title">Update User Details</h5>
        </div>
        <div class="modal-body  p-lg">
          <div class="form-group">
            <label>{{ "System.Users.DisplayName" | translate
              }}<span class="text-danger">*</span>
            </label>
            <div class="controls">
              <input type="text" name="DisplayName" maxlength="25" [(ngModel)]="_HelperService._UserAccount.DisplayName"
                class="form-control" [formControl]="Form_UpdateUser.controls['DisplayName']" [ngClass]="{
                  'is-invalid':
                    !Form_UpdateUser.controls['DisplayName'].valid &&
                    Form_UpdateUser.controls['DisplayName'].touched
                }" />
            </div>
            <label class="text-danger" for="DisplayName" *ngIf="
                Form_UpdateUser.controls['DisplayName'].hasError('required') &&
                Form_UpdateUser.controls['DisplayName'].touched
              ">{{ "System.Users.DisplayName_ER_Required" | translate }}</label>
            <label class="text-danger" for="DisplayName" *ngIf="
                Form_UpdateUser.controls['DisplayName'].hasError('minlength') ||
                Form_UpdateUser.controls['DisplayName'].hasError('maxlength')
              ">{{ "System.Users.DisplayName_ER_Length" | translate }}</label>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="form-group">
                <label>{{ "System.Users.FirstName" | translate
                  }}<span class="text-danger">*</span>
                </label>
                <div class="controls">
                  <input type="text" name="FirstName" maxlength="128" class="form-control"
                    [(ngModel)]="_HelperService._UserAccount.FirstName"
                    [formControl]="Form_UpdateUser.controls['FirstName']" [ngClass]="{
                      'is-invalid':
                        !Form_UpdateUser.controls['FirstName'].valid &&
                        Form_UpdateUser.controls['FirstName'].touched
                    }" />
                </div>
                <label class="text-danger" for="FirstName" *ngIf="
                    Form_UpdateUser.controls['FirstName'].hasError(
                      'required'
                    ) && Form_UpdateUser.controls['FirstName'].touched
                  ">{{ "System.Users.FirstName_ER_Required" | translate }}</label>
                <label class="text-danger" for="FirstName" *ngIf="
                    Form_UpdateUser.controls['FirstName'].hasError(
                      'minlength'
                    ) ||
                    Form_UpdateUser.controls['FirstName'].hasError('maxlength')
                  ">{{ "System.Users.FirstName_ER_Length" | translate }}</label>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="form-group">
                <label>{{ "System.Users.LastName" | translate
                  }}<span class="text-danger">*</span>
                </label>
                <div class="controls">
                  <input type="text" name="LastName" maxlength="128" class="form-control"
                    [(ngModel)]="_HelperService._UserAccount.LastName"
                    [formControl]="Form_UpdateUser.controls['LastName']" [ngClass]="{
                      'is-invalid':
                        !Form_UpdateUser.controls['LastName'].valid &&
                        Form_UpdateUser.controls['LastName'].touched
                    }" />
                </div>
                <label class="text-danger" for="LastName" *ngIf="
                    Form_UpdateUser.controls['LastName'].hasError('required') &&
                    Form_UpdateUser.controls['LastName'].touched
                  ">{{ "System.Users.LastName_ER_Required" | translate }}</label>
                <label class="text-danger" for="LastName" *ngIf="
                    Form_UpdateUser.controls['LastName'].hasError(
                      'minlength'
                    ) ||
                    Form_UpdateUser.controls['LastName'].hasError('maxlength')
                  ">{{ "System.Users.LastName_ER_Length" | translate }}</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="form-group">
                <label>{{ "System.Users.MobileNumber" | translate
                  }}<span class="text-danger">*</span>
                </label>
                <div class="controls">
                  <input type="text" name="MobileNumber" minlength="10" maxlength="14" class="form-control"
                    (keypress)="_HelperService.PreventText($event)"
                    [(ngModel)]="_HelperService._UserAccount.MobileNumber"
                    [formControl]="Form_UpdateUser.controls['MobileNumber']" [ngClass]="{
                      'is-invalid':
                        !Form_UpdateUser.controls['MobileNumber'].valid &&
                        Form_UpdateUser.controls['MobileNumber'].touched
                    }" />
                </div>
                <label class="text-danger" for="MobileNumber" *ngIf="
                    Form_UpdateUser.controls['MobileNumber'].hasError(
                      'required'
                    ) && Form_UpdateUser.controls['MobileNumber'].touched
                  ">{{
                    "System.Users.MobileNumber_ER_Required" | translate
                  }}</label>
                <label class="text-danger" for="MobileNumber" *ngIf="
                    Form_UpdateUser.controls['MobileNumber'].hasError(
                      'minlength'
                    ) ||
                    Form_UpdateUser.controls['MobileNumber'].hasError(
                      'maxlength'
                    )
                  ">{{
                    "System.Users.MobileNumber_ER_Length" | translate
                  }}</label>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="form-group">
                <label>{{ "System.Users.EmailAddress" | translate
                  }}<span class="text-danger">*</span>
                </label>
                <div class="controls">
                  <input type="text" name="EmailAddress" maxlength="256" class="form-control"
                    [(ngModel)]="_HelperService._UserAccount.EmailAddress"
                    [formControl]="Form_UpdateUser.controls['EmailAddress']" [ngClass]="{
                      'is-invalid':
                        !Form_UpdateUser.controls['EmailAddress'].valid &&
                        Form_UpdateUser.controls['EmailAddress'].touched
                    }" />
                </div>
                <label class="text-danger" for="EmailAddress" *ngIf="
                    Form_UpdateUser.controls['EmailAddress'].hasError(
                      'required'
                    ) && Form_UpdateUser.controls['EmailAddress'].touched
                  ">{{
                    "System.Users.EmailAddress_ER_Required" | translate
                  }}</label>

                <label class="text-danger" for="EmailAddress" *ngIf="
                    Form_UpdateUser.controls['EmailAddress'].hasError(
                      'email'
                    ) && Form_UpdateUser.controls['EmailAddress'].touched
                  ">{{
                    "System.Users.EmailAddress_ER_Invalid" | translate
                  }}</label>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div>
              <label>{{ "System.Users.Gender" | translate
                }}<span class="text-danger">*</span>
              </label>
            </div>
            <div class="radio float-left mr-3">
              <label class="ui-check"><input type="radio" name="gender"
                  [(ngModel)]="_HelperService._UserAccount.GenderCode" [value]="_HelperService.AppConfig.Gender.Male"
                  [formControl]="Form_UpdateUser.controls['GenderCode']" />
                <i class="dark-white"></i>
                {{ "System.Users.Male" | translate }}</label>
            </div>
            <div class="radio  mr-3">
              <label class="ui-check"><input type="radio" name="gender"
                  [(ngModel)]="_HelperService._UserAccount.GenderCode" [value]="_HelperService.AppConfig.Gender.Female"
                  [formControl]="Form_UpdateUser.controls['GenderCode']" />
                <i class="dark-white"></i>
                {{ "System.Users.Female" | translate }}</label>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="form-group">
                <label>{{ "System.Users.UserName" | translate
                  }}<span class="text-danger">*</span>
                </label>
                <div class="controls">
                  <input type="text" name="UserName" maxlength="256" class="form-control"
                    [(ngModel)]="_HelperService._UserAccount.UserName"
                    [formControl]="Form_UpdateUser.controls['UserName']" [ngClass]="{
                      'is-invalid':
                        !Form_UpdateUser.controls['UserName'].valid &&
                        Form_UpdateUser.controls['UserName'].touched
                    }" />
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="form-group">
                <label>{{ "System.Users.Password" | translate }} </label>
                <div class="input-group">
                  <input type="text" [readonly]="isReadOnly" name="Password" maxlength="20"
                    [(ngModel)]="_HelperService.RandomPassword" [ngClass]="{
                      'text-warning': isReadOnly == true,
                      'text-success': isReadOnly == false
                    }" class="form-control" [formControl]="Form_UpdateUser.controls['Password']" [ngClass]="{
                      'is-invalid':
                        !Form_UpdateUser.controls['Password'].valid &&
                        Form_UpdateUser.controls['Password'].touched
                    }" />
                  <div *ngIf="!isReadOnly" class="input-group-append">
                    <button class="btn white" type="button" (click)="_HelperService.GeneratePassoword()">
                      <i class="{{ 'Common.RefreshI' | translate }}"></i>
                    </button>
                  </div>

                  <div class="input-group-append">
                    <button class="btn white" type="button" (click)="EditPassword()">
                      <i class="{{ 'Common.EditI' | translate }}"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <label class="text-danger" for="UserName" *ngIf="
                  Form_UpdateUser.controls['UserName'].hasError('required') &&
                  Form_UpdateUser.controls['UserName'].touched
                ">{{ "System.Users.UserName_ER_Required" | translate }}</label>

              <label class="text-danger" for="UserName" *ngIf="
                  Form_UpdateUser.controls['UserName'].hasError('minlength') ||
                  Form_UpdateUser.controls['UserName'].hasError('maxlength')
                ">{{ "System.Users.UserName_ER_Length" | translate }}</label>
              <label class="text-danger" for="Password" *ngIf="
                  Form_UpdateUser.controls['Password'].hasError('required') &&
                  Form_UpdateUser.controls['Password'].touched
                ">{{ "System.Users.Password_ER_Required" | translate }}</label>
              <label class="text-danger" for="Password" *ngIf="
                  Form_UpdateUser.controls['Password'].hasError('pattern') ||
                  Form_UpdateUser.controls['Password'].hasError('minlength') ||
                  Form_UpdateUser.controls['Password'].hasError('maxlength')
                ">{{ "System.Users.Password_ER_Length" | translate }}</label>
            </div>
          </div>

          <div class="form-group">
            <div>
              <label>Role<span class="text-danger">*</span> </label>
            </div>
            <div class="radio float-left mr-3">
              <label class="ui-check"><input type="radio" name="roleupdateoptions" [value]="'7'"
                  [(ngModel)]="_HelperService._UserAccount.RoleKey"
                  [formControl]="Form_UpdateUser.controls['RoleKey']" />
                <i class="dark-white"></i> Admin</label>
            </div>
            <div class="radio  mr-3">
              <label class="ui-check"><input type="radio" name="roleupdateoptions" [value]="'8'"
                  [(ngModel)]="_HelperService._UserAccount.RoleKey"
                  [formControl]="Form_UpdateUser.controls['RoleKey']" />
                <i class="dark-white"></i> RM (Relationship Manager)</label>
            </div>
          </div>

          <div class="form-group">
            <div>
              <label>{{ "System.Users.AccountStatus" | translate
                }}<span class="text-danger">*</span>
              </label>
            </div>

            <div class="radio float-left mr-3">
              <label class="ui-check"><input type="radio" name="statusoptions"
                  [(ngModel)]="_HelperService._UserAccount.StatusCode" [value]="_HelperService.AppConfig.Status.Active"
                  [formControl]="Form_UpdateUser.controls['StatusCode']" />
                <i class="dark-white"></i>
                {{ "Common.Active" | translate }}</label>
            </div>
            <div class="radio  mr-3">
              <label class="ui-check"><input type="radio" name="statusoptions"
                  [(ngModel)]="_HelperService._UserAccount.StatusCode"
                  [value]="_HelperService.AppConfig.Status.Inactive"
                  [formControl]="Form_UpdateUser.controls['StatusCode']" />
                <i class="dark-white"></i>
                {{ "Common.Inactive" | translate }}</label>
            </div>
          </div>
          <div class="text-sm text-muted">
            Password must be at least 8 characters in length and include at
            least one uppercase, one lowercase, one number and one special
            character.
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-fw warn warn mr-2" (click)="Form_UpdateUser.value.OperationType = 'new'"
            [disabled]="
              !Form_UpdateUser.valid || _HelperService.IsFormProcessing
            ">
            <span *ngIf="!_HelperService.IsFormProcessing">
              {{ "Common.Update" | translate }}
            </span>
            <span *ngIf="_HelperService.IsFormProcessing">
              <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
              {{ "Common.PleaseWait" | translate }}...
            </span>
          </button>

          <button type="button" class="btn btn-default" data-dismiss="modal" (click)="Form_UpdateUser_Close()">
            {{ "Common.Close" | translate }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>