<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
    <form [formGroup]="Form_AddUser" (ngSubmit)="Form_AddUser_Process(Form_AddUser.value)" role="form">
      <div class="box">
        <div class="box-header b-b b-2x">
          <h3 class="text-warn">Account Information</h3>
          <small class="text-gray"> User profile information </small>
        </div>
        <div class="box-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>{{ "System.Users.FirstName" | translate
                                  }}<span class="text-danger">*</span>
                </label>
                <div class="controls">
                  <input type="text" name="FirstName" maxlength="128" class="form-control"
                    [formControl]="Form_AddUser.controls['FirstName']" [ngClass]="{
                                      'is-invalid':
                                        !Form_AddUser.controls['FirstName'].valid &&
                                        Form_AddUser.controls['FirstName'].touched
                                    }" />
                </div>
                <label class="text-danger" for="FirstName" *ngIf="
                                    Form_AddUser.controls['FirstName'].hasError('required') &&
                                    Form_AddUser.controls['FirstName'].touched
                                  ">{{
                                    "System.Users.FirstName_ER_Required" | translate
                                  }}</label>
                <label class="text-danger" for="FirstName" *ngIf="
                                    Form_AddUser.controls['FirstName'].hasError(
                                      'minlength'
                                    ) ||
                                    Form_AddUser.controls['FirstName'].hasError('maxlength')
                                  ">{{ "System.Users.FirstName_ER_Length" | translate }}</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>{{ "System.Users.LastName" | translate
                                  }}<span class="text-danger">*</span>
                </label>
                <div class="controls">
                  <input type="text" name="LastName" maxlength="128" class="form-control"
                    [formControl]="Form_AddUser.controls['LastName']" [ngClass]="{
                                      'is-invalid':
                                        !Form_AddUser.controls['LastName'].valid &&
                                        Form_AddUser.controls['LastName'].touched
                                    }" />
                </div>
                <label class="text-danger" for="LastName" *ngIf="
                                    Form_AddUser.controls['LastName'].hasError('required') &&
                                    Form_AddUser.controls['LastName'].touched
                                  ">{{
                                    "System.Users.LastName_ER_Required" | translate
                                  }}</label>
                <label class="text-danger" for="LastName" *ngIf="
                                    Form_AddUser.controls['LastName'].hasError('minlength') ||
                                    Form_AddUser.controls['LastName'].hasError('maxlength')
                                  ">{{ "System.Users.LastName_ER_Length" | translate }}</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>{{ "System.Users.MobileNumber" | translate
                                  }}<span class="text-danger">*</span>
                </label>
                <div class="controls">
                  <input type="text" name="MobileNumber" minlength="10" maxlength="14" class="form-control"
                    (keypress)="_HelperService.PreventText($event)"
                    [formControl]="Form_AddUser.controls['MobileNumber']" [ngClass]="{
                                      'is-invalid':
                                        !Form_AddUser.controls['MobileNumber'].valid &&
                                        Form_AddUser.controls['MobileNumber'].touched
                                    }" />
                </div>
                <label class="text-danger" for="MobileNumber" *ngIf="
                                    Form_AddUser.controls['MobileNumber'].hasError(
                                      'required'
                                    ) && Form_AddUser.controls['MobileNumber'].touched
                                  ">{{
                                    "System.Users.MobileNumber_ER_Required" | translate
                                  }}</label>
                <label class="text-danger" for="MobileNumber" *ngIf="
                                    Form_AddUser.controls['MobileNumber'].hasError(
                                      'minlength'
                                    ) ||
                                    Form_AddUser.controls['MobileNumber'].hasError(
                                      'maxlength'
                                    )
                                  ">{{
                                    "System.Users.MobileNumber_ER_Length" | translate
                                  }}</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>{{ "System.Users.EmailAddress" | translate
                                  }}<span class="text-danger">*</span>
                </label>
                <div class="controls">
                  <input type="text" name="EmailAddress" maxlength="256" class="form-control"
                    [formControl]="Form_AddUser.controls['EmailAddress']" [ngClass]="{
                                      'is-invalid':
                                        !Form_AddUser.controls['EmailAddress'].valid &&
                                        Form_AddUser.controls['EmailAddress'].touched
                                    }" />
                </div>
                <label class="text-danger" for="EmailAddress" *ngIf="
                                    Form_AddUser.controls['EmailAddress'].hasError(
                                      'required'
                                    ) && Form_AddUser.controls['EmailAddress'].touched
                                  ">{{
                                    "System.Users.EmailAddress_ER_Required" | translate
                                  }}</label>

                <label class="text-danger" for="EmailAddress" *ngIf="
                                    Form_AddUser.controls['EmailAddress'].hasError('email') &&
                                    Form_AddUser.controls['EmailAddress'].touched
                                  ">{{
                                    "System.Users.EmailAddress_ER_Invalid" | translate
                                  }}</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>{{ "System.Users.UserName" | translate
                                  }}<span class="text-danger">*</span>
                </label>
                <div class="controls">
                  <input type="text" name="UserName" maxlength="256" class="form-control"
                    [formControl]="Form_AddUser.controls['UserName']" [ngClass]="{
                                      'is-invalid':
                                        !Form_AddUser.controls['UserName'].valid &&
                                        Form_AddUser.controls['UserName'].touched
                                    }" />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>{{ "System.Users.Password" | translate
                                  }}<span class="text-danger">*</span>
                </label>
                <div class="input-group">
                  <input type="text" name="Password" maxlength="20" [(ngModel)]="_HelperService.RandomPassword"
                    class="form-control" [formControl]="Form_AddUser.controls['Password']" [ngClass]="{
                                      'is-invalid':
                                        !Form_AddUser.controls['Password'].valid &&
                                        Form_AddUser.controls['Password'].touched
                                    }" />

                  <div class="input-group-append">
                    <button class="btn white" type="button" (click)="_HelperService.GeneratePassoword()">
                      <i class="{{ 'Common.RefreshI' | translate }}"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <label class="text-danger" for="UserName" *ngIf="
                                  Form_AddUser.controls['UserName'].hasError('required') &&
                                  Form_AddUser.controls['UserName'].touched
                                ">{{ "System.Users.UserName_ER_Required" | translate }}</label>

              <label class="text-danger" for="UserName" *ngIf="
                                  Form_AddUser.controls['UserName'].hasError('minlength') ||
                                  Form_AddUser.controls['UserName'].hasError('maxlength')
                                ">{{ "System.Users.UserName_ER_Length" | translate }}</label>
              <label class="text-danger" for="Password" *ngIf="
                                  Form_AddUser.controls['Password'].hasError('required') &&
                                  Form_AddUser.controls['Password'].touched
                                ">{{ "System.Users.Password_ER_Required" | translate }}</label>
              <label class="text-danger" for="Password" *ngIf="
                                  Form_AddUser.controls['Password'].hasError('pattern') ||
                                  Form_AddUser.controls['Password'].hasError('minlength') ||
                                  Form_AddUser.controls['Password'].hasError('maxlength')
                                ">{{ "System.Users.Password_ER_Length" | translate }}</label>
            </div>
          </div>
          <div class="text-sm text-muted">
            Password must be at least 8 characters in length and include at
            least one uppercase, one lowercase, one number and one special
            character.
          </div>
        </div>
        <div class="light p-3 text-right b-b b-t">
          <button type="submit" class="btn btn-fw warn warn mr-2" (click)="Form_AddUser.value.OperationType = 'new'"
            [disabled]="!Form_AddUser.valid || _HelperService.IsFormProcessing">
            <span *ngIf="!_HelperService.IsFormProcessing">
              {{ "Common.Save" | translate }}
            </span>
            <span *ngIf="_HelperService.IsFormProcessing">
              <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
              {{ "Common.PleaseWait" | translate }}...
            </span>
          </button>
          <button type="submit" class="btn btn-outline b-warn text-warn mr-2"
            (click)="Form_AddUser.value.OperationType = 'close'"
            [disabled]="!Form_AddUser.valid || _HelperService.IsFormProcessing">
            <span *ngIf="!_HelperService.IsFormProcessing">
              {{ "Common.SaveAndClose" | translate }}
            </span>
            <span *ngIf="_HelperService.IsFormProcessing">
              <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
              {{ "Common.PleaseWait" | translate }}...
            </span>
          </button>
          <button type="button" class="btn btn-outline   b-warning  text-warning mr-2" (click)="Form_AddUser_Clear()">
            {{ "Common.Clear" | translate }}
          </button>

          <button type="button" class="btn btn-default" data-dismiss="modal" (click)="Form_AddUser_Close()">
            {{ "Common.Close" | translate }}
          </button>
        </div>
      </div>

    </form>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12 hidden-xs ">
  </div>
</div>