<div class="app" id="app">
    <div id="aside" *ngIf="_HelperService.AppConfig.ShowMenu" class="app-aside fade box-shadow-x nav-expand white"
        aria-hidden="true" ui-class="white">
        <div class="sidenav modal-dialog dk white" ui-class="white">
            <div class="navbar lt white" ui-class="white">
                <img src="../../assets/img/logoinverse.png" class="w-xmd" style="    width: 150px;" alt="." />
            </div>
            <div class="flex hide-scroll">
                <div class="scroll">
                    <div class="nav-border b-primary" data-nav="">
                        <ul class="nav bg">
                            <li class="nav-header">
                                <span class="text-xs hidden-folded">Options</span>
                            </li>
                            <li [routerLinkActive]="['active']">
                                <a routerLink="{{
                          _HelperService.AppConfig.Pages.ThankUCash.Dashboard.Rm
                        }}" [routerLinkActive]="['active']">
                                    <span class="nav-icon"><i class="fa fa-home"></i> </span><span class="nav-text">{{
                          "System.Menu.Dashboard" | translate 
                        }}</span></a>
                            </li>
                            <li [routerLinkActive]="['active']">
                                <a target="_blank"
                                    routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelRm.Live.Terminals}}"
                                    [routerLinkActive]="['active']">
                                    <span class="nav-icon"><i class="fa fa-chart-line"></i> </span><span
                                        class="nav-text">Live Terminals</span></a>
                            </li>
                            <li [routerLinkActive]="['active']">
                                <a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelRm.Accounts.Stores}}"
                                    [routerLinkActive]="['active']">
                                    <span class="nav-icon"><i class="fa fa-shopping-cart"></i> </span><span
                                        class="nav-text">Locations</span></a>
                            </li>
                            <li [routerLinkActive]="['active']">
                                <a routerLink="{{_HelperService.AppConfig.Pages.ThankUCash.PanelRm.Accounts.Terminals}}"
                                    [routerLinkActive]="['active']">
                                    <span class="nav-icon"><i class="fa fa-cash-register"></i> </span><span
                                        class="nav-text">Terminals</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="no-shrink lt">
                <div class="nav-fold">
                    <a class="d-flex p-2-3" data-toggle="dropdown"><span class="avatar w-28 grey hide">J</span>
                        <img src="{{ _HelperService.UserAccount.IconUrl }}" alt="..." class="w-28 circle" /></a>

                    <div class="dropdown-menu w pt-0 mt-2 animate fadeIn">
                        <a class="dropdown-item" routerLink="{{
                      _HelperService.AppConfig.Pages.ThankUCash.PanelAcquirer.Profile
                    }}"><span>Profile</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" (click)="ProcessLogout()">Sign out</a>
                    </div>
                    <div class="hidden-folded flex p-2-3 bg">
                        <div class="d-flex p-1">
                            <a (click)="ProcessLogout()" class="px-2" data-toggle="tooltip" title=""
                                data-original-title="Logout"><i class="fa fa-power-off text-muted"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="content" class="app-content box-shadow-0" role="main">
        <div *ngIf="_HelperService.AppConfig.ShowHeader" class="content-header light box-shadow-0" id="content-header">
            <div class="navbar navbar-expand-lg">
                <a class="d-lg-none mx-2" data-toggle="modal" data-target="#aside"><svg
                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512">
                        <path d="M80 304h352v16H80zM80 248h352v16H80zM80 192h352v16H80z"></path>
                    </svg></a>
                <div class="navbar-text nav-title flex" id="pageTitle">
                    <a (click)="_HelperService.NavigateBack()">
                        <i class=" icon-arrow-left-circle  pr-1 _700 text-muted"></i>
                    </a>
                    <span class="text-uppercase">
                        {{ _HelperService.AppConfig.ActivePageName }}</span>
                </div>
                <ul class="nav flex-row order-lg-2">
                    <li class="dropdown d-flex align-items-center ml-2">
                        <a href="#" data-toggle="dropdown" class="d-flex align-items-center"><span
                                class="avatar w-32"><img src="{{ _HelperService.UserAccount.IconUrl }}" alt="..."
                                    style="    border: 1px solid #907aef;" />
                            </span><span
                                class="mx-2 d-none l-h-1x d-lg-block"><span>{{ _HelperService.UserAccount.DisplayName }}</span>
                                <small class="text-muted d-block">{{
                        _HelperService.User.EmailAddress
                      }}</small></span></a>
                        <div class="dropdown-menu dropdown-menu-right w pt-0 mt-2 animate fadeIn">
                            <a class="dropdown-item" routerLink="{{
                        _HelperService.AppConfig.Pages.ThankUCash.PanelAcquirer
                          .Profile
                      }}"><span>Profile</span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" target="_blank" href="https://support.thankucash.com">Need help?
                            </a><a class="dropdown-item" (click)="ProcessLogout()">Sign out</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content-main" id="content-main" [className]="_HelperService.FullContainer ? 'p-0' : 'p-15'">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>