<div class="card bd-t-0">
  <div class="card-header pd-t-0">
    <button class="px-4 float-right btn tx-12 btn-success rounded-50" (click)="Form_AddStore_Show()"> Add New Store
    </button>

  </div>
  <div class="box-header px-3 py-3 d-flex align-items-center justify-content-between">
    <div class="form-inline ">
      <div class="input-group input-group-sm mr-3">
        <input type="text" class="form-control" [value]="StoresList_Config.SearchParameter" maxlength="100"
          class="form-control" placeholder="{{ 'Common.Search' | translate }}"
          (keyup)="StoresList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Search)">
        <div class="input-group-append">
          <button class="btn btn-outline-light" type="button"
            (click)="StoresList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)"><i
              data-feather="search"></i> </button>
        </div>
      </div>
      <span class="badge badge-pill badge-primary"
        *ngFor="let TItem of StoresList_Config.Filters">{{TItem.Title}}</span>
    </div>
    <!-- <div class="d-flex ml-auto">
      <button type="button" class="btn  tx-12 rounded-0 bd-gray-200 bd-r-0  btn-outline-danger btn-icon"
        (click)="Delete_Filter()">
        <i data-feather="minus-circle"></i> </button>

      <div class="form-group my-auto shadow-none ml-auto " *ngIf="_HelperService._RefreshUI">
        <select2 name="itemId0" [options]="_DataHelperService.S2_NewSavedFilters_Option" class="wd-30 select2"
          [data]="_HelperService.Active_FilterOptions" [value]="_HelperService.Active_FilterOptions[0]"
          (valueChanged)="Active_FilterValueChanged( $event )">
        </select2>
      </div>
      <button type="button" class=" btn btn-outline-success tx-12 bd-l-0 mr-3 rounded-0 bd-gray-200 btn-icon"
        (click)="Save_NewFilter()"> <i data-feather="plus-circle"></i> </button>

    </div> -->


    <div class="d-flex ml-auto">
      <button [disabled]='(_HelperService.FilterSnap.id == -1)' type="button"
        class="btn  tx-12 rounded-0 bd-gray-200 bd-r-0  btn-outline-danger btn-icon" (click)="Delete_Filter()">
        <i data-feather="minus-circle"></i>
      </button>

      <div class="form-group my-auto shadow-none ml-auto " *ngIf="_HelperService._RefreshUI">
        <select2 name="itemId0" [options]="_DataHelperService.S2_NewSavedFilters_Option" class="wd-30 select2"
          [data]="_HelperService.Active_FilterOptions" [value]="_HelperService.Active_FilterOptions[0]"
          (valueChanged)="Active_FilterValueChanged( $event )">
        </select2>
      </div>
      <button [disabled]='_HelperService.FilterState == this._HelperService.AppConfig.FilterStates.Default || 
      _HelperService.FilterState == this._HelperService.AppConfig.FilterStates.NoChange' type="button"
        class=" btn btn-outline-success tx-12 bd-l-0 mr-3 rounded-0 bd-gray-200 btn-icon" (click)="Save_NewFilter()"> <i
          data-feather="plus-circle"></i> </button>

    </div>
    <nav class="nav nav-with-icon tx-20">
      <!-- <div class="dropdown dropleft">
        <a href="" class="nav-link mr-2" id="MerchantsList_sdropdown" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false"> <i data-feather="align-left" class="tx-20"></i> </a>
        <div class="dropdown-menu tx-13">
          <form class="wd-250 pd-15">


            <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Sort
              <div class="float-right tx-20" *ngIf="StoresList_Config.Sort.SortOrder == 'desc'"
                (click)="StoresList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                <i class="fas fa-sort-alpha-down-alt"></i>
              </div>
              <div class="float-right tx-20" *ngIf="StoresList_Config.Sort.SortOrder == 'asc'"
                (click)="StoresList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                <i class="fas fa-sort-alpha-up-alt"></i>
              </div>
            </h6>
       
            <a class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} " *ngFor="let TItem of StoresList_Config.Sort.SortOptions"
            (click)="StoresList_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
            {{TItem.Name}}
          </a>

            <button type="button" class="btn btn-light btn-sm mr-2 mg-t-20"
              (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
              Reset</button>
            <button type="button" class="btn btn-primary btn-sm  mg-t-20"
              (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Sort')">Apply</button>
          </form>
        </div>
      </div> -->


      <div class="dropdown dropleft">
        <a href="" class="nav-link mr-2" id="MerchantsList_sdropdown" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false"> <i data-feather="align-left" class="tx-20"></i> </a>
        <div class="dropdown-menu tx-13">
          <form class="wd-250 pd-15">


            <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Sort
              <div class="float-right tx-20" *ngIf="StoresList_Config.Sort.SortOrder == 'desc'"
                (click)="StoresList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                <i class="fas fa-sort-alpha-down-alt"></i>
              </div>
              <div class="float-right tx-20" *ngIf="StoresList_Config.Sort.SortOrder == 'asc'"
                (click)="StoresList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                <i class="fas fa-sort-alpha-up-alt"></i>
              </div>
            </h6>

            <a class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} "
              *ngFor="let TItem of StoresList_Config.Sort.SortOptions"
              (click)="StoresList_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
              {{TItem.Name}}
            </a>

            <button type="button" class="btn btn-light btn-sm mr-2 mg-t-20"
              (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
              Reset</button>
            <button type="button" class="btn btn-primary btn-sm  mg-t-20"
              (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Sort')">Apply</button>
          </form>
        </div>
      </div>
      <div class="dropdown dropleft">
        <a href="" class="nav-link" id="MerchantsList_fdropdown" data-toggle="dropdown" aria-haspopup="true"
          (click)="_HelperService.StopClickPropogation()" aria-expanded="false"> <i data-feather="filter"></i> </a>
        <div class="dropdown-menu tx-13">
          <form class="wd-250  pd-15" *ngIf="ResetFilterControls">
            <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Filters
            </h6>
            <div>
              <div class="form-group">
                <label>Added On</label>
                <input type="text" class="form-control  form-daterangepicker" name="daterangeInput" daterangepicker
                  [options]="_HelperService.AppConfig.DateRangeOptions"
                  (selected)="StoresList_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" />
              </div>
            </div>
            <div>
              <div class="form-group">
                <label>Status</label>
                <select2 [options]="_DataHelperService.S2_Status_Option" class="wd-100p"
                  [data]="StoresList_Config.StatusOptions"
                  (valueChanged)="StoresList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)">
                </select2>
              </div>
            </div>
            <!-- <div>
              <div class="form-group">
                <label>Owner</label>
                <select2 [options]="MerchantsList_Filter_Owners_Option" class="wd-100p"
                  (valueChanged)="MerchantsList_Filter_Owners_Change($event)">
                </select2>
              </div>
            </div> -->
            <button type="button" class="btn btn-light btn-sm mr-2"
              (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
              Reset</button>
            <button type="button" class="btn btn-primary btn-sm "
              (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Other')">Apply</button>
          </form>
        </div>
      </div>
      <a class="nav-link ml-2 RefreshColor RefreshColorOne cursor-pointer"
        (click)="StoresList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Refresh)"> <i
          data-feather="refresh-cw"></i> </a>
    </nav>
  </div>
  <div class="pt-0 pd-l-15 pd-b-15">
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="(!_HelperService.FilterSnap.Status) || (_HelperService.FilterSnap.Status==0)"
      (click)="RemoveFilterComponent('Status')">
      {{_HelperService.FilterSnap.StatusName}}
      <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="!_HelperService.FilterSnap.Sort.SortColumn || (_HelperService.FilterSnap.Sort.SortColumn=='CreateDate' && _HelperService.FilterSnap.Sort.SortOrder=='')"
      (click)="RemoveFilterComponent('Sort')">
      <span> {{_HelperService.FilterSnap.Sort.SortColumn + "--" + _HelperService.FilterSnap.Sort.SortOrder}}</span>
      <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      [hidden]="!_HelperService.FilterSnap.StartTime" (click)="RemoveFilterComponent('Time')">
      {{_HelperService.GetDateS(_HelperService.FilterSnap.StartTime) + "--" +
      _HelperService.GetDateS(_HelperService.FilterSnap.EndTime)}}
      <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>
    <div class="badge badge-transparent pd-y-10 pd-l-15 mx-1 bd bd-1 bd-gray-500 rounded-50 tx-color-03"
      *ngFor="let TItem of _HelperService.FilterSnap.OtherFilters; let i = index"
      (click)="RemoveFilterComponent('Other',i)">
      {{TItem.data[0].DisplayName}}
      <span class="bd bd-1  mg-l-5 pd-x-5 pd-y-3 rounded-circle bg-primary text-white cursor-pointer"><i
          class="fas fa-times"></i> </span>
    </div>

    <span class="badge badge-pill badge-primary" *ngFor="let TItem of StoresList_Config.Filters">{{TItem.Title}}</span>

  </div>
  <div class="card-body p-0">
    <table class="{{_HelperService.AppConfig.TablesConfig.DefaultClass}}">
      <thead>
        <tr>
          <th class="td-status">
          </th>
          <th class="">
            Store Name
          </th>
          <th class="">
            City
          </th>
          <th class="">
            Today Tr Amt
          </th>
          <th class="text-right">
            R. %
          </th>
          <th class="text-right">
            POS
          </th>
          <th class="text-right">
            Active POS
          </th>
          <th class="">
            RM
          </th>
          <th class="td-date">
            Added On
          </th>

        </tr>
      </thead>
      <tbody>
        <tr class="cursor-pointer" (click)="StoresList_RowSelected(TItem)" *ngFor="let TItem of StoresList_Config.Data
                                                | paginate: { id: 'StoresList_Paginator',itemsPerPage: StoresList_Config.PageRecordLimit, currentPage: StoresList_Config.ActivePage,
                                                totalItems: StoresList_Config.TotalRecords }">
          <td class="td-status text-center pl-0 ml-0">
            <img src="{{TItem.IconUrl}}" class="avatar-sm rounded-circle bd bd-2" [style.border-color]="TItem.StatusC">
          </td>
          <td>
            <div class="tx-semibold tx-14">

              {{TItem.DisplayName}}
            </div>
            <div class="tx-12 text-muted">
              {{ TItem.Address | truncateText:40 }}
            </div>
          </td>

          <td>
            <div class="">

              {{TItem.CityName || "--"}}
            </div>
          </td>

          <td>
            <div class="tx-semibold tx-14">
              <span class=" text-sm mg-r-5" [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
              {{TItem.TodaysTransactionAmount}}
            </div>
            <div class="tx-12 tx-muted">
              From {{ TItem.Transaction || "--"}} Transactions
            </div>
          </td>

          <td>
            <div class="text-right">

              {{TItem.RewardPercentage || "--" }}
            </div>
          </td>

          <td>
            <div class="text-right">

              {{TItem.Terminals || "--"}}
            </div>
          </td>

          <td>
            <div class="text-right">

              {{TItem.ActiveTerminals || "--" }}
            </div>
          </td>

          <td>
            <div class="">

              {{TItem.RmDisplayName || "--"}}
            </div>
          </td>

          <td>
            <div class="text-muted text-uppercase">
              {{TItem.CreateDateD }}
            </div>
            <div class="text-muted text-lowercase">
              {{TItem.CreateDateT }}
            </div>
          </td>

        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer pd-20">
    <span class="mr-3">
      {{ 'Common.Showing' | translate }}
      <span class="bold">{{StoresList_Config.ShowingStart}} {{ 'Common.To' | translate }}
        {{StoresList_Config.ShowingEnd}}
      </span> {{ 'Common.Of' | translate }} {{StoresList_Config.TotalRecords}}
    </span>
    <span>
      {{ 'Common.Show' | translate }}
      <select class="wd-40 " [(ngModel)]="StoresList_Config.PageRecordLimit"
        (ngModelChange)="StoresList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
        <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
          {{TItem}}
        </option>
      </select>
    </span>
    <span class="float-right">
      <pagination-controls id="StoresList_Paginator" class="pagination pagination-space"
        (pageChange)="StoresList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
        nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
      </pagination-controls>
    </span>
  </div>
</div>

<div id="Form_AddStore_Content" class="modal fade" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <form [formGroup]="Form_AddStore" (ngSubmit)="Form_AddStore_Process(Form_AddStore.value)" role="form">
        <div class="modal-header">
          <h5 class="modal-title">Add New Store/Location</h5>
        </div>
        <div class="modal-body  p-lg">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>{{ "System.Menu.StoreName" | translate
                  }}<span class="text-danger">*</span>
                </label>
                <div class="controls">
                  <input type="text" name="Name" maxlength="128" class="form-control"
                    [formControl]="Form_AddStore.controls['Name']" [ngClass]="{
                            'is-invalid':
                              !Form_AddStore.controls['Name'].valid &&
                              Form_AddStore.controls['Name'].touched
                          }" />
                </div>
                <label class="text-danger" for="Name" *ngIf="
                          Form_AddStore.controls['Name'].hasError('required') &&
                          Form_AddStore.controls['Name'].touched
                        ">{{
                  "System.Users.Name_ER_Required" | translate
                  }}</label>
                <label class="text-danger" for="Name" *ngIf="
                          Form_AddStore.controls['Name'].hasError(
                            'minlength'
                          ) ||
                          Form_AddStore.controls['Name'].hasError('maxlength')
                        ">Store name must be between 4 - 256 characters</label>
              </div>
              <div class="form-group">
                <label>{{ "System.Menu.StoreNickName" | translate
                  }}<span class="text-danger">*</span>
                </label>
                <div class="controls">
                  <input type="text" name="DisplayName" maxlength="128" class="form-control"
                    [formControl]="Form_AddStore.controls['DisplayName']" [ngClass]="{
                          'is-invalid':
                            !Form_AddStore.controls['DisplayName'].valid &&
                            Form_AddStore.controls['DisplayName'].touched
                        }" />
                </div>
                <label class="text-danger" for="DisplayName" *ngIf="
                        Form_AddStore.controls['DisplayName'].hasError('required') &&
                        Form_AddStore.controls['DisplayName'].touched
                      ">Enter store nick name</label>
                <label class="text-danger" for="DisplayName" *ngIf="
                        Form_AddStore.controls['DisplayName'].hasError(
                          'minlength'
                        ) ||
                        Form_AddStore.controls['DisplayName'].hasError('maxlength')
                      ">Store nick name must be between 2 - 25 characters</label>
              </div>
              <div class="form-group">
                <label>{{ "System.Users.EmailAddress" | translate
                  }}<span class="text-danger">*</span>
                </label>
                <div class="controls">
                  <input type="text" name="EmailAddress" maxlength="128" class="form-control"
                    [formControl]="Form_AddStore.controls['EmailAddress']" [ngClass]="{
                        'is-invalid':
                          !Form_AddStore.controls['EmailAddress'].valid &&
                          Form_AddStore.controls['EmailAddress'].touched
                      }" />
                </div>
                <label class="text-danger" for="EmailAddress" *ngIf="
                      Form_AddStore.controls['EmailAddress'].hasError('required') &&
                      Form_AddStore.controls['EmailAddress'].touched
                    ">{{
                  "System.Users.EmailAddress_ER_Required" | translate
                  }}</label>
                <label class="text-danger" for="EmailAddress" *ngIf="
                      Form_AddStore.controls['EmailAddress'].touched &&
                      !Form_AddStore.controls['EmailAddress'].valid && 
                      !Form_AddStore.controls['EmailAddress'].hasError('required')
                    ">Enter valid email Address</label>
              </div>


              <div class="form-group">
                <label>{{ "System.Users.ContactNumber" | translate
                  }}<span class="text-danger">*</span>
                </label>
                <div class="controls">
                  <div class="input-group">
                    <div class="input-group-prepend" style="height: 38px;"><span class="input-group-text">+234</span>
                    </div>
                    <input type="text" name="ContactNumber" maxlength="14" class="form-control"
                      (keypress)="_HelperService.PreventText($event)"
                      [formControl]="Form_AddStore.controls['ContactNumber']" [ngClass]="{
                      'is-invalid':
                        !Form_AddStore.controls['ContactNumber'].valid &&
                        Form_AddStore.controls['ContactNumber'].touched
                    }" />
                  </div>
                </div>



                <label class="text-danger" for="ContactNumber" *ngIf="
                    Form_AddStore.controls['ContactNumber'].hasError('required') &&
                    Form_AddStore.controls['ContactNumber'].touched
                  ">{{
                  "System.Users.ContactNumber_ER_Required" | translate
                  }}</label>
                <label class="text-danger" for="ContactNumber" *ngIf="
                    Form_AddStore.controls['ContactNumber'].hasError(
                      'minlength'
                    ) ||
                    Form_AddStore.controls['ContactNumber'].hasError('maxlength')
                  ">{{ "System.Users.ContactNumber_ER_Length" | translate }}</label>
              </div>
              <!-- <div class="form-group" *ngIf="!_HelperService.IsFormProcessing">
                <label>{{ 'System.Menu.Branch' | translate }}<span class="text-danger">*</span>
                </label>
                <select2 name="S2GetBranches" class="full-width" [options]="GetBranches_Option"
                  (valueChanged)="GetBranches_ListChange($event)"></select2>
              </div>
              <div class="form-group">
                <label>RM<span class="text-danger">*</span>
                </label>
                <select2 name="S2GetManagers" class="full-width" [options]="GetMangers_Option"
                  (valueChanged)="GetMangers_ListChange($event)"></select2>
              </div>
             -->



            </div>

            <div class="col-md-6">
              <h3 class="tx-medium tx-14">Business Location</h3>
              <hcx-addressmanager [data]="_Address" [config]="_AddressConfig" (OnAddressSet)="AddressChange($event)">
              </hcx-addressmanager>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="Form_AddStore_Close()">
            {{ "Common.Close" | translate }}
          </button>
          <button type="submit" class="btn btn-primary warn mr-2" (click)="Form_AddStore.value.OperationType = 'new'"
            [disabled]="!Form_AddStore.valid || _HelperService.IsFormProcessing">
            <span *ngIf="!_HelperService.IsFormProcessing">
              {{ "Common.SaveChanges" | translate }}
            </span>
            <span *ngIf="_HelperService.IsFormProcessing">
              <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
              {{ "Common.PleaseWait" | translate }}...
            </span>
          </button>
          <!-- <button type="submit" class="btn btn-outline b-warn text-warn mr-2"
                      (click)="Form_AddStore.value.OperationType = 'close'"
                      [disabled]="!Form_AddStore.valid || _HelperService.IsFormProcessing">
                      <span *ngIf="!_HelperService.IsFormProcessing">
                          {{ "Common.SaveAndClose" | translate }}
                      </span>
                      <span *ngIf="_HelperService.IsFormProcessing">
                          <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                          {{ "Common.PleaseWait" | translate }}...
                      </span>
                  </button> -->


        </div>
      </form>
    </div>
  </div>
</div>