<div class="row">
  <div class="col-3 px-2">
    <div class="box p-3 mb-3">
      <div class="db-title color-customer">
        <i class="fa fa-user db-title-icon"></i> Customers
      </div>
      <div class=" db-title-sub color-customer">Total customers
      </div>
      <div class="db-title-count-xl">
        500,444
      </div>
    </div>
  </div>
  <div class="col-3 px-2">
    <div class="box p-3 mb-3">
      <div class="db-title color-merchant">
        <i class="fa fa-briefcase db-title-icon"></i> Merchants
      </div>
      <div class=" db-title-sub color-merchant">Total merchants
      </div>
      <div class="db-title-count-xl">
        500,444
      </div>
    </div>
  </div>
  <div class="col-3 px-2">
    <div class="box p-3 mb-3">
      <div class="db-title color-store">
        <i class="fa fa-map-marker-alt db-title-icon"></i> Stores
      </div>
      <div class=" db-title-sub color-store">Total store locations
      </div>
      <div class="db-title-count-xl">
        500,444
      </div>
    </div>
  </div>
  <div class="col-3 px-2">
    <div class="box p-3 mb-3">
      <div class="db-title color-terminal">
        <i class="fa fa-cash-register db-title-icon"></i> Terminals
      </div>
      <div class=" db-title-sub color-terminal">Total registered terminals
      </div>
      <div class="db-title-count-xl">
        500,444
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6 col-lg-3">
    <div class="box p-3 bg-light b-a r-2x  text-center shadow">
      <div class="text-normal">
        Merchants
      </div>
      <div class="py-2 text-xl">
        {{_HelperService._AccountOverview.Merchants | number: "1.0-1" || "--"}}
      </div>
      <div class="text-muted">
        Total number of merchants
      </div>
    </div>
  </div>
  <div class="col-6 col-lg-3">
    <div class="box p-3 bg-light b-a r-2x  text-center shadow">
      <div class="text-normal">
        Merchant Locations
      </div>
      <div class="py-2 text-xl">
        {{ _HelperService._AccountOverview.Stores | number: "1.0-1" || "--" }}
      </div>
      <div class="text-muted">
        Total store locations
      </div>
    </div>
  </div>
  <div class="col-6 col-lg-3">
    <div class="box p-3 bg-light b-a r-2x  text-center shadow">
      <div class="text-normal">
        Terminals
      </div>
      <div class="py-2 text-xl">
        {{ _HelperService._AccountOverview.Terminals | number: "1.0-1" || "--" }}
      </div>
      <div class="text-muted">
        Total POS terminals
      </div>
    </div>
  </div>
  <div class="col-6 col-lg-3">
    <div class="box p-3 bg-light b-a r-2x  text-center shadow">
      <div class="text-normal">
        Terminal Providers
      </div>
      <div class="py-2 text-xl">
        {{_HelperService._AccountOverview.Ptsp | number: "1.0-1" || "--"}}
      </div>
      <div class="text-white text-muted">
        Total pos providers
      </div>
    </div>
  </div>
</div>
<div class="box">
  <div class="box-body ">
    <div class="row no-gutters">
      <div class="col-12">
        <div class=" text-left">
          <span class="text-warn _600 text-left">Today Sales </span>
          <span class="pl-1">
            <a (click)="GetAccountOverviewLite()"><i class="fa fa-fw  f-s-11 fa-sync text-success"></i></a>
          </span>
        </div>
      </div>
      <div class="col-md-3">
        <div class="py-2 d-block">
          <div class="d-block text-lg  ">
            {{_AccountOverview.Transactions | number: "1.0-1" || "--"}}
          </div>
          <div class="d-block f-s-11">Transactions
            <span class=" text-xxs text-success _700"
              [ngClass]="{'text-danger': _AccountOverview.TransactionsDiff > _AccountOverview.Transactions, 
                                      'text-warning': _AccountOverview.TransactionsDiff == _AccountOverview.Transactions , 
                                      'text-success': _AccountOverview.TransactionsDiff < _AccountOverview.Transactions  }"> <i class="fa " [ngClass]="{'fa-chevron-circle-down': _AccountOverview.TransactionsDiff > _AccountOverview.Transactions, 
                                      'fa-chevron-circle-up': _AccountOverview.TransactionsDiff == _AccountOverview.Transactions ||  _AccountOverview.TransactionsDiff < _AccountOverview.Transactions
                                      }"></i>
              {{(_AccountOverview.Transactions - _AccountOverview.TransactionsDiff) | number: "1.0-1"}}
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="py-2 d-block">
          <div class="d-block text-lg">
            <span class="text-sm _700"
              [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_AccountOverview.PurchaseAmount| number: "1.2-2" || "--"}}
          </div>
          <div class="d-block f-s-11">Purchase
            <span class=" text-xxs text-success _700 pr-1"
              [ngClass]="{'text-danger': _AccountOverview.PurchaseAmountDiff > _AccountOverview.PurchaseAmount, 
                                      'text-warning': _AccountOverview.PurchaseAmountDiff == _AccountOverview.PurchaseAmount , 
                                      'text-success': _AccountOverview.PurchaseAmountDiff < _AccountOverview.PurchaseAmount  }"> <i class="fa" [ngClass]="{'fa-chevron-circle-down': _AccountOverview.PurchaseAmountDiff > _AccountOverview.PurchaseAmount, 
                                      'fa-chevron-circle-up': _AccountOverview.PurchaseAmountDiff == _AccountOverview.PurchaseAmount ||    _AccountOverview.PurchaseAmountDiff < _AccountOverview.PurchaseAmount 
                                       }"></i>
              {{(_AccountOverview.PurchaseAmount - _AccountOverview.PurchaseAmountDiff) | number: "1.2-2" }}
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="py-2 d-block">
          <div class="d-block text-lg "><span class="text-sm _700 pr-1"
              [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_AccountOverview.CashRewardPurchaseAmount| number: "1.2-2" || "--"}}
          </div>
          <div class="d-block f-s-11">Cash Payments
            <span class=" text-xxs text-success _700"
              [ngClass]="{'text-danger': _AccountOverview.CashRewardPurchaseAmountDiff > _AccountOverview.CashRewardPurchaseAmount, 
                                        'text-warning': _AccountOverview.CashRewardPurchaseAmountDiff == _AccountOverview.CashRewardPurchaseAmount , 
                                        'text-success': _AccountOverview.CashRewardPurchaseAmountDiff < _AccountOverview.CashRewardPurchaseAmount  }">
              <i class="fa" [ngClass]="{'fa-chevron-circle-down': _AccountOverview.CashRewardPurchaseAmountDiff > _AccountOverview.CashRewardPurchaseAmount, 
                                        'fa-chevron-circle-up': _AccountOverview.CashRewardPurchaseAmountDiff == _AccountOverview.CashRewardPurchaseAmount || _AccountOverview.CashRewardPurchaseAmountDiff < _AccountOverview.CashRewardPurchaseAmount   
                                       }"></i>
              {{(_AccountOverview.CashRewardPurchaseAmount - _AccountOverview.CashRewardPurchaseAmountDiff) | number: "1.2-2" }}
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="py-2 d-block">
          <div class="d-block text-lg "><span class="text-sm _700 pr-1"
              [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_AccountOverview.CardRewardPurchaseAmount| number: "1.2-2" || "--"}}
          </div>
          <div class="d-block f-s-11">Card Payments
            <span class="text-xxs text-success _700"
              [ngClass]="{'text-danger': _AccountOverview.CardRewardPurchaseAmountDiff > _AccountOverview.CardRewardPurchaseAmount, 
                                          'text-warning': _AccountOverview.CardRewardPurchaseAmountDiff == _AccountOverview.CardRewardPurchaseAmount , 
                                          'text-success': _AccountOverview.CardRewardPurchaseAmountDiff < _AccountOverview.CardRewardPurchaseAmount  }">
              <i class="fa" [ngClass]="{'fa-chevron-circle-down': _AccountOverview.CardRewardPurchaseAmountDiff > _AccountOverview.CardRewardPurchaseAmount, 
                                          'fa-chevron-circle-up': _AccountOverview.CardRewardPurchaseAmountDiff == _AccountOverview.CardRewardPurchaseAmount || _AccountOverview.CardRewardPurchaseAmountDiff < _AccountOverview.CardRewardPurchaseAmount 
                                            }"></i>
              {{(_AccountOverview.CardRewardPurchaseAmount - _AccountOverview.CardRewardPurchaseAmountDiff) | number: "1.2-2" }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="box ">
  <div class="box-header">
    <h3 class="text-warn"> Sales Overview</h3>
    <small class="text-gray">Transaction divided by payment type done on pos termianls
    </small>
  </div>
  <div class="row no-gutters mb-2 pb-3 pl-3 pr-3 ">
    <div class="col-lg-4  col-md-3 col-sm-6 col-xs-12 pr-4">
      <div class="py-2 text-lg text-warn">
        <span class=" text-sm"
          [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_HelperService._AccountOverview.PurchaseAmount| number: "1.2-2" || "--"}}
      </div>
      <div>
        Total Sale
        <span class="float-right">{{ _HelperService._AccountOverview.Transactions | number: "1.0-1" || "--"}}</span>
      </div>
      <div class=" text-muted">
        Total sale done by terminals by card or cash mode at store
      </div>
    </div>
    <div class="col-lg-4  col-md-3 col-sm-6 col-xs-12 pr-4">
      <div class="py-2  text-lg text-warn">
        <span class=" text-sm"
          [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{ _HelperService._RewardTypeOverview.CardRewardPurchaseAmount| number: "1.2-2" || "--" }}
      </div>
      <div>
        Card Payments
        <span
          class="float-right">{{ _HelperService._RewardTypeOverview.CardRewardTransactions | number: "1.0-1" || "--"}}</span>
      </div>
      <div class="text-muted ">
        Payment made through credit or debit card at store location
      </div>
    </div>
    <div class="col-lg-4  col-md-3 col-sm-6 col-xs-12 pr-4">
      <div class="py-2 text-lg text-success">
        <span class=" text-sm"
          [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{ _HelperService._RewardTypeOverview.CashRewardPurchaseAmount | number: "1.2-2" || "--"}}
      </div>
      <div class="">
        Cash Payments
        <span
          class="float-right">{{ _HelperService._RewardTypeOverview.CashRewardTransactions | number: "1.0-1" || "--"}}</span>
      </div>
      <div class="text-muted ">
        Cash payment done at store location by customers
      </div>
    </div>
  </div>

</div>
<div class="row">
  <div class="col-md-4" *ngFor="let TItem of _HelperService._RewardTypeOverview.AppUsersCardType">
    <div class="box shadow  r-2x shadow-lg"
      [ngClass]="{'bg-mastercard': TItem.Name  == 'Mastercard',  'bg-visa-card': TItem.Name  == 'VISA',  'bg-verve-card': TItem.Name  == 'Verve'}">
      <div class="box-body text-white ">
        <span class="_500 text-xxs text-center float-left" style="position: absolute;">
          {{ TItem.Name || "--" }}
        </span>
        <div class="text-3x text-center">
          <i class="fab "
            [ngClass]="{'fa-cc-mastercard': TItem.Name  == 'Mastercard',  'fa-cc-visa': TItem.Name  == 'VISA',  'far fa-credit-card': TItem.Name  == 'Verve'}"></i>
        </div>

        <div class="text-center _500">
          <span class=" text-sm" [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
          <span class="text-md">{{TItem.Purchase | number: "1.2-2" || "--"}}</span>
        </div>
        <div class="text-center  _500 text-uppercase mb-2">Total Sale</div>
        <div class="text-uppercase _500  mb-2">
          Users <span class="float-right">{{ TItem.Users || "--" }}</span>
        </div>
        <div class="text-uppercase _500 ">
          Transactions <span class="float-right">{{ TItem.Transactions || "--" }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="box ">
  <div class="box-header">
    <h3 class="text-warn">Terminals Activity Overview</h3>
    <small class="text-gray"> Terminal activity overview based on transactions
    </small>
  </div>
  <div class="row no-gutters pb-3 pl-3 pr-3">
    <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 pr-2">
      <div class="py-2  text-lg text-success ">
        {{ _HelperService._AccountOverview.ActiveTerminals  | number: "1.0-1" || "--" }}
      </div>
      <div>
        Active Terminals
      </div>
      <div class="text-xs text-muted ">
        Terminals used within 24 hours for payment
      </div>
    </div>
    <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 pr-2">
      <div class="py-2  text-lg text-warning ">
        {{_HelperService._AccountOverview.IdleTerminals | number: "1.0-1" || "--" }}
      </div>
      <div>
        Idle Terminals
      </div>
      <div class="text-xs text-muted ">
        Terminals used within last 7 days for payment
      </div>
    </div>
    <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 pr-2">
      <div class="py-2  text-lg text-danger ">
        {{
              _HelperService._AccountOverview.DeadTerminals
                | number: "1.0-1" || "--"
            }}
      </div>
      <div>
        Dead Terminals
      </div>
      <div class="text-xs text-muted">
        Terminals not used more than 7 days for payments
      </div>
    </div>
    <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 pr-2">
      <div class="py-2  text-lg text-muted ">
        {{_HelperService._AccountOverview.UnusedTerminals  | number: "1.0-1" || "--"}}
      </div>
      <div>
        Unused Terminals
      </div>
      <div class="text-xs text-muted ">
        Terminals added but never used for payments
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-4" *ngFor="let TItem of _HelperService._AccountOverview.PosOverview">
    <div class="box ">
      <div class="box-header">
        <h3 class="text-warn">
          <img style="    width: 20px;
float: left;
margin-right: 5px;
border: 1px solid #ccc;
border-radius: 3px;" src="{{TItem.IconUrl}}">
          {{TItem.DisplayName}} - Terminals
          <span class="float-right">
            {{ TItem.Terminals}}
          </span>
        </h3>
      </div>
      <div class="row row-col no-gutters pb-3 rounded-bottom text-center">
        <div class="col-4 b-r">
          <a class="py-1 d-block">
            <span class="d-block  text-md   text-success">{{ TItem.ActiveTerminals}}</span>
            <span class="d-block text-uppercase text-xxs _600 text-muted">Active</span>
          </a>
        </div>
        <div class="col-4 b-r"><a class="py-1 d-block"><span
              class="d-block  text-md text-deep-orange">{{ TItem.IdleTerminals}}</span><span
              class="d-block text-uppercase text-xxs _600  text-muted">Idle</span></a></div>
        <div class="col-4"><a class="py-1 d-block">
            <span class="d-block  text-md text-danger">{{ TItem.DeadTerminals}}</span>
            <span class="d-block text-uppercase text-xxs _600  text-muted">Dead</span>
          </a></div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="box ">
      <div class="box-header">
        <h3 class="text-warn">
          Transaction Status
        </h3>
      </div>
      <div class="row row-col no-gutters pb-3 rounded-bottom text-center">
        <div class="col-6 b-r">
          <a class="py-1 d-block">
            <span
              class="d-block  text-md   text-success">{{_HelperService._AccountOverview.TransactionSuccess | number: "1.0-1" || "--"    }}</span>
            <span class="d-block text-uppercase text-xxs _600 text-muted">Success</span>
          </a>
        </div>
        <div class="col-6 b-r"><a class="py-1 d-block"><span
              class="d-block  text-md text-deep-orange">{{_HelperService._AccountOverview.TransactionFailed | number: "1.0-1" || "--" }}</span><span
              class="d-block text-uppercase text-xxs _600  text-muted">Failed</span></a></div>
      </div>
    </div>
  </div>

</div>

<!-- 
<div class="d-flex flex fixed-height" id="SideContainer" [style.height.px]="_HelperService.ContainerHeight">
  <div class="d-flex flex" id="content-body">
    <div class="d-flex flex-column flex  ">
      <div class="scrollable hover pl-3 pr-3 pt-3">
        <div class="box ">
          <div class="box-body ">
            <div class="row no-gutters">
              <div class="col-12">
                <div class=" text-left">
                  <span class="text-warn _600 text-left">Today Sales </span>
                  <span class="pl-1">
                    <a (click)="GetAccountOverviewLite()"><i class="fa fa-fw  f-s-11 fa-sync text-success"></i></a>
                  </span>
                </div>
              </div>
              <div class="col-md-3">
                <div class="py-2 d-block">
                  <div class="d-block text-lg  ">
                    {{_AccountOverview.Transactions | number: "1.0-1" || "--"}}
                  </div>
                  <div class="d-block f-s-11">Transactions
                    <span class=" text-xxs text-success _700"
                      [ngClass]="{'text-danger': _AccountOverview.TransactionsDiff > _AccountOverview.Transactions, 
                                              'text-warning': _AccountOverview.TransactionsDiff == _AccountOverview.Transactions , 
                                              'text-success': _AccountOverview.TransactionsDiff < _AccountOverview.Transactions  }"> <i class="fa " [ngClass]="{'fa-chevron-circle-down': _AccountOverview.TransactionsDiff > _AccountOverview.Transactions, 
                                              'fa-chevron-circle-up': _AccountOverview.TransactionsDiff == _AccountOverview.Transactions ||  _AccountOverview.TransactionsDiff < _AccountOverview.Transactions
                                              }"></i>
                      {{(_AccountOverview.Transactions - _AccountOverview.TransactionsDiff) | number: "1.0-1"}}
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="py-2 d-block">
                  <div class="d-block text-lg">
                    <span class="text-sm _700"
                      [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_AccountOverview.PurchaseAmount| number: "1.2-2" || "--"}}
                  </div>
                  <div class="d-block f-s-11">Purchase
                    <span class=" text-xxs text-success _700 pr-1"
                      [ngClass]="{'text-danger': _AccountOverview.PurchaseAmountDiff > _AccountOverview.PurchaseAmount, 
                                              'text-warning': _AccountOverview.PurchaseAmountDiff == _AccountOverview.PurchaseAmount , 
                                              'text-success': _AccountOverview.PurchaseAmountDiff < _AccountOverview.PurchaseAmount  }"> <i class="fa" [ngClass]="{'fa-chevron-circle-down': _AccountOverview.PurchaseAmountDiff > _AccountOverview.PurchaseAmount, 
                                              'fa-chevron-circle-up': _AccountOverview.PurchaseAmountDiff == _AccountOverview.PurchaseAmount ||    _AccountOverview.PurchaseAmountDiff < _AccountOverview.PurchaseAmount 
                                               }"></i>
                      {{(_AccountOverview.PurchaseAmount - _AccountOverview.PurchaseAmountDiff) | number: "1.2-2" }}
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="py-2 d-block">
                  <div class="d-block text-lg "><span class="text-sm _700 pr-1"
                      [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_AccountOverview.CashRewardPurchaseAmount| number: "1.2-2" || "--"}}
                  </div>
                  <div class="d-block f-s-11">Cash Payments
                    <span class=" text-xxs text-success _700"
                      [ngClass]="{'text-danger': _AccountOverview.CashRewardPurchaseAmountDiff > _AccountOverview.CashRewardPurchaseAmount, 
                                                'text-warning': _AccountOverview.CashRewardPurchaseAmountDiff == _AccountOverview.CashRewardPurchaseAmount , 
                                                'text-success': _AccountOverview.CashRewardPurchaseAmountDiff < _AccountOverview.CashRewardPurchaseAmount  }">
                      <i class="fa" [ngClass]="{'fa-chevron-circle-down': _AccountOverview.CashRewardPurchaseAmountDiff > _AccountOverview.CashRewardPurchaseAmount, 
                                                'fa-chevron-circle-up': _AccountOverview.CashRewardPurchaseAmountDiff == _AccountOverview.CashRewardPurchaseAmount || _AccountOverview.CashRewardPurchaseAmountDiff < _AccountOverview.CashRewardPurchaseAmount   
                                               }"></i>
                      {{(_AccountOverview.CashRewardPurchaseAmount - _AccountOverview.CashRewardPurchaseAmountDiff) | number: "1.2-2" }}
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="py-2 d-block">
                  <div class="d-block text-lg "><span class="text-sm _700 pr-1"
                      [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_AccountOverview.CardRewardPurchaseAmount| number: "1.2-2" || "--"}}
                  </div>
                  <div class="d-block f-s-11">Card Payments
                    <span class="text-xxs text-success _700"
                      [ngClass]="{'text-danger': _AccountOverview.CardRewardPurchaseAmountDiff > _AccountOverview.CardRewardPurchaseAmount, 
                                                  'text-warning': _AccountOverview.CardRewardPurchaseAmountDiff == _AccountOverview.CardRewardPurchaseAmount , 
                                                  'text-success': _AccountOverview.CardRewardPurchaseAmountDiff < _AccountOverview.CardRewardPurchaseAmount  }">
                      <i class="fa" [ngClass]="{'fa-chevron-circle-down': _AccountOverview.CardRewardPurchaseAmountDiff > _AccountOverview.CardRewardPurchaseAmount, 
                                                  'fa-chevron-circle-up': _AccountOverview.CardRewardPurchaseAmountDiff == _AccountOverview.CardRewardPurchaseAmount || _AccountOverview.CardRewardPurchaseAmountDiff < _AccountOverview.CardRewardPurchaseAmount 
                                                    }"></i>
                      {{(_AccountOverview.CardRewardPurchaseAmount - _AccountOverview.CardRewardPurchaseAmountDiff) | number: "1.2-2" }}
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6 col-lg-3">
            <div class="box p-3 bg-app">
              <div class="d-flex">
                <span class="text-white"> Merchants</span>
              </div>
              <div class="py-2 text-center text-lg text-white">
                {{_HelperService._AccountOverview.Merchants | number: "1.0-1" || "--"}}
              </div>
              <div class="text-white text-xs">
                All merchants using with pos terminals
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-3">
            <div class="box p-3 bg-app">
              <div class="d-flex">
                <span class="text-white"> Merchant Locations</span>
              </div>
              <div class="py-2 text-center text-lg text-white">
                {{ _HelperService._AccountOverview.Stores | number: "1.0-1" || "--" }}
              </div>
              <div class="text-white text-xs">
                All merchant store locations with pos
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-3">
            <div class="box p-3 bg-app">
              <div class="d-flex">
                <span class="text-white"> Terminals</span>
              </div>
              <div class="py-2 text-center text-lg text-white">
                {{_HelperService._AccountOverview.Terminals | number: "1.0-1" || "--"}}
              </div>
              <div class="text-white text-xs">
                All pos terminals of merchants
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-3">
            <div class="box p-3 bg-app">
              <div class="d-flex">
                <span class="text-white">Terminal Providers</span>
              </div>
              <div class="py-2 text-center text-lg text-white">
                {{_HelperService._AccountOverview.Ptsp | number: "1.0-1" || "--"}}
              </div>
              <div class="text-white text-xs">
                All pos terminal providers for payments
              </div>
            </div>
          </div>
        </div>
        <div class="box ">
          <div class="box-header">
            <h3 class="text-warn"> Sales Overview</h3>
            <small class="text-gray">Transaction divided by payment type done on pos termianls
            </small>
          </div>
          <div class="row no-gutters mb-2 pb-3 pl-3 pr-3 ">
            <div class="col-lg-4  col-md-3 col-sm-6 col-xs-12 pr-4">
              <div class="py-2 text-lg text-warn">
                <span class=" text-sm"
                  [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_HelperService._AccountOverview.PurchaseAmount| number: "1.2-2" || "--"}}
              </div>
              <div>
                Total Sale
                <span
                  class="float-right">{{ _HelperService._AccountOverview.Transactions | number: "1.0-1" || "--"}}</span>
              </div>
              <div class="text-muted">
                Total sale done at terminals
              </div>
            </div>
            <div class="col-lg-4  col-md-3 col-sm-6 col-xs-12 pr-4">
              <div class="py-2  text-lg text-warn">
                <span class=" text-sm"
                  [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{ _HelperService._RewardTypeOverview.CardRewardPurchaseAmount| number: "1.2-2" || "--" }}
              </div>
              <div>
                Card Payments
                <span
                  class="float-right">{{ _HelperService._RewardTypeOverview.CardRewardTransactions | number: "1.0-1" || "--"}}</span>
              </div>
              <div class="text-muted ">
                Payment made through credit or debit card
              </div>
            </div>
            <div class="col-lg-4  col-md-3 col-sm-6 col-xs-12 pr-4">
              <div class="py-2 text-lg text-success">
                <span class=" text-sm"
                  [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{ _HelperService._RewardTypeOverview.CashRewardPurchaseAmount | number: "1.2-2" || "--"}}
              </div>
              <div class="">
                Cash Payments
                <span
                  class="float-right">{{ _HelperService._RewardTypeOverview.CashRewardTransactions | number: "1.0-1" || "--"}}</span>
              </div>
              <div class="ext-muted ">
                Cash payment done at store location by customers
              </div>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-md-3" *ngFor="let TItem of _HelperService._RewardTypeOverview.AppUsersCardType">
            <div class="box shadow  r-2x shadow-lg"
              [ngClass]="{'bg-mastercard': TItem.Name  == 'Mastercard',  'bg-visa-card': TItem.Name  == 'VISA',  'bg-verve-card': TItem.Name  == 'Verve'}">
              <div class="box-body text-white ">
                <div class="text-lg text-center">
                  <i class="fab "
                    [ngClass]="{'fa-cc-mastercard': TItem.Name  == 'Mastercard',  'fa-cc-visa': TItem.Name  == 'VISA',  'far fa-credit-card': TItem.Name  == 'Verve'}"></i>
                </div>
                <div class="_500 pb-2 text-xxs text-center">
                  {{ TItem.Name || "--" }}
                </div>
                <div class="text-center _500">
                  <span class=" text-sm" [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                  <span class="text-md">{{TItem.Purchase | number: "1.2-2" || "--"}}</span>
                </div>
                <div class="text-center text-xxs _500 text-uppercase mb-2">Total Sale</div>
                <div class="text-uppercase _500 text-xxs mb-2">
                  Users <span class="float-right">{{ TItem.Users || "--" }}</span>
                </div>
                <div class="text-uppercase _500 text-xxs ">
                  Transactions <span class="float-right">{{ TItem.Transactions || "--" }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="box ">
          <div class="box-header">
            <h3 class="text-warn">Terminals Activity Overview</h3>
            <small class="text-gray"> Terminal activity overview based on transactions
            </small>
          </div>
          <div class="row no-gutters pb-3 pl-3 pr-3">
            <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 pr-2">
              <div class="py-2  text-lg text-success ">
                {{ _HelperService._AccountOverview.ActiveTerminals  | number: "1.0-1" || "--" }}
              </div>
              <div>
                Active Terminals
              </div>
              <div class="text-xs text-muted ">
                Terminals used within 24 hours for payment
              </div>
            </div>
            <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 pr-2">
              <div class="py-2  text-lg text-warning ">
                {{_HelperService._AccountOverview.IdleTerminals | number: "1.0-1" || "--" }}
              </div>
              <div>
                Idle Terminals
              </div>
              <div class="text-xs text-muted ">
                Terminals used within last 7 days for payment
              </div>
            </div>
            <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 pr-2">
              <div class="py-2  text-lg text-danger ">
                {{
                      _HelperService._AccountOverview.DeadTerminals
                        | number: "1.0-1" || "--"
                    }}
              </div>
              <div>
                Dead Terminals
              </div>
              <div class="text-xs text-muted">
                Terminals not used more than 7 days for payments
              </div>
            </div>
            <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 pr-2">
              <div class="py-2  text-lg text-muted ">
                {{_HelperService._AccountOverview.UnusedTerminals  | number: "1.0-1" || "--"}}
              </div>
              <div>
                Unused Terminals
              </div>
              <div class="text-xs text-muted ">
                Terminals added but never used for payments
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-4" *ngFor="let TItem of _HelperService._AccountOverview.PosOverview">
            <div class="box ">
              <div class="box-header">
                <h3 class="text-warn">
                  <img style="    width: 20px;
        float: left;
        margin-right: 5px;
        border: 1px solid #ccc;
        border-radius: 3px;" src="{{TItem.IconUrl}}">
                  {{TItem.DisplayName}} - Terminals
                  <span class="float-right">
                    {{ TItem.Terminals}}
                  </span>
                </h3>
              </div>
              <div class="row row-col no-gutters pb-3 rounded-bottom text-center">
                <div class="col-4 b-r">
                  <a class="py-1 d-block">
                    <span class="d-block  text-md   text-success">{{ TItem.ActiveTerminals}}</span>
                    <span class="d-block text-uppercase text-xxs _600 text-muted">Active</span>
                  </a>
                </div>
                <div class="col-4 b-r"><a class="py-1 d-block"><span
                      class="d-block  text-md text-deep-orange">{{ TItem.IdleTerminals}}</span><span
                      class="d-block text-uppercase text-xxs _600  text-muted">Idle</span></a></div>
                <div class="col-4"><a class="py-1 d-block">
                    <span class="d-block  text-md text-danger">{{ TItem.DeadTerminals}}</span>
                    <span class="d-block text-uppercase text-xxs _600  text-muted">Dead</span>
                  </a></div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="box ">
              <div class="box-header">
                <h3 class="text-warn">
                  Transaction Status
                </h3>
              </div>
              <div class="row row-col no-gutters pb-3 rounded-bottom text-center">
                <div class="col-6 b-r">
                  <a class="py-1 d-block">
                    <span
                      class="d-block  text-md   text-success">{{_HelperService._AccountOverview.TransactionSuccess | number: "1.0-1" || "--"    }}</span>
                    <span class="d-block text-uppercase text-xxs _600 text-muted">Success</span>
                  </a>
                </div>
                <div class="col-6 b-r"><a class="py-1 d-block"><span
                      class="d-block  text-md text-deep-orange">{{_HelperService._AccountOverview.TransactionFailed | number: "1.0-1" || "--" }}</span><span
                      class="d-block text-uppercase text-xxs _600  text-muted">Failed</span></a></div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="fade aside aside-lg b-l b-r" id="content-aside" *ngIf="_HelperService.ShowAsidePanel">
    <div class="modal-dialog d-flex flex-column w-md h-100   lt">
      <div class="scrollable hover">
        <div class="row text-center m-2 mt-3 white shadow r-2x">
          <div class="col-md-12 pt-2  text-left">
            <span class="text-warn _600 ">Today Active </span>
            <span class="pl-1">
              <a (click)="GetAccountOverviewLite()"><i class="fa fa-fw  f-s-11 fa-sync text-success"></i></a>
            </span>
          </div>
          <div class="col-md-6 ">
            <div class="py-2 d-block">
              <div class="d-block text-lg text-warn "
                [ngClass]="{'text-danger': _AccountOverview.ActiveMerchantsDiff > _AccountOverview.ActiveMerchants, 
                                      'text-warning': _AccountOverview.ActiveMerchantsDiff == _AccountOverview.ActiveMerchants , 
                                      'text-success': _AccountOverview.ActiveMerchantsDiff < _AccountOverview.ActiveMerchants  }">
                {{_AccountOverview.ActiveMerchants | number: "1.0-1" || "--"}}

                <span class=" f-s-11  _600"
                  [ngClass]="{'text-danger': _AccountOverview.ActiveMerchantsDiff > _AccountOverview.ActiveMerchants, 
                                      'text-warning': _AccountOverview.ActiveMerchantsDiff == _AccountOverview.ActiveMerchants , 
                                      'text-success': _AccountOverview.ActiveMerchantsDiff < _AccountOverview.ActiveMerchants  }">
                  <i class="fa " [ngClass]="{'fa-chevron-circle-down': _AccountOverview.ActiveMerchantsDiff > _AccountOverview.ActiveMerchants, 
                                      'fa-chevron-circle-up': _AccountOverview.ActiveMerchantsDiff == _AccountOverview.ActiveMerchants  || _AccountOverview.ActiveMerchantsDiff < _AccountOverview.ActiveMerchants
                                        }"></i>
                  {{_AccountOverview.ActiveMerchants - _AccountOverview.ActiveMerchantsDiff}} </span>
              </div>
              <div class="d-block f-s-11"> Merchants</div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="py-2 d-block">
              <div class="d-block text-lg text-warn "
                [ngClass]="{'text-danger': _AccountOverview.ActiveTerminalsDiff > _AccountOverview.ActiveTerminals, 
                                      'text-warning': _AccountOverview.ActiveTerminalsDiff == _AccountOverview.ActiveTerminals , 
                                      'text-success': _AccountOverview.ActiveTerminalsDiff < _AccountOverview.ActiveTerminals  }">
                {{_AccountOverview.ActiveTerminals | number: "1.0-1" || "--"}}
                <span class=" f-s-11  _600"
                  [ngClass]="{'text-danger': _AccountOverview.ActiveTerminalsDiff > _AccountOverview.ActiveTerminals, 
                                      'text-warning': _AccountOverview.ActiveTerminalsDiff == _AccountOverview.ActiveTerminals , 
                                      'text-success': _AccountOverview.ActiveTerminalsDiff < _AccountOverview.ActiveTerminals  }">
                  <i class="fa "
                    [ngClass]="{'fa-chevron-circle-down': _AccountOverview.ActiveTerminalsDiff > _AccountOverview.ActiveTerminals, 
                                      'fa-chevron-circle-up': _AccountOverview.ActiveTerminalsDiff == _AccountOverview.ActiveTerminals , 
                                      'fa-chevron-circle-up': _AccountOverview.ActiveTerminalsDiff < _AccountOverview.ActiveTerminals  }"></i>
                  {{_AccountOverview.ActiveTerminals - _AccountOverview.ActiveTerminalsDiff}} </span>
              </div>
              <div class="d-block f-s-11"> Terminals</div>
            </div>
          </div>
        </div>
        <div class="d-block pt-3 pl-3 pb-2 pr-3 pb-1 text-left">
          <span class="text-warn _600 "> Recent Transactions </span>
          <span class="pl-1">
            <a (click)="TUTr_GetData()"><i class="fa fa-fw  f-s-11 fa-sync text-success"></i></a>
          </span>
        </div>
        <div class="box shadow r-2x m-2 p-2" *ngFor="let TItem of TUTr_Config.Data">
          <span class="float-right _500">
            <span class="text-sm" [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span> {{TItem.InvoiceAmount}}
          </span>
          <div class="text-sm _500 ">
            {{TItem.UserDisplayName}}
          </div>
          <div class="text-xs  text-muted">
            {{TItem.ParentDisplayName}}
          </div>
          <div class="text-xs ">
            <span class="text-muted"> {{TItem.TransactionDate}}
            </span>
            <span class="badge float-right text-lowercase" [ngClass]="TItem.StatusBadge">
              {{TItem.StatusName}}
            </span>
          </div>






        </div>
      </div>
    </div>
  </div>
</div>

 -->