<div class="card bd-t-0">
    <div class="card-header pt-0">
        <button class="px-4 float-right btn tx-12 btn-success rounded-50" (click)="Form_AddUser_Show()"> New Member
        </button>

    </div>
    <div class="box-header px-3 py-3 d-flex align-items-center justify-content-between">
        <div class="form-inline ">
            <div class="input-group input-group-sm mr-3">
                <input type="text" class="form-control" [value]="RMsList_Config.SearchParameter" maxlength="100"
                    class="form-control" placeholder="{{ 'Common.Search' | translate }}"
                    (keyup)="RMsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Search)">
                <div class="input-group-append">
                    <button class="btn btn-outline-light" type="button"
                        (click)="RMsList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.Search)"><i
                            data-feather="search"></i> </button>
                </div>
            </div>
            <span class="badge badge-pill badge-primary"
                *ngFor="let TItem of RMsList_Config.Filters">{{TItem.Title}}</span>
        </div>
        <nav class="nav nav-with-icon tx-20">
            <div class="dropdown dropleft">
                <a href="" class="nav-link mr-2" id="RMsList_sdropdown" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false"> <i data-feather="align-left" class="tx-20"></i> </a>
                <div class="dropdown-menu tx-13">
                    <form class="wd-250 pd-15">
                        <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Sort
                            <div class="float-right tx-20" *ngIf="RMsList_Config.Sort.SortOrder == 'desc'"
                                (click)="RMsList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                                <i class="fas fa-sort-alpha-down-alt"></i>
                            </div>
                            <div class="float-right tx-20" *ngIf="RMsList_Config.Sort.SortOrder == 'asc'"
                                (click)="RMsList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                                <i class="fas fa-sort-alpha-up-alt"></i>
                            </div>
                        </h6>

                        <a class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} "
                            *ngFor="let TItem of RMsList_Config.Sort.SortOptions"
                            (click)="RMsList_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
                            {{TItem.Name}}
                        </a>


                        <!-- <button type="button" class="btn btn-light btn-sm mr-2 mg-t-20"
                            (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
                            Reset</button>
                        <button type="button" class="btn btn-primary btn-sm mg-t-20"
                            (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Sort')">Apply</button> -->
                        <!-- <div *ngFor="let TItem of RMsList_Config.SortExpressionOption"
                            (click)="RMsList_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
                            {{TItem.Name}}
                        </div> -->
                        <!-- <div class="mt-2">
                            <button type="button" class="btn btn-primary btn-sm mr-2"
                                (click)="RMsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.SortApply)">Apply</button>

                            <button type="button" class="btn btn-light btn-sm "
                                (click)="RMsList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortReset)">
                                Reset</button>
                        </div> -->
                    </form>
                </div>
            </div>
            <div class="dropdown dropleft">
                <a href="" class="nav-link" id="RMsList_fdropdown" data-toggle="dropdown" aria-haspopup="true"
                    (click)="_HelperService.StopClickPropogation()" aria-expanded="false"> <i data-feather="filter"></i>
                </a>
                <div class="dropdown-menu tx-13">
                    <form class="wd-250 pd-15" *ngIf="ResetFilterControls">
                        <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Filters
                        </h6>
                        <div>
                            <div class="form-group">
                                <label>Date</label>
                                <input type="text" class="form-control  form-daterangepicker" name="daterangeInput"
                                    daterangepicker [options]="_HelperService.AppConfig.DateRangeOptions"
                                    (selected)="RMsList_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" />
                            </div>
                        </div>
                        <div>
                            <div class="form-group">
                                <label>Status</label>
                                <select2 [options]="_DataHelperService.S2_Status_Option" class="wd-100p"
                                    [data]="RMsList_Config.StatusOptions"
                                    (valueChanged)="RMsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)">
                                </select2>
                            </div>
                        </div>
                        <div>
                            <div class="form-group">
                                <label>Branch</label>
                                <select2 [options]="UserAccounts_Filter_Owners_Option" class="wd-100p"
                                    (valueChanged)="UserAccounts_Filter_Owners_Change($event)">
                                </select2>
                            </div>
                        </div>
                        <button type="button" class="btn btn-light btn-sm mr-2"
                            (click)="RMsList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.ResetOffset);ResetFilterUI()">
                            Reset</button>
                        <button type="button" class="btn btn-primary btn-sm "
                            (click)="RMsList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter)">Apply</button>
                    </form>
                </div>
            </div>
            <a class="nav-link ml-2 RefreshColor"
                (click)="RMsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Refresh)"> <i
                    data-feather="refresh-cw"></i> </a>
        </nav>
    </div>
    <div class="card-body p-0">
        <table class="{{_HelperService.AppConfig.TablesConfig.DefaultClass}}">
            <thead>
                <tr>
                    <th class="text-center">
                    </th>
                    <th>
                        Name
                    </th>

                    <th>
                        Contact
                    </th>
                    <th class="text-center">
                        Designation
                    </th>
                    <th class="">
                        Reporting To
                    </th>
                    <th class="text-center">
                        POS
                    </th>
                    <th class="text-center">
                        Stores
                    </th>
                    <th>
                        Added on
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="cursor-pointer" (click)="RMsList_RowSelected(TItem)"
                    *ngFor="let TItem of RMsList_Config.Data  | paginate: { id: 'RMsList_Paginator',itemsPerPage: RMsList_Config.PageRecordLimit, currentPage: RMsList_Config.ActivePage,  totalItems: RMsList_Config.TotalRecords }">
                    <td class="text-center">
                        <img class="br" src="{{TItem.IconUrl}}" class="img wd-40 ht-40 rounded-circle bd bd-2"
                            [style.border-color]="TItem.StatusC">
                    </td>
                    <td>
                        <div class="tx-semibold">{{TItem.Name  || "--"}}</div>
                        <div class="text-muted tx-12">{{TItem.BranchName  || "--"}}</div>
                    </td>

                    <td>
                        {{TItem.MobileNumber  || "--"}}
                        <div class="text-muted tx-12">{{TItem.EmailAddress  || "--"}}</div>

                    </td>
                    <td class="text-center">
                        {{TItem.RoleName || "--"}}
                    </td>
                    <td class="text-primary">
                        {{TItem.OwnerDisplayName || "--"}}
                    </td>
                    <td class="text-center">
                        {{TItem.Terminals}}
                    </td>
                    <td class="text-center">
                        {{TItem.Stores}}
                    </td>
                    <td>
                        {{TItem.CreateDate  || "--"}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer pd-20">
        <span class="mr-3">
            {{ 'Common.Showing' | translate }}
            <span class="bold">{{RMsList_Config.ShowingStart}} {{ 'Common.To' | translate }}
                {{RMsList_Config.ShowingEnd}}
            </span> {{ 'Common.Of' | translate }} {{RMsList_Config.TotalRecords}}
        </span>
        <span>
            {{ 'Common.Show' | translate }}
            <select class="wd-40 " [(ngModel)]="RMsList_Config.PageRecordLimit"
                (ngModelChange)="RMsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
                <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
                    {{TItem}}
                </option>
            </select>
        </span>
        <span class="float-right">
            <pagination-controls id="RMsList_Paginator" class="pagination pagination-space"
                (pageChange)="RMsList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
                nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
            </pagination-controls>
        </span>
    </div>
</div>

<div id="Form_AddUser_Content" class="modal fade" data-backdrop="true" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form [formGroup]="Form_AddUser" (ngSubmit)="Form_AddUser_Process(Form_AddUser.value)" role="form">
                <div class="modal-header">
                    <h5 class="modal-title">Add Member</h5>
                </div>
                <div class="modal-body  p-lg">
                    <div class="col-md-12">
                        <!-- <div class="row">
                            <div class="col-md-12">
                                <div class="form-group" *ngIf="!_HelperService.IsFormProcessing">
                                    <label>{{ 'System.Menu.Branch' | translate }}<span class="text-danger">*</span>
                                    </label>
                                    <select2 name="S2GetBranches" class="full-width" [options]="GetBranches_Option"
                                        (valueChanged)="GetBranches_ListChange($event)"></select2>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group" *ngIf="!_HelperService.IsFormProcessing">
                                    <label>{{ 'System.Users.Role' | translate }}<span class="text-danger">*</span>
                                    </label>
                                    <select2 name="S2GetRoles" class="full-width" [data]="_Roles"
                                        [options]="Get_Roles_Load_Option" (valueChanged)="GetRoles_ListChange($event)">
                                    </select2>

                                </div>
                            </div>
                        </div>
                        <div class="row" *ngIf="_ShowReportingM">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>{{ 'System.Users.ReportingManager' | translate }}<span
                                            class="text-danger">*</span>
                                    </label>
                                    <select2 name="S2GetManagers" class="full-width" [options]="GetMangers_Option"
                                        (valueChanged)="GetMangers_ListChange($event)"></select2>
                               
                                </div>
                            </div>
                        </div> -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>{{ "System.Users.Name" | translate
                          }}<span class="text-danger">*</span>
                                    </label>
                                    <div class="controls">
                                        <input type="text" name="Name" maxlength="128" class="form-control"
                                            [formControl]="Form_AddUser.controls['Name']" [ngClass]="{
                              'is-invalid':
                                !Form_AddUser.controls['Name'].valid &&
                                Form_AddUser.controls['Name'].touched
                            }" />
                                    </div>
                                    <label class="text-danger" for="Name" *ngIf="
                            Form_AddUser.controls['Name'].hasError('required') &&
                            Form_AddUser.controls['Name'].touched
                          ">{{
                            "System.Users.Name_ER_Required" | translate
                          }}</label>
                                    <label class="text-danger" for="Name" *ngIf="
                            Form_AddUser.controls['Name'].hasError(
                              'minlength'
                            ) ||
                            Form_AddUser.controls['Name'].hasError('maxlength')
                          ">{{ "System.Users.Name_ER_Length" | translate }}</label>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>{{ "System.Users.MobileNumber" | translate
                          }}<span class="text-danger">*</span>
                                    </label>
                                    <div class="controls">
                                        <input type="text" name="MobileNumber" minlength="10" maxlength="14"
                                            class="form-control" (keypress)="_HelperService.PreventText($event)"
                                            [formControl]="Form_AddUser.controls['MobileNumber']" [ngClass]="{
                              'is-invalid':
                                !Form_AddUser.controls['MobileNumber'].valid &&
                                Form_AddUser.controls['MobileNumber'].touched
                            }" />
                                    </div>
                                    <label class="text-danger" for="MobileNumber" *ngIf="
                            Form_AddUser.controls['MobileNumber'].hasError(
                              'required'
                            ) && Form_AddUser.controls['MobileNumber'].touched
                          ">{{
                            "System.Users.MobileNumber_ER_Required" | translate
                          }}</label>
                                    <label class="text-danger" for="MobileNumber" *ngIf="
                            Form_AddUser.controls['MobileNumber'].hasError(
                              'minlength'
                            ) ||
                            Form_AddUser.controls['MobileNumber'].hasError(
                              'maxlength'
                            )
                          ">{{
                            "System.Users.MobileNumber_ER_Length" | translate
                          }}</label>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>{{ "System.Users.EmailAddress" | translate
                          }}<span class="text-danger">*</span>
                                    </label>
                                    <div class="controls">
                                        <input type="text" name="EmailAddress" maxlength="256" class="form-control"
                                            [formControl]="Form_AddUser.controls['EmailAddress']" [ngClass]="{
                              'is-invalid':
                                !Form_AddUser.controls['EmailAddress'].valid &&
                                Form_AddUser.controls['EmailAddress'].touched
                            }" />
                                    </div>
                                    <label class="text-danger" for="EmailAddress" *ngIf="
                            Form_AddUser.controls['EmailAddress'].hasError(
                              'required'
                            ) && Form_AddUser.controls['EmailAddress'].touched
                          ">{{
                            "System.Users.EmailAddress_ER_Required" | translate
                          }}</label>

                                    <label class="text-danger" for="EmailAddress" *ngIf="
                            Form_AddUser.controls['EmailAddress'].hasError('email') &&
                            Form_AddUser.controls['EmailAddress'].touched
                          ">{{
                            "System.Users.EmailAddress_ER_Invalid" | translate
                          }}</label>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal"
                        (click)="Form_AddUser_Close()">
                        {{ "Common.Cancel" | translate }}
                    </button>
                    <button type="submit" class="btn btn-primary" (click)="Form_AddUser.value.OperationType = 'new'"
                        [disabled]="!Form_AddUser.valid || _HelperService.IsFormProcessing">
                        <span *ngIf="!_HelperService.IsFormProcessing">
                            {{ "Common.Save" | translate }}
                        </span>
                        <span *ngIf="_HelperService.IsFormProcessing">
                            <i class="{{ 'Common.SpinnerIcon' | translate }}"></i>
                            {{ "Common.PleaseWait" | translate }}...
                        </span>
                    </button>

                    <!-- <button type="submit" class="btn btn-outline b-warn text-warn mr-2"
                              (click)="Form_AddUser.value.OperationType='edit'"
                              [disabled]="!Form_AddUser.valid || _HelperService.IsFormProcessing">
                              <span *ngIf="!_HelperService.IsFormProcessing">
                                  {{ 'Common.SaveAndEdit' | translate }}
                              </span>
                              <span *ngIf="_HelperService.IsFormProcessing">
                                  <i class="{{ 'Common.SpinnerIcon' | translate }}"></i> {{ 'Common.PleaseWait' | translate
                                      }}...
                              </span>
                          </button> -->



                </div>
            </form>
        </div>
    </div>
</div>