<div class="card bd-t-0">
  <!-- <div class="card-header">
    <h6 class="tx-uppercase tx-semibold mg-b-0"> {{StoresList_Config.Title}}</h6>
  </div> -->
  <div class="box-header pt-0 px-3 pb-3 d-flex align-items-center justify-content-between">
    <div class="form-inline ">
      <div class="input-group input-group-sm mr-3">
        <input type="text" class="form-control" [value]="StoresList_Config.SearchParameter" maxlength="100"
          class="form-control" placeholder="{{ 'Common.Search' | translate }}"
          (keyup)="StoresList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Search)">
        <div class="input-group-append">
          <button class="btn btn-outline-light" type="button"
            (click)="StoresList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Search)"><i
              data-feather="search"></i> </button>
        </div>
      </div>
      <span class="badge badge-pill badge-primary"
        *ngFor="let TItem of StoresList_Config.Filters">{{TItem.Title}}</span>
    </div>
    <nav class="nav nav-with-icon tx-20">
      <div class="dropdown dropleft">
        <a href="" class="nav-link mr-2" id="StoresList_sdropdown" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false"> <i data-feather="align-left" class="tx-20"></i> </a>
        <div class="dropdown-menu tx-13">
          <form class="wd-250 pd-15">
            <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Sort
              <div class="float-right tx-20" *ngIf="StoresList_Config.Sort.SortOrder == 'desc'"
                (click)="StoresList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                <i class="fas fa-sort-alpha-down-alt"></i>
              </div>
              <div class="float-right tx-20" *ngIf="StoresList_Config.Sort.SortOrder == 'asc'"
                (click)="StoresList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.SortOrder)">
                <i class="fas fa-sort-alpha-up-alt"></i>
              </div>
            </h6>

            <a class="dropdown-item cursor-pointer {{TItem.SystemActive?  'SystemActive' :'' }} {{_HelperService.CheckMode == 'dark' ? 'text-white' : 'text-dark' }} "
              *ngFor="let TItem of StoresList_Config.Sort.SortOptions"
              (click)="StoresList_ToggleOption( TItem, _HelperService.AppConfig.ListToggleOption.Sort)">
              {{TItem.Name}}
            </a>
            <!-- <button type="button" class="btn btn-light btn-sm mr-2 mg-t-20"
              (click)="ResetFilters( null, _HelperService.AppConfig.ListToggleOption.ResetOffset)">
              Reset</button>
            <button type="button" class="btn btn-primary btn-sm mg-t-20"
              (click)="ApplyFilters( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter,'Sort')">Apply</button> -->


          </form>
        </div>
      </div>
      <div class="dropdown dropleft">
        <a href="" class="nav-link" id="StoresList_fdropdown" data-toggle="dropdown" aria-haspopup="true"
          (click)="_HelperService.StopClickPropogation()" aria-expanded="false"> <i data-feather="filter"></i> </a>
        <div class="dropdown-menu tx-13">
          <form class="wd-250 pd-15" *ngIf="ResetFilterControls">
            <h6 class="dropdown-header tx-uppercase tx-12 tx-bold tx-inverse pd-b-20 pd-l-0 pd-t-0">Filters
            </h6>
            <div>
              <div class="form-group">
                <label>Added on</label>
                <input type="text" class="form-control  form-daterangepicker" name="daterangeInput" daterangepicker
                  [options]="_HelperService.AppConfig.DateRangeOptions"
                  (selected)="StoresList_ToggleOption($event, _HelperService.AppConfig.ListToggleOption.Date)" />
              </div>
            </div>
            <div>
              <div class="form-group">
                <label>Status</label>
                <select2 [options]="_DataHelperService.S2_Status_Option" class="wd-100p"
                  [data]="StoresList_Config.StatusOptions"
                  (valueChanged)="StoresList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Status)">
                </select2>
              </div>
            </div>
            <div>
              <div class="form-group">
                <label>Owner</label>
                <select2 [options]="StoresList_Filter_Owners_Option" class="wd-100p"
                  (valueChanged)="StoresList_Filter_Owners_Change($event)">
                </select2>
              </div>
            </div>
            <button type="button" class="btn btn-light btn-sm mr-2"
              (click)="StoresList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.ResetOffset);ResetFilterUI()">
              Reset</button>
            <button type="button" class="btn btn-primary btn-sm "
              (click)="StoresList_ToggleOption( null, _HelperService.AppConfig.ListToggleOption.ApplyFilter)">Apply</button>

          </form>
        </div>
      </div>
      <a class="nav-link ml-2 RefreshColor RefreshColorOne cursor-pointer"
        (click)="StoresList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Refresh)"> <i
          data-feather="refresh-cw"></i> </a>
    </nav>
  </div>
  <div class="card-body p-0">
    <table class="{{_HelperService.AppConfig.TablesConfig.DefaultClass}}">
      <thead>
        <tr>
          <th class="td-status">
            <!-- <i class="{{ 'Common.StatusI' | translate }}"></i> -->
          </th>
          <th class="">
            Store Name
          </th>
          <th class="">
            City
          </th>
          <th class="">
            Today Tr Amt
          </th>
          <th class="">
            R. %
          </th>
          <th class="">
            POS
          </th>
          <th class="">
            Active POS
          </th>
          <th class="">
            RM
          </th>
          <th class="td-date">
            Active Date
          </th>

        </tr>
      </thead>
      <tbody>
        <tr class="cursor-pointer" (click)="StoresList_RowSelected(TItem)" *ngFor="let TItem of StoresList_Config.Data
                                                | paginate: { id: 'StoresList',itemsPerPage: StoresList_Config.PageRecordLimit, currentPage: StoresList_Config.ActivePage,
                                                totalItems: StoresList_Config.TotalRecords }">
          <td class="td-status text-center pl-0 ml-0">
            <img src="{{TItem.IconUrl}}" class="avatar-sm rounded-circle bd bd-2 bd-success"
              [style.border-color]="TItem.StatusC">
          </td>
          <td>
            <div class="tx-semibold tx-14">

              {{TItem.DisplayName}}
            </div>
            <div class="tx-12 text-muted">
              {{ TItem.Address | truncateText:40 }}
            </div>
          </td>

          <td>
            <div class="">

              {{TItem.City || "--"}}
            </div>
          </td>

          <td>
            <div class="tx-semibold tx-14">

              {{TItem.TodayTrAmount || "--"}}
            </div>
            <div class="tx-12 tx-muted">
              From {{ TItem.Transaction || "--"}} Transactions
            </div>
          </td>

          <td>
            <div class="">

              {{TItem.RewardPercentage || "--" }}
            </div>
          </td>

          <td>
            <div class="">

              {{TItem.Terminals || "--"}}
            </div>
          </td>

          <td>
            <div class="text-primary">

              {{TItem.ActivePos || "--" }}
            </div>
          </td>

          <td>
            <div class="">

              {{TItem.RegionManager || "--"}}
            </div>
          </td>

          <td>
            <div class="text-muted text-uppercase">

              {{TItem.CreateDate }}
            </div>
          </td>

        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer pd-20">
    <span class="mr-3">
      {{ 'Common.Showing' | translate }}
      <span class="bold">{{StoresList_Config.ShowingStart}} {{ 'Common.To' | translate }}
        {{StoresList_Config.ShowingEnd}}
      </span> {{ 'Common.Of' | translate }} {{StoresList_Config.TotalRecords}}
    </span>
    <span>
      {{ 'Common.Show' | translate }}
      <select class="wd-40 " [(ngModel)]="StoresList_Config.PageRecordLimit"
        (ngModelChange)="StoresList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
        <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
          {{TItem}}
        </option>
      </select>
    </span>
    <span class="float-right">
      <pagination-controls id="StoresList_Paginator" class="pagination pagination-space"
        (pageChange)="StoresList_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
        nextLabel="{{ 'Common.Next' | translate }}" previousLabel="{{ 'Common.Previous' | translate }}">
      </pagination-controls>
    </span>
  </div>
</div>